[2021-06-11 08:27] stepnem commented on #557
I agree the current behaviour breaks the principle of least surprise at least for people used to `1minutetip` (as evidenced by this and other discussions with the users), so if the intention for the plugin is to replace `1minutetip` or provide behaviour consistent with it, it would be better to preserve the `1minutetip` semantics for the interpretation of the image argument.

The `1minutetip` beha

[2021-06-11 08:41] RHEmployee commented on #557
Hello. Just note. Minute plugin in upstream is marked obsolete so this issue should be solved in
downstream.

[2021-06-11 08:43] Athwale commented on #557
I support the idea of selecting the latest newest image like 1mt does.

[2021-06-11 09:10] lukaszachy commented on #557
I created downstream issue.

[2021-06-11 09:23] lukaszachy commented on #803
I think we miss option to login immediately after failed test and cd into tests' workdir automatically.

[2021-06-11 12:11] lukaszachy commented on #197
Just a note for the future:
[code]
With keepchanges restraint doesn't is OK with package already installed so prepare step can install it on its own.
If /path is set to cwd for test then we might be OK with just creating 'metadata' file (similar to metadata.yaml) which need to contain
[code]
environment should be set from job.xml
require/libs/recommend installed already by prepare step

So just so

[2021-06-11 14:15] juk opened #804 "Add "--format identifiers" option for tests export"
Having tests fmf_id's information easily available would help to use TMT's tool filtering and discoverability features in pipeline with other tools (like wow) if necessary

Proposed syntax:
`
tmt tests export --format identifiers
`

[2021-06-16 07:44] sopos opened #806 "tmt tests export --nitrate does not honor different remote"
If there's more remotes defined in the repo `tmt tests export --nitrate` always use remote _origin_ regardless the real remote of the current branch so the test case reference actually points to different git repo.

[2021-06-16 10:00] frantisekz commented on #514
Testcloud master branch now support Vagrant Boxes (not a very nice piece of code, but gets the job done), CentOS version handles (centos:7/8/latest; centos-stream:8/latest ; this is unfortunately hard-coded for now, I'll try to ping someone if we can get a json form, I would try to avoid having to parse the html page) and fedora:rawhide handle (Rawhide Cloud is currently borked, filled a PR with f

[2021-06-17 07:38] kkaarreell commented on #585
Just a thought on the `rpmbuild -bp` approach mentioned above. This step involves a check that all BuildRequires are installed (this could be skipped with `--nodeps`). While some of those packages may be really necessary for running actual tests, it may not always be the case. In fact, installing unnecessary BuildRequires would probably result in requiring CRB and Buildroot repos and due to having

[2021-06-17 10:45] lukaszachy opened #807 "import assumes framework:beakerlib"
`tmt tests import` blindly assumes `framework:beakerlib`.
It should detect if beakerlib is used  in the test and set it only in such case.
Default framework is `shell` (by documentation)

[2021-06-22 07:44] FrNecas commented on #645
Out of these suggestions, I feel like removing successful runs (keeping failed runs) is the most non-invasive, it doesn't really affect the user experience. Especially if we do the removal in finish step since that means that if finish is for some reason skipped (e.g. debugging scenario - running `tmt run discover provision prepare execute report`) then the run is kept and the execute can be rerun

[2021-06-22 12:19] RHEmployee opened #811 "User confusion when tmt-provision-virtual is not installed."
Hello.

I just received reproducer for possible image bug in form of:

$ tmt run  provision -h virtual -i file://1MT-RHEL-9.0.0-20210613.4-Beta.qcow2
-vvv -ddd login

and I received:
Usage: tmt run provision [OPTIONS]
Try 'tmt run provision --help' for help.

Error: no such option: -i

So I was confused...

Help shows:
$ tmt run provision -h virtual --help
Usage: tmt run provision [OPTIONS]

  Pro

[2021-06-22 12:26] RHEmployee opened #812 "Traceback when kvm is not supported on machine"
Hello.

$ tmt run  provision -h virtual --image file://1MT-RHEL-x.x.x-xxxXXx1x.x-Beta.qcow2 -vvv -ddd login

on virtual machine without kvm support enabled raises traceback:
        progress: booting...
libvirt: QEMU Driver error : unsupported configuration: Emulator '/usr/bin/qemu-kvm' does not support
virt type 'kvm'
Traceback (most recent call last):
  File "/usr/bin/tmt", line 8, in <module>

[2021-06-22 14:23] psss commented on #726
Summary from today's hacking session brainstorm:

* The syntax outlined by @thrix sounds like a good start
    * The `on` keyword would be optional
    * If not provided, all guests would be considered, e.g. common `prepare`
* Two approaches discussed
    * Backward compatibile using rstrnt-sync-set & rstrnt-sync-block
    * Orchestrate testing from a single script on the test runner
* The multiho

[2021-06-22 15:12] psss commented on #514
That's great to hear! Thanks for all the improvements and sorry for late answer. Looking for the new release! :) Is there a copr build we could test with already now?

I would suggest to keep the notation consistent with other provision plugins, so `fedora:latest` would be the latest Fedora which has been released (similar to what `podman` does).

[2021-06-23 10:04] psss commented on #811
Hm, so what should we recommend to the user when `tmt-provision-virtual` is not available? The `provision` step method defaults to `virtual` but the plugin is not available with the "default" install using `dnf install -y tmt`. I don't think it would be good to default to `local` as this could break user's laptop...

[code]

I believe the command above should report an error if the `virtual` metho

[2021-06-23 10:33] FrNecas commented on #811
@psss Agree with your point on the default. With only `tmt` installed, there is only connect, local and minute obsolete neither of which make sense to use as a default for testing.

We could try to somehow fix the error messages so that they give information about the provision plugins but I am not completely sure how feasible is that. It probably comes from internal logic of click that will be di

[2021-06-23 14:33] psss commented on #811
I think the last suggestion makes sense. Btw, we already have a few hints implemented [here](https://github.com/psss/tmt/blob/master/tmt/steps/__init__.py#L301).

[2021-06-23 14:44] lukaszachy commented on #811
Do we have to have 'default' method? YMMV but I always either specify image (so I'm forced to specify --how as well), container or connect methods. And in CI "connect" is used (so provision in plan is ignored).

Hint with possible methods will be nice, but isn't it better to point to the documentation or `dnf search tmt-provision`? With hardcoded hints private provisions plugins will never be list

[2021-06-23 15:36] psss commented on #811
Good idea!

I think so. I find `tmt run` or `tmt run provision login finish` as a "nice" use cases :)

[2021-06-24 08:44] phracek opened #814 "Parametrize discover section"
Use case:

Let say, I have several repositories, lie in our organization https://github.com/sclorg
All of them would like to use fmf format and work with tmt.

nowadays, the discover section can look like this:

[code]

It means, that fmf file is closely connected to a specific repository.
But It would be nice and useful to parameterize it.
like

[code]

which comes from github action like here: h

[2021-06-24 11:52] lukaszachy commented on #814
Just to be sure: instead of 'tests' you mean 'url', right? https://tmt.readthedocs.io/en/stable/spec/plans.html#fmf

[2021-06-24 11:54] phracek commented on #814
Yes, URL. Still beginner at fmf/tmt

[2021-06-24 12:39] psss opened #815 "Document how to migrate tests from `STI` to `tmt`"
It would be good to provide a concise list of steps needed to convert `STI` tests to `tmt`. This would help new users of `tmt` get quickly started. I'd suggest to mention at least the following two scenarios:

* A (single) custom shell script execution (basically the `tmt init -t mini` scenario)
* Migrating beakerlib tests (covered by `tmt test import` and `tmt plan create -t base`)

It might make

[2021-06-24 12:48] mike-fabian commented on #815
This  simple example psss made was very helpful:

https://src.fedoraproject.org/rpms/ibus-m17n/c/88d0a1f9939cb93b147fd758e4647cf366ce6926?branch=rawhide

[2021-06-24 14:06] psss commented on #814
Looks like a nice improvement. A couple of questions come to my mind:

 * How shall we implement the substitution? Just replace any `$variable` strings? Or, to make the parsing easier, only notation like `${variable}` should be supported? Only if the environment variable is defined? Or always? Shall we use `os.path.expandvars()` for this?
 * Where should we support it? In `discover`, `provision`,

[2021-06-25 09:03] phracek commented on #814
If would say only ${variable} will be accepted and only if variable is defined. We do not provide a way to hack TMT :)
`os.path.expandvars` seems to be usable for this approach.

I would say all of them for sure.

[2021-06-25 11:45] lukaszachy opened #816 "tmt provision: err: Received disconnect from 127.0.0.1 port 10035:2: Too many authentication failures"
Main problem is that ssh-agent injects multiple identities before ssh even tries identity it was asked for.

Fix is to use `-o IdentitiesOnly=yes` and optionally add `-o PasswordAuthentication=yes` if password will be used (just PasswordAuthentication=yes still allows ssh-agent to inject all identities first and connection is closed before password prompt happens)
Another way is to unset / set emp

[2021-06-29 07:55] #816 closed

[2021-06-29 09:09] lukaszachy commented on #608
Sorry for taking this much time. On the hacking session we decide to fix this 2.0  together with artefact / workdir sync features.

[2021-06-29 11:11] psss commented on #84
Proposing for 2.0 as discussed on today's hacking session.

[2021-06-29 11:11] psss commented on #84
This is blocking #813.

[2021-06-29 11:38] psss opened #818 "Multiline shell scripts"
When a multi-line string is used as a shell script it is executed line by line and the exit code is taken from the last command. If such script is used as a test script, it can mask possible failures. Happened recently in the [pipenv](https://src.fedoraproject.org/rpms/pipenv/pull-request/38) project. Example config:

[code]

Execution silently passes:

[code]

Would it possibly make sense to use

[2021-06-29 12:00] hroncok commented on #818
As a CI user, I expect at least `set -e` is the default for multiline commands.

[2021-06-29 12:04] hroncok commented on #818
For example [GtiHub Actions use the following options for `run:` by default](https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-a-specific-shell):

    bash --noprofile --norc -eo pipefail

[2021-06-29 13:05] encukou commented on #818
Someone will be surprised by either behavior, but the risk analysis is pretty clear, IMO:
* If you expect failures in subcommands are OK, but they aren't, you'll get test failure and will need to change tests. I don't think that's a big deal.
* If you expect failures in subcommands fail the test, and they don't, your tests are worthless and you don't get any notification about it. That's pretty ba

[2021-06-29 15:15] juk commented on #804
Example of identifiers to return:
name: /distribution/ltp/lite
path: /distribution/ltp/lite
url: https://gitlab.someaddress.com/kernel
ref: kernel-sandbox

[2021-06-29 16:49] sopos commented on #800
I played with this a bit and found out that the issue comes from the fact that there's a _tmt plan_ defined which executes changed tests. This causes the unwanted tests to be included.
The solution is to use plans selector to effectively disable all the possibly existing plans like this: `tmt run plans --default`.

[2021-06-29 16:49] #800 closed

[2021-06-29 21:05] thrix commented on #815
Sounds like a plan to me! Glad to see this happening

[2021-06-30 07:56] lukaszachy opened #820 "Guest - Accept multiple ssh keys (at least in the API)"
SSH manpage says multiple -i options are accepted.
If tmt accepts that as well it will make life easier for custom provisioner plugins to list all possible keys and let ssh do its job and settle on the working one.

Use case: Image is either too old or too new to use common ssh identity key

[2021-06-30 08:06] bocekm opened #821 "RFE: Add timestamps to the tmt debug output"
Reason: There's a limit of 5 minutes for a test duration (https://tmt.readthedocs.io/en/stable/spec/tests.html#duration). But this limit applies to the _execute_ step of the tmt run only. Yet currently, for the lack of timestamps in the tmt output, it's not easy to find out how much time the execute step consumes.

@psss suggests to add the timestamp around this line: https://github.com/psss/tmt/b

[2021-06-30 08:19] psss commented on #821
As far as the format is concerned, I'd suggest something short & nice, perhaps a UTC timestamp like this?

[code]

Or, perhaps, adding the time part only would be just enough for most use cases?

[code]

[2021-06-30 08:53] psss commented on #821
@adka1408, would you be interested to look into this?

[2021-06-30 09:06] adka1408 commented on #821
@psss Yes, I will take a look.

[2021-06-30 10:28] dkarpele commented on #759
Hi @psss,
to clarify, I think it should be done like this:
`tmt test import` = `tmt test import --type multihost` (current behaviour tmt/convert.py#334)
`tmt test import --type` = `tmt test import --type multihost`

[2021-06-30 13:49] RHEmployee opened #822 "Traceback when podman is not installed"
$ tmt run provision -h container -vv -ddd

/var/tmp/tmt/run-028

/plans/features/advanced
        Read file '/var/tmp/tmt/run-028/plans/features/advanced/provision/step.yaml'.
        Step data not found.
        Read file '/var/tmp/tmt/run-028/plans/features/advanced/provision/guests.yaml'.
        Provisioned guests not found.
        Using the 'ProvisionPodman' plugin for the 'container' method

[2021-07-01 16:22] psss commented on #804
Just to clarify, the `path` key is only used when the `fmf` metadata tree root is not identical with the git repository root. See the [fmf id specification](https://fmf.readthedocs.io/en/latest/concept.html#identifiers) for more details. Regarding the format: I think we should always provide it as a list to allow exporting mutltiple tests:

[code]

Should `yaml` be the output format? Or shall we d

[2021-07-01 16:27] psss commented on #804
Thinking about it a bit more: Perhaps the command line should look like this?

[code]

And keep the `--format` for selecting the actual format:

[code]

[2021-07-03 14:18] frantisekz commented on #732
Yep, this should be fixed in version built just now in https://copr.fedorainfracloud.org/coprs/frantisekz/testcloud-wip/ . The fix will be part of next testcloud release.

[2021-07-07 07:57] psss commented on #732
Nice! Verified with `python3-testcloud-0.5.0-6.fc34.noarch` that it works as expected. Thanks for the fix, @frantisekz!

[2021-07-07 07:57] #732 closed

[2021-07-07 14:50] mike-fabian opened #824 "Please clarify how to set locale for test environment"
It looks like the locale from the environment where tmt is run is propagated into the test environment (probably because ssh does this).

This:

[tmt-run.txt](https://github.com/psss/tmt/files/6778098/tmt-run.txt)

is the output of 4 tmt runs,

[code]

the runs using ja_JP.UTF-8 fail, the runs using en_GB.UTF-8 succeed, so the locale is propagated into the test environment.

Changing the test like

[2021-07-08 07:32] jscotka opened #825 "RFE: test metadata (L1) setup and cleanup"
Hi, we've found that it would be very useful, that it would be nice to have something like `prepare` but for test metadata (L1)
so that there is `test:` and I propose also to be able to declare also `setup` and `cleanup` to run before and after test.

  - First PoC should be very easy to implement (more less same as test handling)
  - It could extend behaviour of TMT to be able to distinguish when

[2021-07-08 08:20] jscotka commented on #818
It is very hard to know the defaults. and I think it is completely okay to add at the beginning of your multiline script
`set -eux` than do it by default.

Because when I use it I have to know that there is some default  and in ideal case TMT so clean from definition that nobody needs to read the documentation. and when using multiline I expect it behaves as bash.

So from that perspective I think

[2021-07-08 08:43] jscotka commented on #814
HI,
I have fear that it is still hard to understand.
 - does that mean that ${A} will repolace this by env var from
   - cmdline  via `A=X tmt ...`
   - or via `tmt -e A=X`
   - or via `eviromnent: {A: X}` in plan definition?
   - or all of these are possible
  - or it will allow some jinja templates and work on this level so that
  - or it will extend yaml syntax by some substitions like: `A: X;

[2021-07-08 09:14] psss commented on #814
Regarding to which environment variable sources should be applied for the substitution I'd say definitely `--environment` on command line and `environment` key in L2 metadata. This should work consistenly with how environment variables are delivered to tests.

About handing over all environment variables from the `tmt` process itself I'm not sure. This needs to be clarified. It's a bit related to

[2021-07-08 09:30] psss commented on #818
I believe @encukou provided the key/essential point here:

This will help to prevent overlooking unexpected failures in the code, so `set -eo pipefail` seems like a reasonable default to me.

[2021-07-08 10:40] jscotka commented on #814
Yes, it is more less similar to **Jenkins** handling, that you can store e.g. in some job store variables to files and next job can read it from file. in case you will deselect cleanup of jenkins workspace.
then it allows you to create env vars inside prepare phase and use it in tests (execute) phase then.

Or another possibility is to use some simlar syntax what has **ansible**, something like re

[2021-07-08 11:07] jscotka commented on #818
Yes, exactly I've mention it as well. that it is safer option.

But could be harder especially using `-o pipefail` because lots of people uses `failed_command || /bin/true` to avoid raise exception in case using `set -eux` and then could be harder debug what happened. What is reason to look into tmt documentation, when bash script fails?
Maybe it has to be very clear at least in verbose or debug m

[2021-07-08 11:43] mike-fabian commented on #824
Interesting test:

[code]

[2021-07-08 11:45] psss commented on #824
So the `ssh` default for sending and accepting environment variables looks like this:

[code]

This means that the locale-related variables from the test runner will be sent by default (unless we want to explicitly disable this).

Regarding the best way how to set the locale for the test there are multiple options:

 * Include it in the `test` script command line
 * Define it in the `environment`

[2021-07-08 12:03] psss commented on #818
Yes, as part of the fix/change we document well the new default. Regarding multiple commands: This still can be useful if you want to see a nice overview of what passed and what failed as each of the script commands is handled as a separate test:

[code]

And the corresponding output:

[code]

[2021-07-08 12:13] psss commented on #824
Could you please try with this minimal reproducer?

[code]

Does it work for you with the default `virtual` provision at least?

[2021-07-08 12:42] mike-fabian commented on #824
Yes, this works. My example above didn’t have the `environment:` in main.fmf. Without that, the bash  used to run the comand  after `test:` tries to set the locale from the environment running tmt which might fail (doesn’t fail for en_US.UTF-8 but fails for ja_JP.UTF-8.

This `environment: ` option in main.fmf  is great, I didn’t know I could use that. Using that avoids surprises from the locale e

[2021-07-08 12:52] juk commented on #804
lgtm, thank you!

[2021-07-08 12:58] psss commented on #824
Good that it works for you now. Still I'm a bit confused why the following did not work:

[code]

With the slightly adjusted reproducer above this approach works for me as well.

[2021-07-08 13:17] psss commented on #804
Good, then it seems we have an agreement. I'll confirm the syntax on the next hacking session but I don't expect any substantial changes. @juk, are you interested in implementing this new feature?

[2021-07-08 13:19] psss commented on #804
@lukaszachy, the integration with `wow` should look like this?

[code]

Or there should be a new dedicated option for reading fmf identifiers from a file?

[code]

[2021-07-08 13:24] juk commented on #804
Sure, I can take this one

[2021-07-08 14:08] psss commented on #804
Great, thank you!

[2021-07-08 14:17] lukaszachy commented on #804
I'd prefer yaml's [Multi document](https://gettaurus.org/docs/YAMLTutorial/#YAML-Multi-Documents)
[code]

As for the format: yaml. If someone needs different format it can be added with `--format` option.

[2021-07-08 14:22] lukaszachy commented on #804
Currently we have `wow --fmf-id YAML_STRING` and `wow --fmf-id @file` both accepting single fmf identifier dictionary (directly or as a file content)

IMHO it makes more sense to extend fmf-id to accept `-` as STDIN and detect if multiple identifiers are present.

[2021-07-08 14:30] lukaszachy opened #829 "Make 'fmf wrapper' public"
It is used to execute tmt tests one-by-one in Beaker. We should make it public so it can be used for running test on deployments without dedicated tmt provision and execution method

[2021-07-08 14:39] mike-fabian commented on #824
I think “env LC_ALL=en_US.UTF-8 python3 test_appstream.py -v” is started in a shell (bash) which does a setlocale which makes an error message when it doesn't work (e.g. for ja_JP.UTF-8).

What is mysterious for me as well is why the “env LC_ALL=en_US.UTF-8 python3 test_appstream.py -v” could fail, because certainly the python3 process started there has en_US.UTF-8.

That python process then calls

[2021-07-08 14:41] psss commented on #804
What are the advantages when compared to a list? Just quickly experimented:

[code]

Is there a special way to parse such `yaml` files?

[2021-07-08 14:49] mike-fabian commented on #824
https://src.fedoraproject.org/rpms/appstream/pull-request/1

In this pull request I uncommented:

[code]

Because this part seems to be missing sometimes in the output of appstreamcli depending on the locale used to run tmt.

(And I didn’t yet know that I could use `environment:` in main.fmf)

[2021-07-08 14:54] psss commented on #824
Could you try adding the `environment` key with `LC_ALL` settings into the plan as well? This will cause the `prepare` step actions to be executed with the desired locale and should possibly fix the problem if `%posttrans` is the culprit.

[2021-07-08 15:06] lukaszachy commented on #804
[code]

I like that  you are making it explicit about accepting multiple objects. Not just by detection if the returned object is list or dict.

[2021-07-09 10:38] mike-fabian commented on #824
Not reproducible on rawhide,
[code]
always works, trying centos9 again ...

[2021-07-09 11:14] tomato42 commented on #536
Yes, I can confirm it works as expected with 1.6.0, must have used old version.

[2021-07-09 11:14] #536 closed

[2021-07-09 11:23] mike-fabian commented on #824
I did these changes now:

[code]

Addding the en_US.UTF-8 to `environment:` in `main.fmf` removes the ugly warning at the beginning of test:

[code]

But otherwise it does nothing, the test still fails because the output of appstreamcli lacks the `Package: emoji-picker` line.

Adding the

[code]

to `plans/basic.fmf` does not change that, it still fails.

But it succeeds in rawhide. So there is a

[2021-07-13 15:40] #759 closed

[2021-07-14 08:25] lukaszachy commented on #804
So I've started with wow part and both list and multi document are supported:
`list` (of dicts):
[code]
and `multidocument` (dicts):
[code]

What to use in tmt... I'd still prefer multidocument as it  says from the beginning it can contain multiple values, but if others prefer list I wouldn't block it on that.

[2021-07-14 08:36] jscotka commented on #825
few possible examples:
content of `curl.fmf`
[code]
Pros:
 - With same test for `curl` I can test it against apache or ngnix server very easily.
 - When `setup` of e.g. `apache` fails it does not make sense to run the test itself. because preparation is invalid
 - May report WARN or ERROR, not FAIL without beakerlib, where it is supported
 - It is simple solution, easy to implement
 - allow connec

[2021-07-14 13:43] #820 closed

[2021-07-14 16:03] psss commented on #804
Nice! Thanks.

Let's try it this way. And while we are looking into this, @juk could you please also fix plain `tmt test export` to separate individual tests using the `---` delimiter? I guess the implementation will be very close to the `export --identifiers` feature. Thanks.

[2021-07-14 16:04] psss commented on #804
This should be very easy to implement, let's try to finish this until the end of July to make it for `tmt-1.7`.

[2021-07-15 07:53] psss commented on #725
Sounds interesting! I've quickly experimented with the example above and it worked nice.

    dnf install --releasever 34 --nogpg --installroot=/tmp/spawn --repofrompath=f34,https://dl.fedoraproject.org/pub/fedora/linux/releases/34/Everything/x86_64/os/ systemd

What are the advantages of `nspawn` when compared to using `podman`?

[2021-07-15 13:41] ZhukovGreen commented on #814
Hey guys, just some alternative view. Now you're introducing to read env vars inside fmf format as a tool to adjust the metadata. However, there is an existing mechanism to adjust the metadata via https://tmt.readthedocs.io/en/stable/spec/core.html#adjust. So let's try to think also how it might look like if follow the existing mechanism.

I'd see it as follow:
[code]

It seems to me a bit dirty,

[2021-07-15 15:47] psss commented on #814
I don't think `adjust` is useful here. The `url` of the repository can be arbitrary so it does not make sense to enumerate all possible options. The context adjust comes in handy when doing a decision based on rules. I see it as a different use case.

[2021-07-15 17:29] juk commented on #804
@psss Plan to work on it week of Jul 19-23

[2021-07-16 10:53] lukaszachy commented on #814
Adjust is mainly for (my PoV):
- disable/enable plan or test (e.g. should not run on distro > rhel-8)
- modify require,recommend depending env, (different rpm names or distro / arch assumptions)
- export different variables later used in test (if-then branches inside test)

[2021-07-16 11:49] FrNecas commented on #822
This probably won't happen when using the `tmt` package (the podman module requires podman package) but good point that it may be confusing when developing/using tmt from source code. Will be an easy fix

[2021-07-16 15:57] FrNecas opened #837 "New testcloud version throws an exception"
Reproducer with the latest tmt from master branch (with testcloud 0.6.0):
[code]

results in:
[code]

Looks like testcloud is trying to create a lock `/var/lib/testcloud/testcloud.lock` (but without root it doesn't have permission to write there), it fails and hence the `fd` attribute is not set. The destructor then assumes it is set which is not true. Looks like a bug in testcloud (CC: @frantisek

[2021-07-16 17:18] frantisekz commented on #837
@FrNecas thanks for reporting the issue. I've prepared a PR which fixes the behavior for me: https://pagure.io/testcloud/pull-request/113

The problem was with using default arg in FileLock class. Having it in a separate file which is importing testcloud's config caused that it didn't use the value provided by tmt.  Also, it seems only non-rpm testcloud installations were affected (eg. from pypi),

[2021-07-16 17:20] frantisekz commented on #837
If it doesn't hurry too much, I'll cut next minor testcloud release either on Monday or Tuesday. I can fast-track this and release today if necessary.

[2021-07-16 18:06] FrNecas commented on #837
@frantisekz Thanks a lot for the quick fix! I just gave it a try on your branch with tmt and it works great. There is no need to rush, Monday or Tuesday works fine. Tmt's release is planned for the end of the month so it would be great to have it fixed for the release. I will keep the issue open for now, since we will have to bump the required version. Can you please let us know once the release i

[2021-07-19 06:19] ZhukovGreen commented on #814
I understand. Perhaps this would help if docs for adjust https://tmt.readthedocs.io/en/stable/spec/core.html#adjust will be more specific

[2021-07-19 07:45] ZhukovGreen commented on #814
FYI, in #795 defines the following precendence rules for env vars:
[code]

[2021-07-19 16:23] ZhukovGreen opened #839 "AND | OR rule in adjust -> when parameter"
I am trying to ensure the test will be running only for relevant distros with the help of the following config.

[code]

However, this definition is not working as expected and the test is filtered out all the time. i was looking to https://fmf.readthedocs.io/en/latest/context.html#syntax and from my point of view the syntax complies. However, if I run the following command:
[code]
no tests select

[2021-07-19 16:33] lukaszachy commented on #839
You should be using AND imho. For your context (`--context distro=centos-7`) first matching expression is `distro != centos-8` so whole `when` is True and as such `enabled: False` is applied.

[2021-07-19 21:21] juk commented on #804
@psss, @lukaszachy would you mind a "---" delimiter after the last multidocument entry?
I can work around it if necessary

[2021-07-20 09:05] ZhukovGreen commented on #839
@lukaszachy you are right, than kyou

[2021-07-20 09:05] #839 closed

[2021-07-20 10:03] ZhukovGreen opened #840 "Feature environment-file-url. Load env vars from a file located at url"
Follow up from #795 . I have a problem of introducing environment file which contains  secrets for the case when tests are executed in the remote environment. For local execution environment-file is fine.

In our case when running test on testing farm or via packit our main plan would look like this:
[code]

By using this `when: distro != ""` I am trying to use what we have in the packet CI. Packi

[2021-07-20 10:03] ZhukovGreen commented on #840
I'd like to make a MR to address this ticket. Are you ok with that approach?

[2021-07-20 10:04] ZhukovGreen commented on #840
@psss @lachmanfrantisek @thrix @lukaszachy ^^^

[2021-07-20 15:20] lukaszachy commented on #804
@juk Please do not write trailing "---" as it produces None object:
For
[code]
You end up with `[{'x': 'x'}, None]`

Ideal would be putting `...` at the end to mark end of the document instead

[2021-07-20 15:28] juk commented on #804
@lukaszachy does the leading one produces the same effect?
Would something like below work?
---
x: x
---
y: y

[2021-07-20 15:43] lukaszachy commented on #804
Leading one is required, then `---` between objects. Optional `...` marks end of document.

[2021-07-21 14:13] frantisekz commented on #837
testcloud 0.6.1 with fix for this has been released, is available on pypi and pending testing for f33, f34, epel8.

[2021-07-26 14:30] psss opened #848 "Provision plugin for the Resource Hub"
Let's outline how the possible future integration with the Resource Hub could look like. The project is at an early stage of development with just a basic functionality implemented. Relevant git repositories:

 * https://github.com/resource-hub-dev/rhub-app
 * https://github.com/resource-hub-dev/rhub-api

It would help to provide a small but clear and tangible user story touching a couple of essen

[2021-07-26 14:55] lukaszachy opened #849 "Fragmented execute -vvv output (output.txt is correct though)"
I'm not sure why but `execute -vvv` out for following test's out is fragmented. Content of `/var/tmp/tmt/run-058/plans/execute/data/repro/output.txt` is correct.
[code]

`tmt run execute -vvv` shows:
[code]
However `plans/execute/data/repro/output.txt` contains expected content (`cat -A`)
[code]

[2021-07-26 21:49] psss commented on #837
Thanks for the fix. Tested a bit and everything looks ok. I've also created a basic [integration test](https://pagure.io/testcloud/pull-request/114) which can be used to verify that `tmt` with `testcloud` works fine across distros. Needs nested virtualization though, otherwise we could enable it in the Fedora CI as well.

@thrix, btw, do we have a plan to support nested virtualization in Testing F

[2021-07-27 13:19] psss commented on #840
In order to detect when a `tmt` plan is executed in packit / testing farm I would suggest using the `trigger` dimension of the context:

[code]

See the [trigger](https://tmt.readthedocs.io/en/stable/spec/context.html#trigger) documentation for the definition of the dimension.

[2021-07-27 15:03] psss commented on #849
This might be caused by the change which fixed the blocked ssh connections:

https://github.com/psss/tmt/blob/10d87087fcb5c3f8c4c3e20d2bf222c0adfd3e41/tmt/utils.py#L333

If the output is slow the output check will make another loop. Probably one more reason to use #763 to handle the output?

[2021-07-27 15:32] psss commented on #749
As discussed with @FrNecas, the problem is if there are different plans (or different number of plans) in each repository. But I think it would/could nicely work with the default/blank plan, either explicit `plan --default` or implicit (when there is no plan found). The only thing we need is to ignore/override the `root` path stored in `run.yaml`. Everything else should be working fine I guess. Wo

[2021-07-27 16:17] FrNecas commented on #749
I've been playing around with this issue for a while and it is a bit tricky conceptually.

Just adding to what @psss mentioned, there is also a list of plans (that were ran in the initial run) in `run.yaml` so that should be modified as well most likely. Discovering plans and tests from another root seems to go slightly against how runs and plans work conceptually in tmt right now. Lets imagine 2

[2021-07-27 16:34] sopos commented on #749
I would lay the question differently. Why should I necessarily do a provision from a repo? I would like to do provision as such and then continue with other steps.
But generally speaking the dependency of provision on the discovery is basically just about the number and parameters of the machine(s). The rest should be independent. In the case of `--how connect` it is even expected that all the mac

[2021-07-27 17:31] sopos commented on #749
One more thought.
If provisioned first, without knowing the plans, only plans / tests compatible with the currently available (provisioned) machines would be executed.
Analogically to _provision based on the discovery_ - _discover based on the provision_.

[2021-07-28 11:56] jscotka commented on #849
@lachmanfrantisek @psss I think so, that these threads could fix this issue theoretically. But there were no reason to continue with this thread model of processing output of commands as there were bigger risk to cause hidden some issue. But code will be much cleaner then and probably fix many of out of sync issues.

[2021-07-28 14:29] #814 closed

[2021-07-28 15:25] psss commented on #837
Should be covered by requiring the fresh `testcloud` in #836.

[2021-07-28 15:25] #837 closed

[2021-07-28 16:47] ZhukovGreen opened #851 "Improving libvirt provisioner"
Follow up from #651 (read the discussion there)

Reevaluate the following features:

* [ ]  use libvirt python api

During #651 that was too expensive to switch to libvirt python API + it was impossible to implement overlay feature instead of virt-clone.

* [ ]  use overlay QCOW2 images

Consult @eskultety for elp

* [ ]  use clean cloud-based images with, customized by virt-customize

* [ ]  prov

[2021-07-29 09:48] #821 closed

[2021-07-29 16:24] zhukovgreen opened #852 "For url based environment-file we need a possiblity to set custom tls certificate location"
In convert2rhel the source of env vars located in domain with custom TLS certificate. We need a possibility to provide the path to the certificate.

Design proposal:
[code]

Solution should be simple:
- forward the path to the tls certificate on request.get at this line https://github.com/psss/tmt/blob/b67ccf5f73ca093dea8ce35af42e6c9e3351ebb9/tmt/utils.py#L772

[code]

_Originally posted by @Zhuko

[2021-08-03 10:09] thrix opened #854 "Implement socket connection for ssh"
Tools using SSH usually implement reusing of ssh connection via a socket which greatly speeds up the ssh commands. We should look into if this would be possible in tmt to gain the same benefit.

Some similar concepts used by other tools:
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_PIPELINING
https://puppet.com/blog/speed-up-ssh-by-reusing-connections/

[2021-08-03 16:12] FrNecas commented on #707
Fixed by #809

[2021-08-03 16:12] #707 closed

[2021-08-06 08:58] sharkcz opened #856 "non-x86 VMs are not supported"
`tmt` fails to provision a VM on my ppc64le system, because it expects `qemu-kvm` to be present, but this exists only on x86.
[code]
see https://bugzilla.redhat.com/show_bug.cgi?id=1989891 for all details

[2021-08-06 09:33] sharkcz commented on #856
also I have found `Fedora-Cloud-Base-34-1.2.x86_64.qcow2` downloaded on my F-34 ppc64le system, that won't work  ...

[2021-08-10 10:00] ZhukovGreen commented on #852
We had a discussion with @bocekm and agree he is going to test our https://github.com/oamg/convert2rhel/pull/321/files#diff-5ae9adacc9ce4ac4f6d80f8c06e2f4a4967a272f41bc5f2643ed946c4077f685R13 source of secrets with fresh install of tmt via dnf (based on advice from @lukaszachy)

[2021-08-10 14:41] #708 closed

[2021-08-12 08:18] #695 closed

[2021-08-12 14:23] #840 closed

[2021-08-13 18:00] FrNecas opened #860 "Detach executor does not support multiline shell scripts"
While playing around with https://github.com/psss/tmt/pull/855 , I discovered that the following test works with internal executor but errors with detach executor which is a bit inconsistent (and I think according to the specification, we should accept multiline scripts, since it is still a normal string, just written differently):

[code]

Apparently the detach executor requires `run.yaml` to be

[2021-08-16 10:43] psss commented on #860
This could be fixed either directly in the `run.sh` script or python code would take care of preparing the script to be executed and push it to the guest so that `detach` executor has everything ready and prepare just for simple execution.

[2021-08-16 15:58] #818 closed

[2021-08-16 17:50] #508 closed

[2021-08-16 17:50] #510 closed

[2021-08-17 09:45] psss commented on #775
Covered by #794.

[2021-08-17 09:45] #775 closed

[2021-08-17 12:27] #807 closed

[2021-08-17 14:50] #700 closed

[2021-08-17 14:50] #812 closed

[2021-08-17 14:50] #822 closed

[2021-08-17 15:33] #281 closed

[2021-08-17 16:12] FrNecas commented on #663
@adka1408 would you be interested to take a look into this now that the reboot PR is finished? Should be quite simple to implement. Also an issue that is slightly related that you could work on (probably a bit more complicated than this one) - https://github.com/psss/tmt/issues/519

[2021-08-18 07:40] #768 closed

[2021-08-19 08:10] lukaszachy opened #863 "Explicit mention using discover.fmf from directory (not git)"
It is hidden among the lines at https://tmt.readthedocs.io/en/stable/spec/plans.html#fmf but I think we should explicitly mention that
-  tests doesn't need to be under git (which can be deducted from using word 'repository')
-  have example / use case covered by docs otherwise it feels like hack/side-effect without guarantees

Using 'url' is a bit annoying for work-in-progress (one would have to

[2021-08-23 09:04] adka1408 commented on #663
@FrNecas yes, I will take a look on that.

[2021-08-25 12:31] thrix opened #867 "Optionally tmt log.txt should have timestamp"
For investigation purposes in CI it would be handy if tmt debug output could be optionally prefixed with timestamp for each line.

[2021-08-25 12:51] FrNecas commented on #867
@thrix wasn't this already added by https://github.com/psss/tmt/pull/838 or is the timestamp required somewhere else as well?

[2021-08-25 12:53] thrix commented on #867
@FrNecas we would like to see timestamps at each like of log.txt output ...

[2021-08-25 12:55] #867 closed

[2021-08-26 15:08] happz opened #868 "Allow control of SSH timeouts by explicit ServerAliveInterval"
I ran into a test that kicks off `rpmbuild -bb ~/rpmbuild/SPECS/kernel.spec &> log`, and waits for `rpmbuild` to finish. Obviously, as long as `rpmbuild` runs, there's no output, and after some time, tmt/ssh believes the connection has broken down:

[code]

I'd like to gain control over the SSH timeouts, for example by tmt running `ssh` with explicit and controllable `ServerAliveInterval` and `Ser

[2021-08-26 16:02] happz opened #869 "Interrupted test reported as `failed` instead of `error`"
SSH connection dropped but task reported as "failed" instead of "error" or similar

[code]

Obviously, it was not possible to gather the actual result of the test, because of the connection trouble - in such conditions, I'd expect rather some kind of "error"-ish result instead of "failed".

[2021-08-30 09:52] #804 closed

[2021-08-31 12:14] lukaszachy opened #870 "Allow filter by link relation containing value (e.g. link.verifies: http://bugzilla...)"
Use case - `tmt tests ls --filter "link.verifies:https://bugzilla.redhat.com/show_bug.cgi?id=1" should list all tests which verify this bug.

Because there is a default relation  it would be nice if it is honored by filter as well. `link:  value ` is the same as `link.relates: value` as long as [relates](https://tmt.readthedocs.io/en/stable/spec/core.html#link)  stays the default.

Notes:
Filter i

[2021-08-31 12:14] lukaszachy commented on #870
@psss @adka1408 Does it make sense?

[2021-09-01 09:28] RHEmployee commented on #854
Hello. Is this still free?
There is already master connection with multiplexing used in 1minutetip so I less or more understand that topic.

[2021-09-01 10:21] FrNecas commented on #854
As far as I know, noone has expressed interest in working on this yet, I assigned it to you @RHEmployee

[2021-09-01 10:22] RHEmployee commented on #854
Thank you.

[2021-09-02 13:45] psss commented on #692
Covered by #699.

[2021-09-02 13:45] #692 closed

[2021-09-02 14:16] psss commented on #802
Makes sense to me, could be useful, +1 for implementing this. @frantisekz, would you possibly want to have a look a this? Thinking a bit more, for provisioning only you could possibly call `testcloud` command directly. But one has to learn another command line syntax I know...

[2021-09-03 09:07] lukaszachy commented on #802
Either `testcloud`or `virsh` directly. However I hope we want tmt be THE tool for testing related stuff. And provisioning machine I can later play with is imho the very first step which is later used with `tmt run provision -h connect`

[2021-09-04 07:23] frantisekz commented on #802
This should be really easy to achieve. Basically, it could be achieved with following:

- change connection passed to testcloud objects to variable ( both " connection='qemu:///session' "  occurrences)
- variable would have default 'qemu:///session' value, but should be changeable via some arg to 'qemu:///system'

I can take a look and implement this after PTO, in a week of 20th September.

[2021-09-04 08:08] frantisekz commented on #856
That'd be awesome for testing, I'll ping you in a week of 20th September after my time off.

In the meantime, I've made some changes in testcloud to support non-x86 (ppc64le for now). One is merged already ( https://pagure.io/testcloud/c/9b978cb95994240a3d83094cf9b179c9822d186f?branch=master ), the other i in a PR form ( https://pagure.io/testcloud/pull-request/115 ). The testing was done in way o

[2021-09-07 07:50] The-Mule commented on #726
PR#878 should hopefully implement spec changes according to suggestions from both thrix and jscotka (specifying 'role' provision option and 'on' prepare and execute options).

[2021-09-07 15:58] psss commented on #308
A couple of thoughts from the implementation point of view as discussed today with @mkluson and @bocekm today:

So the expectation is that there is syntax defined which enables to create a separate plan for each test identified during the `discover` step. Here's a little chicken-egg problem for the `tmt plan ls` or `tmt plan show` command: How to explore and list/show all available plans without a

[2021-09-07 16:05] kkaarreell commented on #308
Just ideal. When listing a directory you can see files and subdirectories. You can also list directories recursively. Would such concept make sense in this situation? Can a sub-plan be represented by an object that is listed but not processed as a test case .. and only processed when required (-R)?

[2021-09-07 16:42] happz commented on #308
Sounds like two incompatible cases. As soon as a test and its metadata presence can lead to a new dynamic plan being spawn just for that test, listing plans without test discovery will inherently yield an incomplete list. One way how to get out of this could be a warning and an option: "Be aware that test metadata may affect the final list of plans, especially if tests employ the following metadat

[2021-09-08 12:27] FrNecas commented on #507
Trying to look into this. The problem is that it conflicts a bit with what was implemented in https://github.com/psss/tmt/pull/657/files but I think there could be a way around it. I will hopefully have a proposal somewhat soon

[2021-09-08 15:39] lukaszachy opened #880 "Allow fmf-id to be exported from `run discover` execution"
We have `tmt tests export --fmf-id` which can be used in pipe to schedule tmt tests elsewhere (e.g. bkr workflow)
It would be great to have same feature for tests discovered in plan (while there is no provision --how beaker or similar).

No support for `prepare`  step though.

Expected usage: `tmt run plan --name /Foo discover --export-fmf-id | bkr workflow-tomorrow f-34 x86_64 --fmf-id -`

No fee

[2021-09-09 08:47] #811 closed

[2021-09-09 09:18] #739 closed

[2021-09-09 10:31] psss commented on #81
Vagrant is not used for syncing anymore.

[2021-09-09 10:31] #81 closed

[2021-09-09 12:10] lukaszachy commented on #308
+1 for @happz idea:

`tmt p ls` to see if there are some plans
`tmt p ls --be-thoroug...` if you need to know real situation

[2021-09-09 13:39] kkaarreell commented on #308
From a user perspective, I would like to be able to distinguish these to cases in tmt output, i.e. a warning or different form of an output (preferably) would be used only in case there are such nested plans. Personally, I would like to see the nested plan listed in the output, just identified as not-a-test but a subplan, similarly to the ls file/directory example.

[2021-09-09 16:40] pvalena commented on #305
We have container images on `quay.io`.

[2021-09-09 16:40] #305 closed

[2021-09-09 16:42] #123 closed

[2021-09-09 19:33] psss commented on #305
For reference, the links are:

* https://quay.io/repository/testing-farm/tmt
* https://quay.io/repository/testing-farm/tmt-all

[2021-09-09 20:20] #446 closed

[2021-09-14 08:10] FrNecas opened #884 "Implement linting for plan steps"
Currently, only top-level (in terms of fmf hierarchy) attributes in plans are linted. For example the linter throws an unknown key error on the following plan:
[code]
but the following plan is OK according to the linter:
[code]

[2021-09-14 09:30] sopos commented on #507
you can test this using e.g. https://github.com/RedHat-SP-Security/tests/blob/master/sudo/Sanity/sudo-python-plugin-examples

[2021-09-14 10:06] FrNecas commented on #286
Should be simple to fix, I will take this one. As agreed on the hacking session, let's make `tmt run -f` behave similarly to the rest of the flags (just inherit) and add new option `--scratch` that does what `tmt run -f` used to do

[2021-09-14 11:39] FrNecas commented on #557
Closing since the issue is already tracked downstream

[2021-09-14 11:39] #557 closed

[2021-09-14 11:48] FrNecas commented on #570
Closing, since the plugin has been moved downstream and uses the correct network now.

[2021-09-14 11:48] #570 closed

[2021-09-14 11:51] FrNecas commented on #559
Closing since the plugin has been moved downstream and this seems to be related to networks

[2021-09-14 11:51] #559 closed

[2021-09-14 14:55] thrix opened #888 "Implement import and export with Polarion"
Seems for Automotive it would be a big selling point for `tmt` if we could integrate it with Polarion.

For start, it would be great if we could export a test to polarion and import it back maybe?

There is a nice python library to do this reasonably: https://github.com/RedHatQE/pylero

Not sure if this should be a internal only feature or not ...

[2021-09-14 14:58] thrix opened #889 "Automate `tmt` image generation via github workflows"

[2021-09-16 07:36] psss commented on #888
If the `pylero` library could be used the implementation should not be that hard. I don't see it packaged for Fedora though. Seems it is available as github project only?

[2021-09-16 09:31] RHEmployee commented on #854
Hello.

After some digging. Putting all in one place to avoid fragmentation.

Looks like paramiko library doesn't support multiplexing:
https://github.com/paramiko/paramiko/issues/852
so ControlMaster seems to not be supported.

So I just fallback back to use CLI ssh, however this needs one process for master connection which going to run in background while tmt runs. Then cleanup is needed to avo

[2021-09-16 09:59] RHEmployee opened #891 "reconnect fails after machine reboot"
Hello. It raised from discussion about tmt-minute plugin and it seems that
there is potential race condition when machine reboots and we call reconnect().

It seems like there is small window, which allows to pass reconnect() check.
Steps:
machine is rebooted
reconnect() is called and because machine is slow or sshd is killed later, then reconnect can success and it looks like we have already rebo

[2021-09-16 10:06] RHEmployee commented on #891
Should be solved by:
https://github.com/psss/tmt/pull/892

@lukaszachy  Lukas, you first encountered this issue. Would you please take a look if we are able to avoid reboot issues?
Sleep is not 100% solution I know, but should work in more cases then no sleep at all.

[2021-09-16 11:13] psss commented on #726
The spec draft in #878 has been updated based on the last week's discussion. Please, have a look and provide feedback.

[2021-09-16 13:21] FrNecas commented on #749
Just an update on this from one of the previous hacking sessions - it would be too complicated to achieve this from the traditional command-line interface due to the "implicit" first step of obtaining plans to execute. The results of the previously executed steps (e.g. provision, which is the main motivation here) is stored in the workdir for the previous plan which is different from the new plans

[2021-09-16 14:37] happz opened #893 "HW requirements - more than one disk"
There are teams that require more than the root disk. For example, the following `provision.fmf` file:

[code]

`m` (as in "memory") we can already handle, with `memory: 10 GiB`, but what about the disk storage? It turns out the teams are currently blocked by the lack of language to express this need when it comes to migrating to TFT (and Artemis). Any ideas on how to express the fact a test needs

[2021-09-17 12:01] fernflower opened #894 "HW requirements - multiple NIC"
Some of oamg tests require guests with multiple network interfaces.
In beaker this can be specified with `<key_value key="NR_ETH" value="2"/>`
We'd love to be able to run those tests with tmt as well.

[2021-09-20 13:06] psss commented on #893
What about allowing the `disk` key to be a dictionary or a list of dictionaries?

[code]

Does that look extensible enough? Or we need something more sophisticated?

[2021-09-20 13:10] psss commented on #894
This sounds like for certain provision methods, such as `beaker` for example, there could be an extra key dedicated for providing a free-form key-value information. I don't think we can (or should) provide an extra syntax for each and every use case which users will run into. Provision plugins which would not support there extra values would just ignore the information. Does that make sense?

[2021-09-20 14:17] happz commented on #893
LGTM, at the first glance. I did no extensive research so far, but I'd say this leaves enough space for new additions, e.g. this could be possible (not saying it's something `tmt` is interested in doing, but it would be possible to express):

[code]

So adding more attributes should be possible. The only issue I see is the change of the type of `disk`, from `str` to `List[Dict[...]]`, but we're st

[2021-09-21 10:02] psss commented on #815
A couple of relevant links:

* https://docs.fedoraproject.org/en-US/ci/standard-test-roles/
* https://docs.fedoraproject.org/en-US/ci/tests/
* https://tmt.readthedocs.io/en/latest/questions.html
* https://tmt.readthedocs.io/en/stable/spec/plans.html#shell
* https://tmt.readthedocs.io/en/stable/spec/plans.html#install

[2021-09-21 11:00] #286 closed

[2021-09-21 11:01] major commented on #893
Does it matter what type of storage it is? There's a cost/performance trade-off depending on what you choose in a particular cloud.

[2021-09-21 11:40] psss commented on #893
Yes, I agree it makes sense to keep the syntax extensible for possible future enhancements and more detailed requirements. In the examples it would be ideal to use something tangible (or close to tangible) which could be useful. Your latest examples with `iops` and `class` seem to be exactly this.

[2021-09-21 11:50] psss commented on #894
Summary from today's hacking session: Let's define a new `network` attribute which would be a list of dictionaries describing the desired network interface(s):

[code]

@fernflower, could you possibly provide some more real-life examples of the keys which would be useful to specify the interface?

[2021-09-21 13:51] psss commented on #765
Yeah, both approaches seem to be valid and... fine. On the other hand, not completely sure that `is-virtualized` is actually a `capability` at all. Perhaps `feature` would be general enough to embrace all kinds of properties and capabilities and... features?

Or we can just forget about the extra level. Let's finalize the discussion about these two keys in the #895 pull request.

[2021-09-21 14:38] lukaszachy commented on #308
From Stakeholders mtg: We should support usage when final plan name stays the same, even though tests require several distinct provision or prepare steps.

E.g. tmt configuration creates plan called e.g. `smoke-test`. This name will be used in gating.yml.
tmt shouldn't change this name even though there will be tests requiring their own machines, slicing or separate prepare steps.
So in this case

[2021-09-21 15:00] lukaszachy commented on #308
Summary from stakeholders mtg:

- tmt needs command for listing all SUT (System Under Test: specific provision + prepare combination in which tests are run) for (selected) plans
- split into distinct SUT caused by Test metadata (L1) doesn't change Plan (L2) name just adds one or more SUT
- split into distinct SUT caused by slicing should not change Plan (L2) name neither
- tmt needs way to bind sp

[2021-09-22 09:07] kokesak opened #897 "Environment-file doesn't work when using url"
In convert2rhel CI we need to pass environment file via URL, which fails on the following traceback:
[code]
http://pastebin.test.redhat.com/995715

The issue is that the variable `full_path` is defined in an `else` statement which happens only when using local environment file (https://github.com/psss/tmt/blob/master/tmt/utils.py#L802)

[2021-09-22 10:07] psss commented on #897
Hi! Thanks for reporting this. The issue has been fixed in #881 and is available in the latest `tmt` from the [copr](https://copr.fedorainfracloud.org/coprs/psss/tmt/) repository. Could you try it from there?

[2021-09-22 13:08] psss commented on #897
Temporary workaround:

[code]

[2021-09-22 16:11] lukaszachy opened #898 "tmt t lint should try to cover adjust rules as well"
I made typo in adjust rules, tmt tests lint didn't show any error: (enable vs enabled)
Since adjust keys are defined (when, because and every tmt attribute for its object) we should be able to lint for unknown/typos

[code]

[2021-09-23 10:34] RHEmployee commented on #854
WIP is now here:
https://github.com/psss/tmt/pull/900

it seems to work, but some code cleanup will be nice.

[2021-09-23 21:07] FrNecas opened #902 "Support reboot from shell during `prepare` and `finish`"
In one of the discussions around reboot, it was mentioned that it may be nice to also support it not only in execute -h internal but also in prepare -h shell. @psss mentioned that the same effect should be achieved using ansible and its reboot feature but it could be useful to provide the same thing for shell preparation (more options are nice, aren't they?). I see it as a nice-to-have, should not

[2021-09-27 08:45] kokesak commented on #897
Thanks @psss, closing as it is duplicate.

[2021-09-27 08:45] #897 closed

[2021-09-27 10:16] psss commented on #308
I'll try to summarize the behaviour discussed above from the implementation point of view:

SUT (system under test) is defined by the `provision` and the `prepare` step configs. In addition to the explicit definition of SUT by the `provision` and `prepare` key in the plan, we would support detecting SUT during the `discover` step. There are several use cases for which SUT would be detected:

* For

[2021-09-27 14:10] psss commented on #868
@thrix do you plan to work on this for 1.8 (this week) or shall we postpone?

[2021-09-29 07:46] #663 closed

[2021-09-29 07:49] psss commented on #815
@ZelenyMartin is interested to put together the docs. Martin, do you plan to look into this today/tomorrow or shall we move the issue to the next milestone?

[2021-09-29 08:07] psss commented on #806
Should be fixed by #901.

[2021-09-29 08:07] #806 closed

[2021-09-29 19:08] lukaszachy commented on #585
Hopefully Autumn will bring more time to work on this. Moving to 1.9

[2021-09-29 19:08] lukaszachy commented on #502
Hopefully Autumn will bring more time to work on this. Moving to 1.9

[2021-09-30 09:42] thrix commented on #888
@psss I will need to ask :(

[2021-09-30 09:43] thrix commented on #888
we are getting pings for this, so proposing for 2.0

[2021-09-30 12:39] fernflower commented on #894
So sorry for late response. The format @happz suggested in https://github.com/psss/tmt/pull/895 has everything we need.

[2021-10-01 07:52] Athwale commented on #898
Also when you forget the "when" keyword, lint crashes and you get a long traceback.
The last line is fmf.utils.FormatError: No condition defined in adjust rule. That already looks like something that could be nicely printed as an error.

[2021-10-05 09:08] thrix opened #909 "Get rid of unstandard `=~` for regular expression matching"
In:

https://github.com/psss/tmt/pull/895

the proposal is to use `=~` for pattern matching. I am not sure we need it, it is not very standard in yaml, I believe it will cause confusion. Also there is the question about the leading "space" bringing more `ambiguity`.

[code]

I have following proposals:

1. Use regular expression always for these fields, add leading `^` and ending `$` characters au

[2021-10-05 09:32] psss commented on #909
Just to clarify: This is not introduced in #895. We have this already documented [in the spec](https://tmt.readthedocs.io/en/latest/spec/plans.html#hardware) as the syntax was discussed and approved in #330.

[2021-10-05 09:35] psss commented on #909
The proposed example is not a valid `yaml`. How do you imagine the flag should be stored? A `dict` under `dict` with a dedicated key?

[2021-10-05 09:39] #893 closed

[2021-10-05 09:39] #894 closed

[2021-10-05 09:42] happz commented on #909
So is not `>=` or `<`. However, none of these need to be "standard" in YAML as none of these is a YAML syntax token, all these operators are part of a key value. Written as completely as possible, it's `vendor-name: "=~ Broadcom.*"`, not `vendor-name: =~ "Broadcom.*"` (just like `size: ">= 20 GiB"`). The operators do not control the YAML structure.

`=~` is quite a common form when it comes to "re

[2021-10-05 10:09] thrix commented on #909
ah right :) scratch that :dancing_men:

[2021-10-05 12:57] psss opened #910 "Shall we introduce a uuid for tests?"
The [fmf identifier](https://fmf.readthedocs.io/en/latest/concept.html#identifiers) can be used as a unique identifier for tests. This works nicely as long as the test is not renamed or moved (both within and outside of the git repository) or a different `url` is used to point to the same git repository.

The uniqueness of the `url` part could be resolved by using something like a canonical versio

[2021-10-05 13:16] lukaszachy commented on #910
I think this could work well. Just to be sure: This value should be aided by `tmt tests lint --fix` and `tmt tests create` commands, user can't be asked to fill it manually

[2021-10-05 15:49] sopos commented on #909
Actually, I like the idea of `=~` as an identifier for the regexp matching. Also, regexps often match just sub-strings while for full string match it is required to use `^` and `$` explicitly, e.g. in `grep` or `sed`. It is on an agreement it what is the default _sub-string_ or _full string_ match. I would say _sub-string_ is more natural because of usage in `grep`. The _sub-string_ match default

[2021-10-05 17:52] thrix commented on #910
One thing for me standing out is weather we should consider this as a required attribute from some later tmt version (2.0? 3.0?). I believe each tmt test should have an ID, ideally in only one form and it should be a required thing.

[2021-10-05 21:39] rasibley commented on #888
Test plan import/export would be a nice feature but even more important use case is importing TMT test runs into Polarion.

[2021-10-06 06:49] lukaszachy commented on #910
It might be obvious but 'fmf id' is the only way how to get to the test from external sources. So I think these two can live together without any problems.

[2021-10-08 11:27] psss opened #912 "Document the tmt | wow integration"
Would be nice to have an example of how `tmt` can be used together with `wow` without the need of Nitrate:

[code]

We've added the feature recently in #845 but haven't documented the use case.

[2021-10-11 16:11] lukaszachy opened #913 "Make `tmt run` & provision `connect` work with a regular user"
When running `tmt run -a -p connect -u tester -g IP` having passwordless sudo is not enough:

1. In prepare missing rsync causes `rpm -q rsync || yum install -y rsync'` which doesn't use sudo
2. In execute `rm: cannot remove '/usr/bin/rstrnt-reboot': No such file or directory` makes tmt run error

Interesting is that creation of rstrnt-reboot file fails too however it is hidden from the error outp

[2021-10-12 08:43] lukaszachy commented on #912
Since this is _internal_ tool it is documented internally. Once we upstream wrapper we can document it.
What we could document is intended usage of --fmf-id

[2021-10-12 13:40] #912 closed, assigned to psss

[2021-10-12 15:46] ZelenyMartin opened #915 "Reboot doesn't work with tmt executed with --interactive"
Tests with reboot are not possible to run with `--interactive` option:

Working:
[code]
Not working:
[code]
Not working case doesn't reboot at all.

[2021-10-12 17:18] lukaszachy commented on #915
One of motivations for --interactive is debugging tests e.g. by putting 'bash' into the test code

[2021-10-12 18:48] happz opened #917 "Support "test/plan require UEFI" requirement"
As suggested in https://gitlab.com/testing-farm/artemis/-/issues/175, one might develop tests that work only with UEFI machines, or machines that do *not* possess this feature. To me, the idea sounds like an HW requirement whose place is in L1/L2 metadata, therefore something for TMT to specify.

No idea where to put this field, whether as a top-level key (`hardware.uefi: true`) or nest it under s

[2021-10-15 08:35] fernflower opened #919 "[feature request] Possibility to use ansible playbooks in finish step"
Complex setup cases (where ansible can be used in prepare step) sometimes require a non-trivial teardown, but unfortunately now only `how: bash` is allowed in finish step.

[code]

[2021-10-19 09:09] happz opened #923 "Single single quote (') in plan name will cause Bash error during execute"
I wanted to re-use existing test:

[code]

Things went well until `execute` step, where tmt logged the following:

[code]

Note that the single quote is left unescaped and propagated as-is- to a shell command, causing Bash to stumble.

[2021-10-20 07:57] psss opened #926 "Copying reboot scripts is slow"
Currently we use several `guest.execute()` commands to check, backup, install and restore `rhts-reboot`, `rstrnt-reboot` and `tmt-reboot` scripts. This makes it quite slow and fills debug log with "uninteresting" stuff. What about wraping the functionality in a single shell script which would be synced to the guest and executed at once? @FrNecas, what do you think?

[2021-10-20 17:09] lukaszachy commented on #923
I'm not so sure - proper fix is to escape input properly.
If we translate non-alpha into something else we will introduce risk of name conflicts (slight chance but still).

[2021-10-21 12:37] psss commented on #915
@sopos, could you please try to execute once the whole run (all steps) using `tmt run --all`? Just to confirm the problem is in the handling of selected steps.

[2021-10-21 12:54] sopos commented on #915
I issued `tmt run -vvvddd provision -h connect --guest sopos-rhel8-brq.usersys.redhat.com plans --default tests --name . discover -f prepare -f report --verbose execute -f --how tmt` and now I even did not get the magic reboot string

[2021-10-24 15:53] happz opened #929 "HW requirements, `and`, `or` and expected outcome"
Imagine following `provision.hardware` setup:

[code]

Some provisioning services, like OpenStack and AWS, come with instance types that have a relatively rigid root disk set up, but besides that one, it's possible to create additional "disks" with quite a precise size, and a number of these additional volumes can go to low tens. There are also provisioners like Vagrant that support even more free

[2021-11-01 14:22] fernflower commented on #919
@lukaszachy worked for me, instead of the error got a clean run.
[code]
Checked that teardown was actually executed (excerpt from the log.txt)
[code]

[2021-11-02 08:37] The-Mule opened #933 "TCMS import should map "default tester" to "contact" instead of "author""
Currently, importing from TCMS maps "author" to "contact". I think it should better map "default tester" to contact. The problem with "author" is that it is immutable in TCMS and hence once a person leaves RH this field is no longer useful for anything (and cannot be changed). On the other hand "default tester" is always up to date and point the the person responsible for reviewing test results an

[2021-11-02 09:01] #933 closed

[2021-11-02 09:02] The-Mule commented on #933
False alarm, TMT is doing it right already (contact is mapped from default tester).

[2021-11-02 10:40] psss opened #934 "Support search for non-matching regular expressions"
Currently the following can be used to exclude a regular expression from the search result:

    tmt plan ls '^(?!.*irrelevant)'

However, this is not very use friendly. What about introducing a new `--exclude` option which would add a more straightforward way:

    tmt plan ls --exclude irrelevant
    tmt plan ls -x irrelevant

This would be added to the following commands:

    tmt tests ls

[2021-11-02 10:47] fernflower commented on #934
Maybe it's obvious and planned for but will mention anyway - it should be possible to combine several `--exclude` options, at least our use cases depend on this.

[2021-11-02 10:48] lukaszachy commented on #934
IMHO should be added to discover.fmf too (UC:  `discover -h fmf ...` by using `tmt t ls`)

[2021-11-03 09:17] phracek opened #937 "Add support for enabling verbose mode in fmf file"
Nowadays, my FMF file looks like this:

[code]

It would be nice to add there a possibility like:
[code]

in order to allow verbose mode for ansible playbook

[2021-11-03 09:20] psss commented on #937
Perhaps, I would suggest to use integer to specify the verbosity level as `ansible` has a lot of debug levels.

[2021-11-03 09:44] psss commented on #937
Should be relatively easy to implement by extending the `ansible()` method:

https://github.com/psss/tmt/blob/980c0fefcfd93ff5b1417449fe7f63ed16faef23/tmt/steps/provision/__init__.py#L398

And override the default `_ansible_verbosity()` detected from options. @ZelenyMartin, @dkarpele, fyi.

[2021-11-09 16:59] lukaszachy commented on #253
I needed this feature today so I'll take it.
[code]
And support for internal plugin which will add `brew` as value for --brew-server.

As for the modules -- we have internal compose building server so I can support that in internal plugin as `--module NSVC` and `--module-server odcs-rh`.
If you know public odcs server please let me know and it could be public.

[2021-11-09 22:56] juk opened #940 "Spaces are not escaped in string env variables passed with "--environment""
Example of the command line
$ tmt run --all --environment BZLIST='716540 771869' plan --name /plans/Regression provision --how minute --image rhel-8
/var/tmp/tmt/run-007
Invalid variable specification '771869'.

[2021-11-09 23:03] juk opened #941 "[tmt run] Discover step changes tests order"
During discover step test order is changed (sorted) compare to the order specified in test plan

$ cat plans/Regression.fmf
summary: Kernel Regression test suite
discover:
    how: fmf
    test: [/kdump/setup-bare-metal,/errata/Regression]
prepare:
    how: ansible
    playbook:
        - playbooks/common.yml
execute:
    how: tmt
report:
    how: display

$ tmt run discover -v plan --name /plans/

[2021-11-10 12:25] thrix opened #942 "Add support for specifying a concrete machine hostname"
Seems it could be valuable for some cases to be able to specify a concrete Beaker machine in hardware specification. This make come handy to @ksrot sooner or later, where he would like to run tests for specific machines which support `TPM.

[2021-11-10 12:25] thrix commented on #942
@happz PTAL

[2021-11-10 12:58] happz commented on #942
I for one would see this as two issues, "require TPM" and "require hostname". I suppose that the former can be replaced with the latter when the provisioner isn't able to find out whether machines available to it do or do not have TPM available.

[2021-11-11 19:10] bocekm commented on #852
@psss, this is not needed and this issue can be closed. When one installs `tmt` as an rpm from Fedora repos (from PyPI), it is able to pick up the locally installed certificates. That works for us (https://github.com/oamg/convert2rhel/).

[2021-11-12 10:50] sopos opened #944 "implement a possibility to set order of the tests execution"
allowing tests to define the order would allow one to use some of the tests as a setup tasks

[2021-11-12 10:55] sopos opened #945 "ability to define and distinguish multiple sets of tests in the discover step"
Implement an option to specify mupliple sets in the discover to be able to use them differently.

[code]

[2021-11-12 10:58] lukaszachy commented on #944
FTR: Order is listed as core attribute

[2021-11-12 11:16] lukaszachy opened #946 "Execute's environment doesn't override test's"
Documentation says that [environemnt](https://tmt.readthedocs.io/en/latest/spec/plans.html#environment) attribute:
`Specifies environment variables available in all steps. Plugins need to include these environment variables while running commands or other programs. These environment variables should override L1 environment if present.`

I read it that you can specify 'environment' even in step and

[2021-11-12 11:48] lukaszachy commented on #946
Interesting - this is covered by test `tests/core/env which passes and it looks that what doesn't work is just environment defined in execute step (variable is not set at all)

The /reproducer as of above is wrong - I messed up inheritance (/reproducer is plan and test simultaneously and tests' definition wins in fmf metadata inheritance)

[2021-11-15 06:30] kkaarreell commented on #941
I want to support this request, this bug prevents me from running keylime tests with tmt (through Packit) as I need setup tasks to be executed first.

[2021-11-18 08:56] kkaarreell commented on #941
I think I was able to address my use case using the following patch. Not sure how good approach is this in general.
[code]

[2021-11-18 09:05] kkaarreell commented on #941
However, the above won't be compatible with the `order` attribute, if it gets supported. OTOH, I can't imagine how my use case would be compatible with the `order` attribute since my test plan is defined by the list of name filters and AFAIK there is no place for the `order` attribute in such listing.

My plan looks like this:
[code]

[2021-11-18 09:28] psss commented on #941
Thanks for providing the patch, @kkaarreell. I don't think it would be a good solution to implement this change in `fmf` as this would introduce a different way how filtering is done by `name` versus by `filter` or `condition`. Also, when there is a non-empty intersection of the name search, fmf nodes appear in the result multiple times. I believe this is not acceptable from `fmf` point of view.

[2021-11-18 09:46] kkaarreell commented on #941
Hi @psss

Would you be able to provide an example that would illustrate the difference? I think there would be a difference only in case user would provide multiple name patters. And assuming there would a difference, is this really something that user would not want?

I believe that currently there is no option how to specify test order withing a plan and therefore listing tests by name seems lik

[2021-11-18 12:33] #919 closed

[2021-11-18 13:34] psss commented on #941
fmf ls --name environment --name select

The result of the `fmf.Tree.prune()` method should be a list of tree nodes which match provided filters. It should always be a subset of `fmf.Tree.climb()` and should not contain any duplicates, as it should correspond to a pruned tree.

Yes, allowing duplicate nodes would change the current functionality only when multiple names a provided. Still this woul

[2021-11-18 13:41] psss commented on #941
Btw, the planned `order` attribute should work fine with the proposed approach: For each test name provided under the `test` attribute, all matching tests would be added to the pile, and each of these batches would be sorted by the `order` stored in test (L1) metadata. I don't see any conflict there.

[2021-11-18 13:45] lukaszachy commented on #941
IMO the conflict is between ordering by L1's order and enumerating in the 'test' list. Now what should have the final word ;)

[2021-11-18 13:47] lukaszachy commented on #941
+1 - This is tmt 'feature' that you can specify order of tests by enumerating them in discover's 'test' attribute (which would need to be documented)

[2021-11-18 14:03] kkaarreell commented on #941
Is it already know how the syntax should look like?

[2021-11-18 14:08] psss commented on #941
See the [order](https://tmt.readthedocs.io/en/latest/spec/core.html#order) attribute as drafted in the spec.

[2021-11-18 14:14] psss commented on #941
I would say test names provided in the `test` attribute would have higher priority: The implementation could look like this:

    tests = []
    for name in test:
       check all discovered tests which match the name regexp
       sort filtered tests by order
       tests.extend(sorted tests)
    return tests

This would allow doing things like:

[code]

[2021-11-18 14:21] juk commented on #941
Yes, it is a desirable behavior.

[2021-11-18 14:24] psss commented on #941
The `order` attribute is supposed to be used directly in L1 metadata, that means with other test attributes, e.g. in `main.fmf` of the corresponding test.

[2021-11-18 14:39] kkaarreell commented on #941
Having order as an attribute of a test has little use for multiple plans. It would basically prevent you having plans like
[code]
and
[code]
I think that the design is too much oriented on automagical test discovery but failing on a plain simple test sequence.

[2021-11-18 14:41] psss commented on #941
The second patch looks good to me. Would it make sense to add the support for this under the `_filters_conditions()` method so that selection by name works the same across tests, plans and stories?

[2021-11-18 14:45] psss commented on #941
Yes, this does not work if/when each plan needs a different test order. On the other hand still can be useful to provide the default test order in a single repo. For example running quick smoke test first together with the `--exit-first` option.

[2021-11-18 15:08] kkaarreell commented on #941
Third attempt allowing also duplicate tests enabling run one test multiple times, e.g.
[code]

[code]

[2021-11-18 15:41] psss commented on #941
Looks fine. We'll need some adjustments though 'cause currently command line selection results in duplicate test:

[code]

Seems to be caused by `Test._opt('names', [])` being applied twice.

[2021-11-18 16:01] kkaarreell commented on #941
Would we able to find a reasonable use case for each of those? For me plan is questionable (repetitive executions) , for the rest I do not have it.

[2021-11-18 16:32] lukaszachy commented on #941
I'd say that for `ls` and `show` there is no use case for order/duplication.

[2021-11-18 16:43] thrix commented on #917
yeah, I like `hardware.boot: bios|uefi` more ...

Note that also Automotive QE are interested in this, and seems AWS has some support, what is great:

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ami-boot.html

[2021-11-18 16:55] juk commented on #941
I do not think there is a need for this in ls and show

[2021-11-18 17:35] psss commented on #941
Ok, then the patch provided by @kkaarreell should be enabled only upon explicit request by adding a new parameter to the `tests()` method because currently the change affects command line as well.

[2021-11-18 17:51] kkaarreell commented on #941
Can we enforce it using an additional attribute to the discover key?

[2021-11-18 19:41] kkaarreell commented on #941
I am not familiar with tmt code enough to identify all places requiring an update. What about this?
[code]
and
[code]
This seems to work for me:
[code]

[2021-11-22 10:19] psss commented on #941
This looks good. Would you mind creating a pull request with the change proposed above?

[2021-11-22 10:45] kkaarreell commented on #941
Thank you @psss . Here it goes
https://github.com/psss/tmt/pull/950

[2021-11-22 13:33] #585 closed

[2021-11-22 17:55] t184256 opened #952 "condition `"smth" in description` errors out"
I execute `tmt tests ls --condition '"yaml" in description'` in the root of tmt repository, I get `
Invalid --condition raised exception: argument of type 'NoneType' is not iterable`. Probably errors out on a test with no description. Invalid test, tmt bug, me using it wrong?

[2021-11-23 09:23] #941 closed

[2021-11-23 09:59] thrix commented on #917
after discussion, seems it would be good to think about future extensibility, thus:

[code]

So I will open a PR for this. Any mode ideas welcomee

[2021-11-23 12:51] lukaszachy commented on #952
For smallest possible valid test.fmf (test.fmf contains just `test: echo`):
[code]
I think default values should be better defined or at least documented.
 `None` is set for single value attributes and `[]` for where list is expected

I'm not sure if better default is empty string or keep None as it is really not defined.

As for the `"yaml" in description` use case - for now `"yaml" in descriptio

[2021-11-23 13:16] lukaszachy commented on #940
Hm, unfortunately this looks like a limitation of click (or python).

[code]
And when I execute `python3 x.py -e a='b c'` I got `'a=b c'` . See that quotes around 'b c' are removed.

[2021-11-23 13:19] lukaszachy commented on #940
Or shell ;) https://stackoverflow.com/questions/55857814/inner-quotes-of-string-being-removed-when-passed-as-an-argument

[2021-11-23 14:49] psss commented on #937
We've discussed the implementation on today's hacking session with the following proposal: Instead of introducing a single key for raising the verbosity what about rather adding a support for providing extra ansible arguments? The config could look like this:

[code]

This would be a bit more extensible for possible other user parameters. @phracek, what do you think? Plus we'd like to clarify with

[2021-11-23 15:12] phracek commented on #937
Great. `extra-args` for ansible-playbook makes more sense.
Can you give me more details, how can I access `log.txt` from the Testing Farm request?

E.g. External URL is http://artifacts.dev.testing-farm.io/$ID/ and logs are http://artifacts.dev.testing-farm.io/$ID/log.txt?

[2021-11-23 15:32] lukaszachy opened #954 "tests --name FOO vs discover --tests FOO selects different number of tests"
Running in this tmt repo:
[code]
vs
[code]

[2021-11-23 15:37] lukaszachy commented on #954
Looks like a regression from 897e09c which wasn't caught be testsuite.
Looks that the culprit is that `list(Test._opt('names', []))` is queried both in [discover](https://github.com/psss/tmt/blob/master/tmt/steps/discover/fmf.py#L231) and [filter](https://github.com/psss/tmt/blob/dd353224d06dd07cfde8d8c5872f0e2186e8c293/tmt/base.py#L1166)

So `if not unique and names` branch in base.py is called w

[2021-11-23 15:42] psss commented on #937
This part will be a bit more interesting. Currently the only way I know of: Check `http://artifacts.dev.testing-farm.io/$ID/results.xml` and look there for a link containing `work-` in the name, for example [this](http://artifacts.dev.testing-farm.io/3331de67-ab54-40dd-b58c-c9477faefe21/work-advanced00m2nw/).

@thrix, would be very nice to have link from the test results to the workdir.

[2021-11-23 16:38] lukaszachy commented on #954
Had a short call with @psss and the outcome is that `tests --name FOO` options will be processed in base, where they will further prune discovered tests. Currently it was possible to introduce test by `tests --name`  but that seems to be not intended (reasoning that if test is not part of the plan it is not likely to be supported by that plan). Default plan discovers all tests so UX should stay th

[2021-11-24 10:27] lukaszachy commented on #946
I've read the docs really bad. There is supposed to be single 'environment' key for whole plan, not for each step.
NOTABUG

[2021-11-24 10:27] #946 closed

[2021-11-25 08:48] #954 closed

[2021-11-26 14:09] psss commented on #608
This should be fixed by #918.

[2021-11-26 14:10] #608 closed

[2021-11-29 17:40] #815 closed

[2021-11-30 10:27] psss commented on #502
Notes from the hacking session: Possible approach could be to use `rsync` options not to try to preserve ownership. This could be a simple/fast change. And as the next step we could improve even more to skip unnecessary files completely.

[2021-11-30 16:41] psss commented on #937
Covered by #938.

[2021-11-30 16:41] #937 closed

[2021-11-30 17:53] lukaszachy opened #961 "Vagrant box 35-cloud-base doesn't boot"
`tmt run provision -h v -i https://app.vagrantup.com/fedora/boxes/35-cloud-base/versions/35.20211026.0/providers/libvirt.box` doesn't go past the 'booting...'
It seems as problem with tmt's cloud-init stuff - `testcloud instance create https://app.vagrantup.com/fedora/boxes/35-cloud-base/versions/35.20211026.0/providers/libvirt.box` does boot (but I cannot login:)

I have the same behaviour with 1

[2021-11-30 17:56] lukaszachy commented on #961
Any idea what can be wrong @frantisekz ? I think this is a nice-to-have though - but it would be great if one can use any vagrant box (or those where cloud init package exists)

[2021-12-01 14:37] rh-mcermak opened #963 "Please, provide support for beakerlib's rlFileSubmit()"
Please, provide support for beakerlib's rlFileSubmit().  Thanks.

[2021-12-01 14:37] psss opened #964 "Prepared files removed for virtual/connect provision"
If a file is created during the `prepare` step it will be removed during `push()` as it is not present in the local workdir and `rsync --delete` is used to sync files before executing testing. Reproducible with the `/tests/run/worktree` test:

    cd tests/run/worktree/data/prepare
    tmt run -a provision -h virtual

We need to investigate the best approach as simply removing the `--delete` optio

[2021-12-01 14:43] lukaszachy commented on #870
Closed by #947

[2021-12-01 15:04] psss commented on #963
The support for `rlFileSubmit` has been merged in #918 just recently and has been released in `1.9`. Could you please try with the latest package from copr and verify it works as expected?

[2021-12-01 19:55] dkarpele opened #966 "Exception on `tmt test export --fmf-id` when running on non git repo"
[code]
Probably fails here https://github.com/psss/tmt/blob/599b9a183782b7c3802d30b8e87a9cbd8dba8032/tmt/base.py#L165 and
https://github.com/psss/tmt/blob/599b9a183782b7c3802d30b8e87a9cbd8dba8032/tmt/base.py#L160

[2021-12-02 15:26] lukaszachy commented on #966
@dkarpele What is your tmt version? I've tried to reproduce with the current master and 1.8.0 (later installed to fresh fedora VM) but I am unable to reproduce.

[2021-12-02 16:06] dkarpele commented on #966
@lukaszachy I don't understand how it works. I also updated my code to current master
[code]

[2021-12-02 16:44] frantisekz commented on #961
I'll take a closer look on Sunday/Monday. If I had to guess, the cloud-init that's part of the .box file isn't configured properly (not all necessary modules are enabled). The way forward would be to rely on libguestfs, detect insufficient cloud-init and make the needed conf changes to the image before booting it up. I am planning to work on this.

For the tmt emergency shell, this sounds like an

[2021-12-03 11:02] psss commented on #454
@ZelenyMartin, what about this one? It's about explicitly specifying that packages can be provided as a single name:

    package: tmt-all

Or as a list of package names:

    package:
      - one
      - two
      - three

Plus raising a more user-friendly error when the `package` value seems to be weird.

[2021-12-03 11:03] fernflower commented on #917
Just for the record - leapp team is also very-very interested in this feature :)

[2021-12-03 11:08] psss commented on #325
This has been covered by 0a3c7c52.

[2021-12-03 11:08] #325 closed

[2021-12-03 11:24] psss commented on #180
I believe this has been covered by #877. The [second chapter](https://tmt.readthedocs.io/en/latest/guide.html#under-the-hood) of the guide now clearly describes what are plans (L2) and tests (L1).

[2021-12-03 11:24] #180 closed

[2021-12-03 16:56] psss opened #968 "Create a tldr version of the `tmt` man page"
Would be nice to add `tmt` to the `tldr` project:

 * https://tldr.sh/
 * https://github.com/tldr-pages/tldr

Also, what about having a `tmt tldr` subcommand as well?

[2021-12-03 17:04] lukaszachy opened #969 "Support beakerlib tests as prepare scripts"
While tmt supports ansible and shell as prepare plugins there are a lot of "tests" written in beakerlib which are setup/preparation steps in reality. If tmt could execute tmt tests as part of the prepare step it would be great.

It could be very similar to discover:fmf
Needs to support order, require/recommend, libraries, remote repo fetching.

[2021-12-03 17:11] lukaszachy commented on #963
Just a note that at this moment it just copies files into workdir (which is later pulled to the host). There is plan (idea) for #280 which could hold path to this files so they are discoverable and visible in reports.

[2021-12-03 17:38] lukaszachy commented on #944
One can use #950 to enumerate tests in order which they should be ran.

Support of 'order' attribute is TODO.

[2021-12-03 17:41] lukaszachy commented on #969
Related #945

[2021-12-03 22:03] thrix opened #971 "Provide path to the worktree during test execution"
Looks to me it could come handy to be able to run tests in workdir if requested, or provide an environment variable so we can easily remve workarounds like this one:

https://gitlab.com/testing-farm/tests/-/blob/main/gating/validity/test.sh#L6

Here I want to reference the target repository as I need to validate gaitng.yaml with it

Related to https://issues.redhat.com/projects/OSCI/issues/OSCI-24

[2021-12-03 22:06] thrix commented on #971
@lukaszachy @psss do we have somwhere a solution coming for this? Maybe it is a dupe ...

[2021-12-03 22:33] thrix opened #972 "adjust should also work for prepare steps"
Seems this does not work right?

[code]

I would like to run a specific prepare step only on some OSes.

[2021-12-06 10:19] psss commented on #971
Recently we've brainstormed on the hacking session that there could be a `TMT_TREE` variable with path to the `plan/tree` directory exported and available to tests so that they can perform actions there if needed. Would that cover this use case?

[2021-12-06 10:23] psss commented on #972
The correct `adjust` syntax would be this:

[code]

This seems to be working just fine:

[code]

[2021-12-06 11:11] psss commented on #944
The core key `order` is outlined here:

 * https://tmt.readthedocs.io/en/latest/spec/core.html#order

I believe this is a duplicate of #486. Should be relatively easy to implement. Let's try for `1.10`.

[2021-12-06 11:12] psss commented on #944
Maybe @ZelenyMartin would be interested in this?

[2021-12-06 11:29] psss commented on #969
Interesting idea. Should be useful, especially from the backward-compatibility and fluent transition point of view.

Makes sense, agreed.

[2021-12-06 11:58] lukaszachy opened #973 "Traceback for 'run --last login'"
I very likely didn't run it correctly but tmt shouldn't traceback (edit: missing 'provision' in 2nd step)

tmt version: 1.9.0 (599b9a1)

To reproduce
1. tmt run provision -h v -i <IMAGE>
2. tmt run --last login finish

[code]

[2021-12-06 13:28] thrix commented on #972
ty!

[2021-12-06 13:28] #972 closed

[2021-12-06 14:14] psss commented on #940
Yes, shell strips the quotes. The current environment variables implementation supports providing multiple variables in a single option:

    tmt run -e "X=1 Y=2"

In order to parse multiple variables we do a `shlex.split()` on the `--environment` option content which causes the problem. To make working with current implementation it's possible to use this:

    tmt run --environment "BZLIST='7165

[2021-12-06 14:23] juk commented on #940
Hi Petr, thank you for explanation.

I think current behavior makes sense and updating documentation with examples like you mention above should be sufficient.

[2021-12-06 14:30] lukaszachy commented on #940
No please. Once one realizes how to do the quoting it works as intended.

[2021-12-06 14:37] juk commented on #940
+1 For some reason i thought --environment expects single variable

[2021-12-06 14:53] psss commented on #940
Ok, proposing a spec update in #974.

[2021-12-06 17:27] #940 closed

[2021-12-06 19:05] psss commented on #852
Good, thanks for verifying this!

[2021-12-06 19:05] #852 closed

[2021-12-07 10:51] jscotka commented on #968
I would prefer to have there commands for debugging like:
  * login to last executed machine (not important how it was provisioned)
  * show last log
  * show last failed test
  * run faled test again
  * ...

[2021-12-07 12:08] lukaszachy commented on #39
As far as I know `order` attribute is working correctly in [prepare](https://tmt.readthedocs.io/en/stable/spec/plans.html#prepare) step.
Please reopen if you need more functionality

[2021-12-07 12:08] #39 closed

[2021-12-07 12:09] lukaszachy commented on #50
@thrix Is this still needed?

[2021-12-07 12:11] lukaszachy commented on #52
Require / recommend values are aggregated from enabled tests.
Please reopen if tmt should do more.

[2021-12-07 12:11] #52 closed

[2021-12-07 12:12] lukaszachy commented on #58
Vagrant plugin has been removed. Closing this issue

[2021-12-07 12:12] #58 closed

[2021-12-07 12:19] lukaszachy commented on #103
Artifact field (once implemented) should be the way how to specify which files/directories should be pulled from guest.

[2021-12-07 12:50] lukaszachy opened #975 "Use another plan within a plan"
There should be a way to reference plan from another plan to avoid duplication and have single source of truth (or limited sources of truth).

Possible use case in Integration test of several components:
Component A wants to run selected tests of component B to verify they work.
Component B has non trivial setup which needs to run (e.g. prepare/ansible)
Set of tests for Compoment B is selected by

[2021-12-07 12:55] psss commented on #297
Duplicate of #975, filed earlier but the new issue has a more detailed description.

[2021-12-07 12:55] #297 closed

[2021-12-07 13:00] psss commented on #33
This has been covered by the `exclude` key in [prepare install](https://tmt.readthedocs.io/en/latest/spec/plans.html#install) plugin.

[2021-12-07 13:00] #33 closed

[2021-12-07 15:15] psss commented on #39
I'm afraid the missing part is that testing farm would perform the artifact installation under a specific `prepare` order. I imagine this could work something like this:

    tmt run --all provision ... prepare --how install --directory /path/to/rpms --insert --order=AGREED_ORDER

Users then would be able to specify prepare steps configuration for both before and after the artifact installation. B

[2021-12-07 15:38] psss commented on #356
On today's hacking session the following approach was proposed:

 * test runner: use `~/.cache/tmt` directory (under the home directory of the user who is executing `tmt`)
 * guest: use `~/.cache/tmt` directory (under the target user account which used for testing)

Does this make sense to others as well? Any concerns or objections?

[2021-12-08 11:46] The-Mule opened #976 "Allow tmt run to execute in parallel"
Use case: As a tester I want to be able to run all `execute` step blocks in parallel. Things to be considered before diving into the implementation:

 * Any recommendations about the best python way to paralelize the execution?
 * How should we handle logs for individual `execute` step blocks?
 * What should the console output look like for parallel actions, including `provision` and `prepare`?

[2021-12-08 15:06] #917 closed

[2021-12-08 15:37] happz commented on #976
(Unsorted notes)

Multiple shades of parallelization are available, on different levels (process pool vs thread pool) and different approaches, like a pool of workers & task queue vs spawning workers with their work already given. Threads will hit GIL sooner or later, processes eat more resources...

Also, there should be a limit on how many workers would be used (configurable...), at some point w

[2021-12-08 15:45] lukaszachy commented on #976
So just `execute` would run in parallel? (we probably want option to cap the number of workers)
IMO if we just need to prefix output from each worker (including its start)

So for non verbose (`tmt run`)  nothing should change - progress bar will just update faster as there is no other output from execute step

For `tmt run -v`
[code]

In log.txt e.g.
[code]

There is a lot of rpm / rsync operatio

[2021-12-08 15:48] lukaszachy commented on #976
Good overview @happz . I read this as proposal to make just execute part parallle. (there is #267 for running whole plans in parallel).

[2021-12-08 15:56] FrNecas commented on #976
I don't have a lot of experience with parallelism in Python, so take my words with a grain of salt. We could obviously use threads but using the [`asyncio`](https://docs.python.org/3/library/asyncio.html) library seems like the better way to go with newer versions of python. From reading up about it a bit, it seems that for each execute step, we could launch a task and then before reporting can st

[2021-12-09 07:55] The-Mule commented on #976
@FrNecas Ad synchronization (2). Yes, synchronization is out of scope IMO and it will be handled externally. It works the same way as in Beaker - multihost test is just a singlehost one executed multiple times.

@lukaszachy If there will be a limit for the parallelism then we need to have check that it is greater or equal than the number we need to run the test (sync library we are planning to use

[2021-12-09 08:02] The-Mule commented on #976
@FrNecas Ad output (1), yes - I think what you are suggesting is the only way, each execute should maintain its own output and they should be printed in the end. For immediate output maybe it can work like 'tail -f output1 output2'' - where output1 and output2 are buffered and printed out in batches (triggered by time or by actual buffer size) and always prefixed. Something like:

`==> output1 <==

[2021-12-09 09:00] psss commented on #976
Yes, we have several levels of where the parallel execution could be provided:

 * Run the whole plans in parallel
 * Provision & prepare pairs (we don't have to sync before prepare)
 * Test execution on individual guests (the multihost scenario)
 * Singlehost plan generating multiple environments (e.g. based on contradicting hardware requirements)
 * Run individual tests in parallel (to speed up

[2021-12-09 09:41] sopos commented on #976
I basically agree with all what was written already. I like the idea of prefixing the immediate output if requested (`[w0] `, `[wX] `).
I would just not batch the outputs as we may still want to be able to run it in the _interactive mode_ where it is expected to run `bash` command on some of the SUTs. This would be definitely challenging, so I would consider the _interactive mode_ as a nice to hav

[2021-12-09 10:39] pcahyna commented on #917
FYI Fedora images should be now compatible with both firmwares: https://fedoraproject.org/wiki/Changes/FedoraCloudHybridBoot

[2021-12-09 10:42] pcahyna commented on #917
[code]
yes, on POWER we will need to select between OpenFirmware and PowerNV (although `boot` may be a bit misnamed, because firmware selection is not just about booting...)

[2021-12-09 10:47] psss commented on #917
@pcahyna, so do you suggest to use a better name for the section instead?

[2021-12-09 11:51] lukaszachy commented on #976
@The-Mule I think we have different interpretation of "run `execute` step in parallel". And they probably shouldn't mix.

1. UC: Speed up execute step, just for tests which can run in parallel on the _same_ guest. (similar to what pytest-xdist is doing).
2. UC: Multi-host scenarios with synchronisation between multiple guests.

[2021-12-09 13:33] pcahyna commented on #917
@psss it may be ok after all. I suppose for PowerVM vs. PowerNV one should rather use the hypervisor field, if it is going to exist (like in Beaker, `<hostRequires><system><hypervisor op="==" value=.../></system> </hostRequires>`). At the end, the question is, what is the field going to represent and how it will be used. Let me think whether there is a similar distinction like EFI vs. BIOS on othe

[2021-12-09 13:39] psss commented on #917
For the features related to virtualization there is already outlined a `virtualization` section:

[code]

[2021-12-10 13:16] zelial commented on #254
ad loan: you have to request loan from the machine owner who then has to grant it, it's not suitable for an automated process.
ad images & snapshots: that will not happen with Beaker in maintenance mode.

[2021-12-10 13:58] jirka-h commented on #942
For the Kernel Performance testing, this is a critical requirement. We need to run the tests on a specific host to ensure we are comparing apples to apples (performance numbers produced on the same HW).

Thanks a lot
Jirka

[2021-12-13 09:25] psss opened #978 "Discover from dist-git source should explore metadata under the source directory"
Currently the source tarball is unpacked under the `discover/default/tests` directory and test discover is done from there. This brings two problems:

 * When the source tarball includes the `.fmf` directory it is ignored as a nested `fmf.Tree`.
 * Discovered tests names receive an extra prefix from the source directory

We should discover tests directly from the unpacked directory and make sure t

[2021-12-13 09:34] lukaszachy commented on #978
Thank you for the report, I'll try to create a fix this week.
Proposal: Expectation is that extracted source contains .fmf root. When it is not there tmt will do `tmt init` in extracted sources.

New option `--dist-git-init` will change the behaviour:

- `False` -> disable feature (don't run tmt init at all),
- `str` -> relative path in extracted sources where tmt init should be called,
-  `True`

[2021-12-13 10:08] psss commented on #978
The `--dist-git-init` feature drafted above looks like a very elegant solution to me. Thanks!

[2021-12-13 17:14] thrix commented on #942
spec defined, we will need to discuss a bit the details I guess.

See the PR pls ...

[2021-12-15 18:21] lukaszachy opened #983 "tmt tries to push to None when machine fails to boot"
I have qcow2 which fails to boot. However I think tmt should detect the failure faster and shouldn't try to `Push workdir to guest 'None'.`

Final message is correct: `Failed to boot testcloud instance (Instance tmt-013-CVawejsZ has failed to boot in 60 seconds).`

In log.txt I see:
[code]

[2021-12-16 15:22] thrix commented on #971
definitely, it would!

[2021-12-16 20:38] #971 closed

[2021-12-22 17:06] Yarboa opened #986 "Change reboot script path config location"
In  osbuild images /usr/bin is RO

On step provision --how connect, once tmt-reboot called from test
the following error show

err: cp: cannot create regular file '/usr/bin/rstrnt-reboot': Read-only file system

Suggest  REBOOT_SCRIPT_PATHS should be configurable

[2021-12-22 17:08] Yarboa commented on #986
I would like to take this PR,
Please guide me

[2021-12-27 19:26] dkarpele opened #987 "Failed to process 'dist-git-source' on `tmt run -dddvvvr discover`"
[code]

[2021-12-29 17:21] Yarboa commented on #986
Tested solution
add option to copy the following,
https://github.com/psss/tmt/blob/a401739bd6c755f263bb732abd1528a19ff5c665/tmt/steps/execute/internal.py#L17-L20

In case of error on copy move the REBOOT_SCRIPT_PATHS  /var/tmp/

[2021-12-29 17:24] Yarboa opened #988 "For edge/auto images yum/dnf should use a read/write directory"
In osbuild small footprint images rsync is not installed

After tmt-reboot. the next test is failing on the following:
rpm -q rsync || yum install -y rsync'.
out: package rsync is not installed
While trying to run rsync with ssh option i found that tar archive does not exist

[2021-12-29 17:32] Yarboa commented on #988
In osbuild small footprint images rsync and tar are not installed

After tmt-reboot. the next test is failing on the following:
rpm -q rsync || yum install -y rsync'.
            out: package rsync is not installed
While trying to run rsync with ssh option i found that tar archive does not exist

[2021-12-29 17:55] Yarboa commented on #988
no need of tar inside remote
rsync -v -ae "ssh -p 2222"  /home/yarboa/tests/base-image/smoke/ostree   root@127.0.0.1:/root/
Worked well

[2021-12-30 10:37] Yarboa commented on #988
Tried this, and installes successfully on /uar/local/bin as following
dnf install rsync --installroot=/usr/local/bin

[2021-12-30 15:59] Yarboa commented on #988
from man rsync
_Note that rsync must be installed on both the source and destination machines._

[2021-12-30 16:19] Yarboa commented on #988
It seem that rsync could be installed on whatever directory, the missing part
is link in /usr/local/bin/rsync to install root dir.

[2022-01-01 16:08] #987 closed

[2022-01-03 12:53] pcahyna opened #991 "Incompatible environment variable name `REBOOT_COUNT`"
Calling the variable that counts reboots `REBOOT_COUNT` (https://tmt.readthedocs.io/en/latest/stories/features.html#reboot-during-test) seems to contradict "The functionality is compatible with how restraint works", because restraint does not have such variable (at least not documented). According to https://restraint.readthedocs.io/en/latest/remove_rhts.html?highlight=rebootcount#legacy-rhts-task

[2022-01-04 12:59] pcahyna commented on #726
removing `on` keyword: #992

[2022-01-05 08:57] dennisbrendel opened #994 "tmt lint fails when .md file is present"
Steps to reproduce:
[code]
Result:
[code]
Expected result: A successful run, returning 0.

There are no manual test steps defined so there should not be a need to parse markdown files.

[2022-01-05 10:20] dkarpele commented on #994
I'll take it

[2022-01-05 14:50] #986 closed

[2022-01-05 15:06] psss commented on #991
Thanks for catching this inconsistency. We definitely wanted to keep the variable name consistent with what was used in the old tests to make the migration as easy as possible. Will have a look at this.

[2022-01-06 10:17] RHEmployee commented on #976
It looks like fork() and wait() scenario with some inter process communication (I think it's great to have test results before everything is finished).

I'm not sure about another aio or threading models in python because GIL (there is work in progress to mitigate impacts of GIL).

I don't think that mixing output is something we want. Yeah, we can grep the whole pile of text and cut results to pi

[2022-01-06 10:36] kkaarreell commented on #976
As a nice to have, I would like to see the output in separate terminals. I think we could use `screen` presenting output (tail -f) of log on each system individually and a user could access them eventually.

[2022-01-10 11:55] RHEmployee commented on #38
Hello. Do we have any idea how to configure tmt via config file or something similar?

If is still free, I would like to take it and maybe search for another similar issues which needs some type of configuration on tmt side.

[2022-01-11 11:21] RHEmployee commented on #38
Ok. Looks like config approach is described here:
https://github.com/psss/tmt/issues/84

[2022-01-11 11:24] RHEmployee commented on #84
Is this still free? It can be nice to play around and try to implement:
https://github.com/psss/tmt/issues/38

[2022-01-11 14:02] psss commented on #84
Yes, this is free. I expect the configuration format will need some discussion though.

[2022-01-11 14:10] psss commented on #38
This is a very good point. @schidlo, can you confirm that adjusting your terminal color palette fixes the issue?

Color disabling can be done using the `NO_COLOR` variable. See `man tmt` for more info.

[2022-01-12 10:44] RHEmployee commented on #891
Hi. Just pinging around. This issue seems to be already solved.
and https://github.com/psss/tmt/pull/892
has been closed.

[2022-01-12 10:53] RHEmployee commented on #868
Hello.

1) should be ServerAliveInterval and ServerAliveCountMax part of CLI interface? Should be user pass this via cli?
2) should (as @thrix) mentioned) be configured via configuration provide by user?
If yes, then we can add it to:
https://github.com/psss/tmt/issues/84
3) What seems to be reasonable defaults for tmt?
Defaults for ssh are (according to docs):
ServerAliveInterval - 0 seconds
Serv

[2022-01-12 12:45] RHEmployee commented on #431
Hello. I can take a look at this issue.

[2022-01-13 14:42] i386x opened #998 "Please allocate PTY during SSH session"
Some commands require PTY to work correctly, e.g. `ausearch`. Excerpt from `tmt` debug log:
[code]

`runtest.sh` contains `ausearch --start recent -m acct_lock,acct_unlock`. Without PTY allocated, the result is `<no matches>`, with PTY the `ausearch` print found records as expected. See the snipped from the terminal window:
[code]
(hangs)
[code]
(gives the expected output)

[2022-01-13 16:49] i386x commented on #998
Workaround for tests until this issue is resolved and deployed: `except -c "spawn -noecho ${_CMD} ${_ARGS[*]}; except eof"`

[2022-01-14 12:45] i386x commented on #771
What about introducing a next step after `provision`, called e.g. `adjust`, which adjust what have been discovered based on the `provision` step? The sequence of steps would then be `discover`, `provision`, `adjust`, `prepare`, `execute`, `report`, `finish`. `adjust` can be skipped if there is nothing to adjust, e.g. there are no `adjust` directives in `fmf` metadata, or the discovered context wil

[2022-01-17 17:57] hujkis commented on #968
@psss I presume we want to maintain tldr .md file(s) within this repo and create pull requests to github.com/tldr-pages/tldr?

Wouldn't that be basically the same as `tldr tmt`? Albeit one requires a tldr client and access to pages database.
How about `tmt --examples`, in the same style as tldr page, but without tmt name, description and installation instructions?

[2022-01-17 18:17] thrix commented on #998
@i386x should this be somehow configurable? I see in restraint metadata such flag `use_pty` ....

[2022-01-17 18:29] sbertramrh opened #1002 "For legacy scripts need the ability to import "metadata" files not just "Makefile"."
Many scripts from different kernel teams have adapted using "metadata", to generate the test metadata for test management, instead of Makefile. This is a request for tmt to add support to import for "metadata" file to get the metadata for the test.

An example can be found [here](https://gitlab.com/cki-project/kernel-tests/-/tree/main/rt-tests/rteval)[1].

[1]https://gitlab.com/cki-project/kernel-

[2022-01-17 18:53] lukaszachy commented on #1002
Documentation of the restraint's [metadata](https://restraint.readthedocs.io/en/latest/tasks.html#restraint-metadata-file) format.

There are few things tmt can't do:
- no_localwatchdog
- use_pty
- possibly OSMajor Specific Options (might be converted to adjust rules)

[2022-01-18 10:54] pcahyna commented on #975
I think this is a bad idea. fmf trees represent inheritance, i.e. a "is-a" relationship. You don't want to inherit the leaf plans from the root plan that references them, because the reference is a "has-a" relation - only a link. If anything, you might think of making the top-level plan to inherit from linked plans, but that would mean multiple inheritance, therefore solving conflicts, so you actu

[2022-01-18 15:51] sopos commented on #431
It looks like it work for me now.

[2022-01-18 15:51] #431 closed

[2022-01-19 11:56] sopos commented on #975
agree

The _child_ plans should be treated as _namespaces_ of the parent plan. It is necessary to be able to handle an unlimited number of plans linking.

Example:
A _master_ plan `SSG_Tier1` refers to `SST1_Tier1` which refers to `ComponentX_Tier1` and `SST2_Tier1` which refers to `ComponentY_Tier1`. The _ComponentX_Tier1_ and _ComponentY_Tier1_ plans define all the HW requirements, preparations

[2022-01-20 13:54] happz commented on #975
One real-life use case where we would really appreciate this or a similar feature, it would allow us to share more complex `prepare` and `adjust` stanzas between Fedora and other products. For LLVM, we start treating Fedora as a single source of truth, it does make things easier to manage, and we can re-use tests easily. It would be much easier if we could re-use whole *plans*, i.e. including nice

[2022-01-20 14:19] sopos commented on #975
Of course the ability to leave the prepare specifics on the component owner and not having to copy everything is crucial.

Without that the integration testing is almost impossible as the component owner may even not know that someone else is running their tests. If the owner changes the structure the other party user must react on that as well now.

[2022-01-20 16:15] sbertramrh commented on #1002
After checking with script creator we think use_pty=false is just the default and is not relevant to the test. Will run a few tests to confirm.

[2022-01-21 22:18] sbertramrh opened #1005 "TMT_PLUGINS does not support multiple directories"
I have a situation where the plugins are being installed in a different location than the main tmt modules so need to use TMT_PLUGINS to access the plugins.

when I export TMT_PLUGINS=/usr/lib/python3.6/site-packages/tmt/steps/provision i am able to see my plugin working.

export TMT_PLUGINS=/usr/lib/python3.6/site-packages/tmt/steps/prepare:/usr/lib/python3.6/site-packages/tmt/steps/provision:/us

[2022-01-24 10:29] kkaarreell commented on #726
In https://github.com/RedHat-SP-Security/keylime-tests/pull/35 I have implemented simple sync mechanism similar to the beaker/restraint one. Currently each test system expose its reached states using ncat on TCP port so that others can read it.
My plan was also to implement dedicated "provider" that would gather and expose states on behalf of test systems. So far I do not have a need for it but I

[2022-01-24 13:53] pvalena opened #1006 "[RFE] enhance prepare:Install"
Please support:
[code]

[2022-01-24 14:28] pvalena opened #1007 "(F35) TMT hangs when there are left processes running"
On F35 (might be fixed since), I need to kill all processes that I've run in background, otherwise the tasks is left hanging indefinitely (duration does not help!).

In both `prepare` and `execute`.

Example:
[code]
(Example not tested, sorry.)

[2022-01-24 17:01] psss commented on #1007
Tried with the following plan

[code]

Works fine with `container` provision, gets stuck with `local` and `virtual`.

[2022-01-25 08:54] psss commented on #963
Should be covered by #918.

[2022-01-25 08:54] #963 closed

[2022-01-26 08:37] #994 closed

[2022-01-26 13:49] lukaszachy opened #1011 "Finish step broken if nothing pushed to guest before"
When there is no discover or prepare or execute step nothing does guest push. But finish wants to pull nonexistent directory then.

Simple `tmt run provision finish` fails in finish pull with
[code]

Note that this can be also hit by first calling provision and later calling finish e.g.
1. tmt run --id myrun  provision
2. <do something with the guest but don't use tmt
3. tmt run --id myrun  finish

[2022-01-26 16:58] lukaszachy commented on #1011
Hmm, we should rework push and workdir structure a bit.... Looks that pull/push is manipulating guests.yaml (and other tmt control files)

[2022-01-27 09:58] lukaszachy commented on #367
Raising priority - for existing users of beaker-wizard it is easier to first run wizard and then import to tmt. Missing custom templates is not good for tmt.

Doing  `cp -r <old test> <new>` another way to get "templates".
But it would be great if tmt could to that on its own (including adding virtual cases).

[2022-01-27 10:05] kavol opened #1013 "tmt test convert does not import all bugs"
I've just run

[code]

but the resulting main.fmf

[code]

does not refer all bugs present in Makefile

[code]

[2022-01-27 10:33] sopos commented on #367
I used to use `beaker-wizard` because it was able to fill most of the data out of a BZ. Now I simply copy existing test and change things. If the template was just static without any automatic data gathering from BZ/Jira/whatever I would stick with copying old test I think.

[2022-01-27 13:35] RHEmployee commented on #868
Hello.

Just brain dump:

what aboout some cli interface similar to:
rsync -e which allows something like:
[code]

or there is another possibility which allows only changes of ssh options (ssh -o).

Possible scenarios:

(%u and %h should be replaced by tmt. Tmt also needs to add some internal stuff (? - keys, etc..)
tmt -e "ssh -o timeout %u@%h"

Another approach:

tmt --ssh-option "ServerAliveInt

[2022-01-27 20:59] psss commented on #1011
Yes, you're right. I'm trying to partially address this in #1015 by pulling only selected directories. However, we need some more improvements in this area.

[2022-01-27 21:28] #1013 closed

[2022-01-27 21:36] #942 closed

[2022-01-28 07:30] #988 closed

[2022-01-28 09:00] kkaarreell commented on #969
Hello,
pasting below my use case:

Plan 1 for testing upstream keylime bits that are installed with /setup/install_upstream_keylime
[code]
Plan 2 for testing distribution keylime RPMs, keylime is installed since each test have keylime in requires.
[code]
So far I was using this
[code]
discover:
  how: fmf
  test:
   - /setup/configure_tpm_emulator
   - /setup/install_upstream_keylime
   - "/functi

[2022-01-28 11:31] happz opened #1016 "TMT copies whole git repo even when --root was given with a subdirectory"
I have tests under `/server/tests/tmt`, and I call `tmt --root /server/tests/tmt ...` to run them. Unfortunately, `tmt` walks directory structure from `--root` up to git repo root directory, and copies this directory - `/` in my example - to guest, instead of expected `/server/tests/tmt`. This can (and does) result into considerable increase of size of copied data, since instead of just the tests,

[2022-01-28 16:11] #1011 closed

[2022-01-28 19:50] thrix opened #1018 "tmt reproducer steps do not include artifacts installation"
Testing Farm provides a reproducer snippet for easily reproducing failures on your localhost in its results viewer. Currently, that excludes artifacts installation. Once the new `install-ng` plugin is available we need to connect it and provide a splendid experience to the user.

Below is a workaround for the users until this feature lands.

## Current workaround for brew builds
TODO

## Current w

[2022-01-28 19:55] bcl commented on #978
I have a possibly separate problem with `dist-git-source`, I expected it to act like it did in the STI tests and extract the source and then run my test script, but it seems to be extracting the source, not finding any tests, and then not running the execute section. The test has already been found, that's what it is running, so why is execute skipped?

[2022-01-29 09:38] jkonecny12 opened #1020 "Improve `tmt` user experience on SilverBlue system"
When you are on SilverBlue system you are trying to avoid adding packages as layers to the system. So, it's great that you have [podman example in the documentation](https://tmt.readthedocs.io/en/stable/overview.html?highlight=podman#install) but you can't use this for running the tests if they using container or VM. Could you please improve this experince?

Pain points I saw now:
- The install ex

[2022-01-29 09:41] thrix commented on #1020
Thanks for filing, I have also Silverblue on my refreshed laptop, so I believe I can try to come up here with some solutions.

[2022-01-29 09:45] jkonecny12 commented on #1020
If I run the existing container test with:
`podman  run --privileged -it --rm -v .:/my_project:z quay.io/testing-farm/tmt-all bash`
the output is:
[code]

[2022-01-29 09:48] jkonecny12 commented on #1020
Another great possibility would be to use flatpak-spawn for running working with the podman outside of the container?

[2022-01-29 10:19] thrix opened #1021 "Provide pre-commit hooks for linting and checking .fmf/version"
That would be nice to provide.

[2022-01-30 17:56] jirka-h opened #1023 "Please enhance the tmt by adding -oForwardX11=no to the ssh commands to avoid tmt hanging on hanging ssh connection"
Hello,

I was testing the tmt to execute tests on the external system via ssh

[code]

The provisioning step never ended [1] and the job got stuck.

Adrian has helped me to find the root cause. This command
[code]

never ended. It was because I had X11 forwarding enabled in my `.ssh/config`

[code]

You can reproduce it like this:
[code]
In my case, HOST was running `RHEL-8.5.0` and I have Fedora

[2022-01-31 09:00] lukaszachy commented on #978
That is a bit different I'm afraid. In that case you are not expected to search for any tests in the extracted sources, right?
So dist-git-source just adds code but metadata are already present.
I think it could be quite easy to add.

[2022-01-31 09:59] psss commented on #1023
Thanks for reporting this. Using `-oForwardX11=no` seems like a reasonable default to me. Going to create the pull request right away.

[2022-01-31 12:03] #1023 closed

[2022-01-31 12:47] jirka-h commented on #1023
Thanks for a quick resolution!

[2022-01-31 16:28] bcl commented on #978
I think I figured it out. The differences between plans and tests aren't obvious and I got it working by putting the actual test execution into tests/unit.fmf and the setup with dist-git-source into a corresponding plan under plans/

Right, the tmt tests are in dist-git.

[2022-02-01 02:59] BeeGrech opened #1027 "Support for rstrnt-... comands on DUT provisioned outside of beaker"
all kernel tests use restraintd commands like rstrnt-report-result for example. These commands are not recognized on systems provisioned outside of beaker.
In some cases the command can be called many times per one test.

Expected behavior: TMT would update the test result

Observed behavior: TMT Captures the output marking a test as failed or skipped, but TMT report shows test as passed.

Log Out

[2022-02-01 08:13] lukaszachy commented on #1027
FTR: There are other commands as well: https://restraint.readthedocs.io/en/latest/commands.html#restraintd-intro
And plenty of legacy  (which are likely used too) https://restraint.readthedocs.io/en/latest/remove_rhts.html#legacy-rhts-cmds

If we do this we might at least to the log submit too (even though it will be simple copy to TMT_TEST_DATA dir).

[2022-02-01 08:24] psss commented on #1027
Thanks for reporting this. I believe the implementation of `rstrnt-report-result` which would store test result and optionally submit log or custrom metric should be fairly easy. But as @lukaszachy mentioned there can be much more command and we should consider what would be the best approach.

I would say, if there is a reasonable number of frequently used `restraint` commands it should be ok to

[2022-02-01 08:46] dkarpele commented on #944
I will work on this request.

[2022-02-01 09:12] RHEmployee commented on #915
Hi. About exit codes and specially for exit 222. Just technical note

According to bash man:
 The return value of a simple command is its exit status, or 128+n if the command  is
       terminated by signal n.

https://tldp.org/LDP/abs/html/exitcodes.html says:
There has been an attempt to systematize exit status numbers (see /usr/include/sysexits.h), but this is intended for C and C++ programmers

[2022-02-01 09:13] psss commented on #502
As the first step, what about excluding the `backup` directory during `guest.pull()` after test is executed? This should be fairly simple to implement and could fix problem with permission issues caused by backed-up system files.

[2022-02-01 10:14] pcahyna commented on #944
@sopos is it a good idea? With this, you basically say that test can't run on separate SUTs, and can't run in parallel.

[2022-02-01 10:54] lukaszachy commented on #68
In the end we probably need to support four actions:
* completely override plan config (should be probably default)
* insert/append a new step config (by providing order)
* update an existing config (match by name, local defaults have lower prio)
* weak update (only set values which are not set, defaults have higher prio)

[2022-02-01 11:03] i386x opened #1028 "tmt tests import fails when run for the second time"
When `tmt tests import` is run for the second time on already imported/converted metada, it is still searching for `Makefile`:
[code]

As a test writer, I would like `tmt tests import` prefers existing fmf metadata over Makefiles. Especially, I would like `tmt tests import` to follow the following scenario:
1. load fmf metadata if there are some
2. load metadata from `Makefile` if there is some

[2022-02-01 15:17] #991 closed

[2022-02-01 18:15] thrix opened #1031 "tmt should display the commands it is running"
This is visibility must-have, and it mostly applies to shell tests written directly in the plan or as shell discover step. All major CI systems do this, we should also. Currently the run command is hidden, I do believe it should be part of the output.

See https://pagure.io/fedora-ci/general/issue/311#comment-778476

[2022-02-01 20:03] sopos commented on #68
Currently, the commad line options wins completely. To change it to and an update or an append operation rather than a replace operation the syntax could be extended with an fmf-like style `tmt run provision+ ...` to express an addition to the provision in the same way as fmf inheritance works.

[2022-02-03 09:15] adiosnb opened #1034 "System not rebooted after a test with huge output"
One of our test produce **HUGE** amount of text to `stdout`. After the test execution, there is a reboot script with `tmt-reboot`, which should reboot the system. However, the system is not rebooted. I have created a test plan, which reproduce the issue.

Version:
[code]

Executed command:
[code]

[reproducer.zip](https://github.com/psss/tmt/files/7993174/reproducer.zip)

[2022-02-03 11:14] smwltr commented on #856
Hi, I have done a bit of a hack of testcloud to boot an aarch64 qcow2 image - namely messing around with the definition and . @frantisekz , if I want to try your WIP, should I install both tmt and testcloud packages from your repo?

[2022-02-03 11:47] lukaszachy commented on #1031
Visible on which level and how much details?  E.g. for simple `tmt run prepare -h shell --script "echo y" finish provision -h container` we have in log.txt
[code]

[2022-02-03 17:05] rasibley commented on #321
Another issue was filed which is a dub of this one, so it can be closed https://github.com/psss/tmt/issues/1002

[2022-02-03 17:05] #321 closed

[2022-02-04 16:13] sbertramrh opened #1035 "tmt run --id `--all` vs `-all` -> --all respects --id but -all doesn't"
provisioning with 1minutetip does not increment the run id, like other methods. Trying to force it using --id, the tmt switch, is ignored.

[2022-02-04 19:06] sbertramrh opened #1036 "prepare: shell not following sym link script."
I have a script that is called during the prepare step to add some repositories after installation. When it is linked it gives the following error:
[code]
After removing the link and copied the file to the location, the test ran without issue.

[code]

[2022-02-04 19:23] mgrabovsky opened #1037 "Discover tests in SRPM"
I have [a plan](https://src.fedoraproject.org/rpms/python-cachelib/blob/31e9ed57c352b194aba4ed2b1ddb308c4862dadf/f/plans/upstream.fmf) which runs upstream tests for a package I maintain in Fedora. The way I do this at the moment is I define a single test in the plan which clones the upstream repository, checks out the pertaining tag and runs the tests using Pytest.

This works fine for the moment.

[2022-02-04 20:04] i386x commented on #998
@thrix yes that would be nice

[2022-02-07 00:05] frantisekz commented on #856
<Re-posting https://pagure.io/testcloud/issue/120#comment-779486 for visibility>

There is now very preliminary build of testcloud that supports both aarch64 and ppc64le on x86_64 (native, eg. aarch64 on aarch64 might work but I haven't tested that yet). Apart from that, I haven't tested user sessions either, so they may or may not work for now.

The copr is: https://copr.fedorainfracloud.org/copr

[2022-02-07 12:46] lukaszachy opened #1038 "Difficult to debug provision error when login is used"
Plan contains invalid image, but when `tmt run -a login` is run, the only failure visible is
[code]

Without `login` tmt would print `Could not map 'foooooo' to compose.` But this message is lost forever, even from `log.txt`

IMHO we have two issues:
1. Do not loose error message from log.txt
2. Don't run login if provision failed

[code]

[2022-02-07 14:43] sopos commented on #944
@pcahyna I agree that it may collide in certain situations. At the same time there may be some specific needs in a plan so it should be something like _"use it if you know what you are doing"_.

Actually having a test as a setup should be done in some different way, e.g. through dependencies or completely independent approach, I mean some relations between tests, e.g. before, after, ...

[2022-02-08 12:36] thrix commented on #68
I would propose to use

* `run -a provision --image centos-7` would be weak update by default
* `run -a provision --image centos-7 --force-image` would be forced for all

[2022-02-08 13:22] sopos opened #1041 "convert attribute's sub-tree to a list"
Convert
[code]
into
[code]
This will allow standard logic of fmf inheritance to be applied to attributes expansion. It could be probable also deeper structure where the leafs would basically define the list item content.
There is still a question how to know if an attribute should be processed this way. It might be based on presence of a key starting with `/` or there may be some explicit "switch"

[2022-02-08 13:31] lukaszachy commented on #1036
Is the target of the link outside plans directory? rsync keeps symlinks (--links option)  and ignores targets outside of the tree (--safe-links option).
So this is very likely an intended behaviour.

[2022-02-08 13:36] lukaszachy commented on #1035
Hm, can't reproduce with tmt-1.10.0
`tmt run finish provision -h minute` created /var/tmp/tmt/run-135 (last run was run-134)
`tmt run --id run-140 finish provision -h minute` created /var/tmp/tmt/run-140

[2022-02-08 14:26] sbertramrh commented on #1035
Thanks @lukaszachy I didn't think to check my version before. i am on
[sbertram@sbertram wrapper]$ tmt --version
tmt version: 1.9.0 (599b9a1)

upgraded:
[sbertram@sbertram wrapper]$ tmt --version
tmt version: 1.10.0 (15f910b)

Already had a run-001 from a previous test and it still tries to use the old  run, not incrementing.

[code]

And when passing id I still see the same behavior. Could this b

[2022-02-08 15:51] mgrabovsky commented on #1037
The second option is closer to what I want/need. I have no control over the upstream (beyond suggesting a patch) so I suppose I need to store the metadata in dist-git.

[2022-02-08 16:24] psss commented on #1037
Actually, currently it's also possible to enable the `dist-git-source` feature and use test discovered from the local git repo to access the unpacked tarball. I gave it a quick try and it [seems to be working](https://src.fedoraproject.org/rpms/python-cachelib/pull-request/4) as expected.

@lukaszachy, now I'm not sure whether we should fix #978 ;-)

[2022-02-08 16:51] psss commented on #1037
Btw, what about creating a symlink `source --> tarbal-1.2.3` to make the directory more "known"?

[2022-02-08 16:53] sopos commented on #1041
It would cover just the `--weak-update` variant.

[2022-02-08 18:23] sbertramrh commented on #1036
Yes this was case for me. I tried the link because when i tried executing using a relative path it also did not work. For this to work would I just need to add the directory where the original file exists to my plan paths?

I have 2 tests/plans that use the same script. the script is in test1's directory /kernel/first_test/script.sh and i want to also have it run for test2 located in /kernel/secon

[2022-02-08 22:12] sopos commented on #915
I tried the tried also `tmt run -vvvddd --all provision --how connect --guest sopos-rhel8-brq plans --default report --verbose execute --how tmt` and I see still the same behaviour.
[code]
the test, respectively the Reboot library actually calls `rhts-reboot; sleep 3600`.

[2022-02-09 08:06] lukaszachy commented on #1036
Hm, those `extra-*` are used only in the bkr workflow-tomorrow and tmt doesn't recognize them.

Where is your fmf root? I believe that if it was in /kernel then you should be able to use symlink (/kernel/second_test/script.sh -> ../script.sh)

This works  (current directory is fmf root ( ./.fmf/version exists)), main.fmf contains `test: ./demo.sh`:
[code]

[2022-02-09 10:13] thrix commented on #1016
I would not sync anything specified in `.gitignore` + provide a way to disable sync of additional data maybe?

[2022-02-09 10:36] janhavlin opened #1042 "Prettier report to the user when /dev/kvm is not accessible"
When `/dev/kvm` is unavailable, the user should get a more reasonable warning.

<details>
<summary>Sample error output (click to reveal)</summary>

[code]

</details>

Tagging @frantisekz please, take a look.

[2022-02-09 11:04] frantisekz commented on #1042
Mhm, from briefly looking at the logs, it seems the missing /dev/kvm shouldn't cause the issues. The kernel panic might be caused indirectly by missing /dev/kvm , but it generally should work. I'll try to ping Richard W.M. Jones about this.

Did you mean that the warning about missing kvm should be printed even if it doesn't mean that you can't use tmt/testcloud?
Apart from that, I am, on purpose,

[2022-02-09 11:12] frantisekz commented on #1042
@janhavlin can you please try to run _libguestfs-test-tool_ and post the output here? I think that should crash the same way as did the tmt run, if my assumption was correct.

[2022-02-09 11:26] janhavlin commented on #1042
It indeed seems like it crashes in the same way.
<details>
<summary>output</summary>

[code]

</details>

[2022-02-09 11:29] frantisekz commented on #1042
Thanks, okay, I'll write an email to Richard, I'll relay the reply here if he doesn't chime in directly.

[2022-02-09 11:58] rwmjones commented on #1042
The problem isn't anything to do with TCG vs KVM:

[code]

This is the Fedora 34 version of libguestfs?  Is it modified in some way?  The dependencies seem to be missing for some reason.

[2022-02-09 12:10] happz commented on #1016
Not syncing files matching `.gitignore` is a good idea on its own. But, there can be large files or a pile of small ones, being part of the repository, having nothing to do with tests.

The point is, what makes `tmt` think it's allowed to peek outside of the given root? :) I see the point in autodetection, IIUIC, there are features like running only changed tests, sure, but when I, as u user, conf

[2022-02-09 12:28] rwmjones commented on #1042
I'm not able to reproduce this with the Fedora package and all the deps look correct.  Have you manually deleted `/lib64/libtinfo.so.6`?  Does it work if you delete `/var/tmp/.guestfs-*` and rerun?  What is the complete output of the following command (which will be very long)?

[code]

[2022-02-09 13:51] rwmjones commented on #1042
I'm not sure I have any idea.  It's copying the file into the appliance:
[code]
but why wouldn't bash then be able to load it at runtime?

These problems can sometimes be caused by unexpected changes in SONAMEs of libraries (although I don't think that is the case here).  Just in case I am rebuilding libguestfs for F34, can you see if the new package fixes it?  https://koji.fedoraproject.org/koji/

[2022-02-09 14:18] lukaszachy opened #1045 "Selecting tests by '.' in addition to filter is broken when multiple plans are selected"
If tmt run selects multiple plans, `tests --name .` doesn't work well. However it does for single plan.
See bellow for reproducer - plans have same definition so they should pick same (single) test.

Compare
[code]
with
[code]

I have structure like this
[code]
`main.fmf` are same and contain
[code]
`plan.fmf` contains
[code]

[2022-02-09 14:33] lukaszachy commented on #1045
Hm, first plan (/first) gets correct (`['/this']`) cli_names at https://github.com/psss/tmt/blob/master/tmt/base.py
and pdb shows that `path if name == '.' else name for name in names)` is evaluated

However the second plan (/second) gets empty list and `path if name == '.' else name for name in names)` ` is not reached.

[2022-02-09 14:38] lukaszachy commented on #1045
Second plan has same generator, maybe it is already exhausted?

[code]

[2022-02-09 15:50] lukaszachy commented on #1037
We have to - otherwise "name" is corrupted :) but dist-git-init:false should keep current behaviour

Well, tarball doesn't need to contain subdir so it might not be possible.

[2022-02-09 16:02] lukaszachy commented on #1035
OK, finally reproduced (but it is not related to the minute plugin).
Steps: `tmt init -t full` and `tmt run --id ZZZ -all` -> runs in last run id directory. However `tmt run --id ZZZ --all` -> runs in ZZZ run directory.
The difference is in `-all` vs `--all`.

[2022-02-09 16:04] lukaszachy commented on #1035
I am assuming click parses `-all` as `-a -l`.

[2022-02-09 17:24] janhavlin commented on #1042
After installing the new package, it is still failing. The output has changed but I still have no idea what's wrong.

<details>
<summary>output</summary>

[code]

</details>

[2022-02-09 17:32] rwmjones commented on #1042
Can you try upgrading any/all of: kernel, qemu, seabios-bin and see if the problem goes away?

Since Fedora 34 support ends in less than a month, I would update to Fedora 35.

[2022-02-09 18:36] sbertramrh commented on #1035
heh a typo on my part. thanks. so in a perfect world it would have said unknown option -all but instead it possibly interpreted it as you said, -a -l.

[2022-02-09 19:53] sbertramrh commented on #1036
tried with a relative path and link and not working. Not sure if it's because it's in the plan.fmf?

[code]
[sbertram@sbertram wrapper]$ ls -l ../../rt-tests/env_test/install_repos.sh
-rwxr-xr-x. 1 sbertram sbertram 1101 Feb  9 14:35 ../../rt-tests/env_test/install_repos.sh
[sbertram@sbertram wrapper]$ pwd
/home/sbertram/gitstuff/kernel/selftests/wrapper
[sbertram@sbertram wrapper]$ cd ../../rt-te

[2022-02-09 19:54] thrix opened #1046 "tmt does not like if entrypoint is not standard"
While working on our CLI tool, I found this annoyance, if I have `ENTRYPOINT` set, `tmt` starts the container with the command and just  exits, subsequent commands file. The error is cryptic:

[code]
I believe we should support setting entrypoint in these cases or maybe even force entrypoint to `sh`? WDYT @lukaszachy @psss ?

[2022-02-09 20:29] thrix opened #1047 "tmt expects a non-posix `sh`"
Seems Debian has `sh` set to a POSIX shell and does not know about `-o pipefail`. I have to do this workaround in my Dockerfile:

[code]

So the question is, we expect `-o pipefail` to work, should we not call bash and have it as a requirements for `tmt` execution? Any other ideas @psss @lukaszachy ?

[2022-02-09 22:37] janhavlin commented on #1042
This did not help either.

I upgraded to Fedora 35 and it seems to be working now. It is possible that my Fedora 34 system was corrupted in some way.

I'm closing this issue since the original note is not even correct, this wasn't related to `/dev/kvm` at all. Thank you for your help.

[2022-02-09 22:37] #1042 closed

[2022-02-10 08:12] lukaszachy commented on #1035
And it looks to be an expected feature - https://github.com/pallets/click/issues/955 when `-all` translates to `-a -l -l` and is accepted.

[2022-02-10 08:12] #1035 closed

[2022-02-10 09:46] lukaszachy commented on #1046
I'd say tmt should set entrypoint to `bash` (as you pointed in #1047) but there should be way for user to keep entrypoint as is (if they know what they are doing) or to set it to their preferred value. TMT will just assume it behaves as if it was unset/set to bash

[2022-02-10 12:23] lukaszachy commented on #1047
+1 to require bash

[2022-02-10 13:49] thrix commented on #1046
@lukaszachy agreed, seems like a good step forward. And document `tmt` right now requires bash in the container to work

[2022-02-10 14:35] lukaszachy commented on #1036
@psss I'm not sure if tmt can support such use case - hardlinks are impossible in git and tree vs discover have different parent directories

[2022-02-11 16:07] #1005 closed

[2022-02-11 16:57] BeeGrech opened #1051 "Add support for rsync install with dnf"
Currently automotive builds(CS9) only include dnf package manager
The current provision __init__.py command only supports yum install for the --installroot flag

[2022-02-14 13:24] #1045 closed

[2022-02-14 21:06] #1034 closed

[2022-02-14 22:50] bcl opened #1055 "dist-git-source with gpg signature in sources fails to run"
I have 3 files in the sources file for weldr-client, the source tar.gz, the gpg signature of the source which is .tar.gz.asc, and the gpg public key to use when verifying the source. While trying to add tmt support I discovered that it gets confused by the .tar.gz.asc file:

    The exception was: ("Failed to run command 'tar --auto-compress --extract -f weldr-client-35.5.tar.gz.asc'. Reason: Comm

[2022-02-15 10:14] thrix opened #1057 "Make tmt work on Debian-like OS"
It would be nice if tmt would work with Debian like OS. What we know has issues:

* `tmt` expects default shell is `bash` - might be fixed in #1050
* `tmt` hardcodes `yum/dnf` and also the required package names

There might be more ...

[2022-02-16 15:55] sbertramrh opened #1059 "Styling and organization: interpret \ as line continuation in fmf file"
This might be an fmf limitation but would be nice to allow format long commands with \ to break it up on several lines and format it so it looks presentable.

Sample output when trying to implement:

15:40:52             Run command 'ssh -oForwardX11=no -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -S /run/user/4202847/tmt/tmpa74i3xwb root@10.19.243.233 export BUILD_FROM_SRC=1 CKI_SELF

[2022-02-17 14:57] sbertramrh commented on #1059
Thanks @psss It worked.

[2022-02-17 14:57] #1059 closed

[2022-02-21 12:43] KwisatzHaderach opened #1060 "Missing overall result: fail on test case timeout"
If a test case in test suite fails due to timeout there is no overall result for that test case and thus it can't be found easily.
The run just reports n tests passed and 1 error and you basically have to match list of tests with results with tests that were executed to find the one offending case to investigate.

Maybe this could also be fixed by generating some overall result report so I don't h

[2022-02-22 10:41] sopos commented on #502
for the beakerlib framework the files to be synced back from individual BEAKERLIB_DIRs are:
_TestResults_,
_journal.xml_,
and possibly _journal.txt_
\+ files generated by `rlFileSubmit` and `rlBundleLogs`

[2022-02-22 10:45] lukaszachy opened #1061 "tmt clean should not run rsync at all"
By mistake I had run `tmt init` in my $HOME. And then I ran `tmt clean`.
I certainly didn't expect tmt to run rsync of my $HOME to some plan during cleanup.

`ps aux | grep tmt` shows
[code]
Dump of active process
[code]

[2022-02-22 11:55] psss opened #1062 "Introduce a new `prepare` plugin for common features"
As the first step towards a consistent way to prepare guests for testing a new `feature` plugin for the `prepare` step was discussed. The expected config syntax looks like this:

[code]

Similarly there should be a L1 key `feature` which could be used
to enabled features for individual tests:

[code]

For the implementation an ansible role with playbooks covering individual features should be used

[2022-02-22 13:45] psss commented on #1062
There are some limitations for `ansible` implementation on `rhel` (e.g. only some modules available). Double-check this before implementing as we need this to be working reliable across all supported distros.

[2022-02-22 13:55] psss commented on #976
A related article worth reading: https://www.root.cz/clanky/soubezne-a-paralelne-bezici-ulohy-naprogramovane-v-pythonu/

[2022-02-22 14:21] kkaarreell opened #1063 "tmt should allow to compare against defined context and not just adjust automatically"
The summary above is probably confusing but I will try to describe my use case.

As a tester following a specific test plan (in a general sense) I was to run my tests in environments required
by the test plan and not in (different) environments built using metadata of individual tests.

Example: I have a test plan objective, e.g. test a new architecture. And there is a test case requiring specific

[2022-02-22 14:25] lukaszachy commented on #978
Needs more time to evaluate possible corner cases

[2022-02-22 20:37] sbertramrh opened #1064 "dry-run in provision --how=connect leads to error"
This is dry mode so not an urgent thing but I assume because its not a real run the remote tmt directory structure is not created and so rsync fails.

 tmt run --id remote-001 --all provision --how connect --guest ampere-mtsnow-altra-08.khw4.lab.eng.bos.redhat.com --dry
/var/tmp/tmt/remote-001

/plans/kselftests
    discover
        how: fmf
        directory: /home/sbertram/gitstuff/kernel

[2022-02-23 08:18] #1051 closed

[2022-02-23 11:02] ukulekek opened #1065 ""Permission denied" when running "tmt run provision" from a non-root user in a container"
Hello, tmt fails to run from a non-root user in a container because it can't create a directory `/run/user/<UID>` for ssh socket.

Reproducer:
[code]

It is reproducible inside every container that doesn't have `/run/user/<UID>` directory.

Version:
tmt version: 1.10.0 (864b392)

I'm not sure if it is a bug or expected behavior. Should every container have the directory to make tmt work or is ther

[2022-02-23 15:59] thrix commented on #976
We use [`concurrent.futures`](https://docs.python.org/3/library/concurrent.futures.html), it is [section 18.](https://www.root.cz/clanky/soubezne-a-paralelne-bezici-ulohy-programovane-v-pythonu/#k18), from the above article

[2022-02-23 20:58] happz commented on #976
Another interesting read, https://journal.stuffwithstuff.com/2015/02/01/what-color-is-your-function/ - could be considered as advising against `async`, but I feel it's mostly about `async` being "forced into" an existing codebase. This may be a problem for TMT, but also it might be pretty safe, depending on what third-party libraries TMT uses, or how data flow through TMT plugins. I for one would

[2022-02-24 08:04] TomasTomecek opened #1067 "A plan installs deps from all the tests"
http://artifacts.dev.testing-farm.io/c089aa49-7fb6-4c72-acca-c19c3af59f00/
http://artifacts.dev.testing-farm.io/49368cf2-f543-4163-a3ca-d72b8928376a/

the rpmlint plan is failing above, this is the plan
[code]

we have a few tests with `require`: it seems the plan inherits all of those requirements which is incorrect for us

if I want to run rpmlint on a spec in our upstream repo, what is the best

[2022-02-24 08:41] frenzymadness opened #1068 "Invalid SSL cert for artifacts.dev.testing-farm.io"
Would it be possible to allow HTTPS for artifacts.dev.testing-farm.io? HTTPS for that domain works but the provided certificate is not valid because it!s issued for api.dev.testing-farm.io.

Let!s encrypt CA supports wildcard certificates so it should be possible to get a certificate for *.dev.testing-farm.io.

[2022-02-24 09:21] lukaszachy commented on #976
I've realized we might need to swap finish and report (or add 'cleanup' step). If destroying SUT stays as the very last step after all results are processed then it will just eat resources until last test/login finishes.

[2022-02-24 09:35] psss commented on #1067
Looking at the plan I see the local test `discover` using `fmf` is enabled:

[code]

This is because it's inherited from `main.fmf`:

[code]

The solution is to use `discover --how shell`, the config can look like this:

[code]

[2022-02-24 09:39] FrNecas commented on #1067
Hah, Petr beat me to it, was just about to respond, never mind :)

Also as an alternative you can keep your plan the way it is and just add

[code]

[2022-02-24 09:55] TomasTomecek commented on #1067
Thank you, gentlemen! Trying it now here: https://github.com/packit/packit/pull/1496

I'm wondering what would help me to understand the cause so I wouldn't need to create this issue. I guess that I was confused that the package list is not displayed here and it is in the TF runs above.
[code]

If you feel like this is properly documented and there is nothing to do in code, please close and I'll t

[2022-02-24 10:33] psss commented on #1067
I don't think we can do much here, as `discover` can fetch tests from other repos and only then we can check for possible requires. Modifying `tmt plan show` to fetch all remote repositories is not an option, could be very slow. What could help you understand that something weird is happening is `tmt run discover -v` which gives an overview of tests which would be run.

[2022-02-24 10:46] thrix commented on #1067
what about providing a hint to the output with `-v`? Something like:

[code]

[2022-02-24 10:59] FrNecas commented on #1067
And also possibly a hint to non-verbose discover output?

[2022-02-24 11:17] thrix commented on #1068
It is resolved

[2022-02-24 11:17] #1068 closed

[2022-02-24 13:07] happz opened #1072 "Use of `unicode` and `basestring`"
These two names are used often in `tmt.utils`, e.g. here: https://github.com/teemtee/tmt/blob/main/tmt/utils.py#L617

IIUIC, these are used mostly thanks to from where the code comes, but actually, they have no effect at all: every time `isinstance(text, unicode)` attempts to run, raises an exception. Code is guarded against this kind of behavior, making both `basestring` and `unicode` presence in

[2022-02-24 13:14] frenzymadness commented on #1068
Thank you!

[2022-02-24 14:38] pvalena commented on #1006
If I have a really long list of packages, it gets highly unmaintainable... but the solution would be to split it to multiple `how: install`, correct?

[2022-02-24 15:15] thrix opened #1074 "Make it possible for tests to provide results"
In some cases, like running generic tests like `rpmdeplint` or `rpminspect`, it would make sense if the test could generate results instead of `tmt`. This would provide better user experience and keeping how generic tools run and let them take care of report results.

Now, to provide a resonable reporting they have to take various workarounds to generate nice report via tmt:

https://github.com/fe

[2022-02-24 15:48] TomasTomecek commented on #1067
hint++

that would be very helpful since I had no idea `discover` is so powerful (which again can be mitigated if I read the docs more carefully)

[2022-02-24 16:53] thrix commented on #1074
@psss @lukaszachy can you take a look at this if it does make sense to you?

[2022-02-24 16:55] thrix commented on #1072
@happz makes sense to me, but I would wait for @psss, as I guess this part of code was added for a reason?

[2022-02-24 18:04] lukaszachy commented on #1074
`report` is used to present the test results (either display, html, junit) - as of now the `results.yaml` is made in the `execute` step

IMHO this could be new test framework (needs name but pretend its `framework: own`) and tmt would just expect that after `test` command finishes there is `results.yaml` present in TMT_TEST_DATA and it will be used as is?

[2022-02-24 20:27] happz commented on #1074
2 cents from a passer-by: feels more like a (common) attribute/parameter/switch shared by test frameworks. I can imagine tests written with both `shell` or `beakerlib` frameworks could be interested in forging their own `results.fmf`.

Anyway, why am I even interrupting :) - is there documentation for `results.yaml` format? We in Platform Tools QE would be interested in consuming it whenever avail

[2022-02-24 20:30] happz commented on #1072
Definitely for a reason, but my impression was it's more of a copy & paste issue, to bootstrap functionality (it's a structured field implementation). TMT does not support running on top of Python 2, and these classes simply don't exist in Python 3, therefore this Python 2 code that did play important role in places the code came from isn't necessary for the TMT codebase.

No worries, I'm not touc

[2022-02-24 21:07] psss commented on #1072
Yes, these are mostly leftovers from the `StructuredField` implementation. It should be safe to remove them as `tmt` is Python 3 only.

[2022-02-25 10:25] #944 closed

[2022-02-25 10:58] lukaszachy commented on #1074
Hm, I beg to differ - the reason behind the framework attribute (except implicit require in the case of beakerlib) is just  to let tmt know how to evaluate the result. Probably the `shell` isn't best name either as tmt doesn't care about what executable is in `test` attribute - tmt cares only about the exit code.
What UC could there be to e.g. run `framework:beakerlib` but do post-processing of th

[2022-02-25 13:45] happz commented on #1074
Who can tell? Until yesterday, I for one wasn't aware some people are unhappy about the current behavior at all :)

Obviously, `framework` has more effects than just telling TMT how to process results, you mentioned it yourself, with `framework: beakerlib` there are implicit requirements added. There is some extra "before tests" work added by a framework, and there's also "after tests" work to be

[2022-02-28 07:04] lukaszachy commented on #1074
Fair enough. If this will be usable within any framework - Should it be controlled with https://tmt.readthedocs.io/en/stable/spec/tests.html#result ? (eg: result: provided)

[2022-02-28 10:04] psss commented on #1067
Hmmm, I'm not completely convinced that it would be good to pollute the default output with many hints. At least until we have a config implemented where user could specify level of hinting or disable the feature completely. Showing hints in verbose mode sounds better.  What definitely makes sense to me is to cover the `As a tester I want to see which tests would be run` use case in the [guide](ht

[2022-02-28 20:46] psss commented on #1074
I like the `result: provided` approach: An individual test could just state that it does handle the results processing itself. The only requirement would be to have a proper `results.yaml` file generated at the right location, probably in the `TMT_TEST_DATA` directory. And the "after tests" part would just append the results to the main results file. I guess this could cover the `rpminspect` use c

[2022-02-28 22:17] #720 closed

[2022-03-01 09:53] psss commented on #964
Possible workaround is to use the `TMT_PLAN_DATA` directory to store the created files.
https://tmt.readthedocs.io/en/stable/overview.html#variables

[2022-03-01 09:58] lukaszachy commented on #1016
Hacking session update - Let's try to push only (fmf) root and only if it is defined.
Breaking change:
- If there is no fmf root at all one can use default test plan but in this case no data will be pushed to guests anymore
- using files outside of fmf root but within git

[2022-03-01 14:33] martinpitt opened #1075 "reproduce Testing Farm's package installation"
I've been debugging a weird [failure](https://artifacts.dev.testing-farm.io/7b1306fa-9091-418e-a1a3-80917a2cea5d/) in https://github.com/cockpit-project/cockpit-machines/pull/601. Long story short, it was because the packit/TF run ended up with the distro package version cockpit-machines-264-1, instead of the PR's COPR build (262.5.gblablabla). Yes, the distro version is newer -- long story, not i

[2022-03-01 14:33] martinpitt commented on #1075
@TomasTomecek FYI, what we discussed on IRC.

[2022-03-01 14:43] thrix commented on #1075
@martinpitt yes, this is coming, @psss can point you to some tickets. We will unify how the artifacts are installed, `tmt` will takeover the responsibility, so it is reproducible in all environments (including your localhost)

[2022-03-01 14:44] thrix commented on #1075
@martinpitt for the particular run you have, it is now this:
https://artifacts.dev.testing-farm.io/246b3cdc-7f7e-46a1-b648-29855390e236/guest-setup-6b8652d0-3716-49d4-8df7-5402fec97df1/artifact-installation-6b8652d0-3716-49d4-8df7-5402fec97df1/

[2022-03-01 15:49] martinpitt commented on #1075
@thrix ! Glad to hear! I see, so currently there are some Ansible scripts which set up the VM, install the packages, and call tmt.

Cheers!

[2022-03-01 17:13] thrix commented on #1075
@martinpitt

yes, they are here:
* https://gitlab.com/testing-farm/infrastructure/-/blob/testing-farm/ranch/public/citool-config/guest-setup/pre-artifact-installation/entrypoint.yml
* https://gitlab.com/testing-farm/infrastructure/-/blob/testing-farm/ranch/public/citool-config/guest-setup/post-artifact-installation/entrypoint.yml

This is not done by Ansible, we have Python code doing that.

----

[2022-03-03 14:54] psss opened #1077 "Fix connection timeout for testcloud provision"
The connection timeout handling implementation is not working as expected in the `testcloud` provision plugin. The `DEFAULT_CONNECT_TIMEOUT` is set to `60` seconds but each ssh attempt takes around a minute. The result is that it can takes about 15 minutes until `tmt` gives up connecting to the guest.

Currently easily reproducible with the latest rawhide image:

    tmt run -vvvddd provision -h v

[2022-03-03 17:57] psss opened #1079 "Allow full metadata root sync of the work tree"
Currently we skip the `.git` directory when syncing the metadata root to the worktree to safe disk space and speed up execution:

https://github.com/teemtee/tmt/blob/2b04295589ed9b673b40b97f13b12f40c71168ef/tmt/base.py#L669

@kkaarreell shared with us a use case in which he would like to compare current branch of the metadata root against the default branch. What about allowing plans to specify th

[2022-03-03 18:17] FrNecas commented on #1079
Related to https://github.com/teemtee/tmt/issues/507 . I think we discussed on tmt hacking that in order to fix this one, we want to allow setting the mode of sync of worktree IIRC

[2022-03-03 21:37] thrix opened #1081 "tmt-all does not install on CentOS Stream 8"
Hmm, our images got hit by this:

[code]

[2022-03-03 21:37] thrix commented on #1081
@psss hmm, python3-markdown is not in epel?

[2022-03-04 07:49] FrNecas commented on #915
@sopos Sorry for not responding earlier, just noticed the discussion here when going through issues :) If `rhts-reboot; sleep 3600` is called, the problem is that tmt doesn't take control before the test finishes. So `rhts-reboot` is called which prints out our magic string for detecting reboot requests but then also `sleep` is called which keeps hanging and tmt doesn't get control back. I guess t

[2022-03-04 07:50] FrNecas commented on #915
I like the idea that Petr has proposed for detecting the reboot based on presence of a file. I will try to make adjustments to reboot soon-ish :)

[2022-03-04 07:57] FrNecas commented on #1081
EPEL and its dependencies causing us trouble all the time... Yes it looks like `python3-markdown` is missing in EPEL, there seems to be `python-markdown2` but those are apparently different libraries so no luck there. Interesting that we ran into this just now, the dependency has been there for a long time :)

[2022-03-04 08:58] psss commented on #1064
Yes, during dry run all `guest.push()` and `guest.pull()` actions should be ignored. Should be very easy to fix. Maybe some of the new contributors would be interested?

[2022-03-04 08:58] FrNecas opened #1082 "Refactor huge files into more manageable pieces"
Some of our files have grown quite large over the course of time, mainly `base.py`, `utils.py` and perhaps even `cli.py` could be considered. At least for me, it is getting harder to navigate and find what I am looking for. Some of these could be nicely refactored into smaller files, e.g. with only a single class (or in the case of `cli.py` maybe a file for each command group could be useful). In

[2022-03-04 09:04] idorax commented on #1064
@psss, I'd like to fix it to get familiar with TMT.

[2022-03-04 09:07] psss commented on #1082
Good idea. Definitely makes sense to me to place some stuff into separate files. And this does not have to break python API. It would be just about better organizing stuff across individual files. For example `tmt.utils.StructuredField` could go to a separate file and would be imported back to `utils`. Having one class per file could also make sense, especially for the large ones like `base`. Befo

[2022-03-04 09:17] idorax commented on #1062
@psss, I'll look into this issue.

[2022-03-04 09:23] psss opened #1083 "Unable to provision rawhide using testcloud provision"
The latest rawhide images do not work with `provision --how virtual`. As a workaround, some of the older images can be used:

    tmt run -vvvddd provision -h virtual -i https://kojipkgs.fedoraproject.org/compose/rawhide/Fedora-Rawhide-20220222.n.0/compose/Cloud/x86_64/images/Fedora-Cloud-Base-Rawhide-20220222.n.0.x86_64.qcow2 login finish

@frantisekz is investigating the problem.

[2022-03-04 09:35] thrix commented on #1081
seems we are missing proper testing of the installation

[2022-03-04 09:36] psss commented on #1062
Great! As the first proof of concept you can start with creating just the new `feature` prepare plugin (we can keep the L1 functionality for later). The [install](https://github.com/teemtee/tmt/blob/main/tmt/steps/prepare/install.py) plugin can serve you as a good template for start.

[2022-03-04 09:51] psss commented on #1081
It is included in `powertools`, here's a [recent install log](https://artifacts.dev.testing-farm.io/4a21931b-ced1-45db-941d-b7307d75039b/guest-setup-771bb71f-5018-46a0-b3b9-678a44c89288/artifact-installation-771bb71f-5018-46a0-b3b9-678a44c89288/4-Install-packages.txt) confirming this. And we have it also [documented](https://tmt.readthedocs.io/en/latest/overview.html#install).

[2022-03-04 10:02] thrix commented on #1081
yeah, it is just changed behaviour, previously it worked. Makes sense. thx

[2022-03-04 10:02] #1081 closed

[2022-03-04 15:00] psss opened #1084 "Provide the list of supported formats in test/plan/story export"
I'd suggest specifying the choices in the CLI as well, see https://click.palletsprojects.com/en/8.0.x/options/#choice-options

_Originally posted by @FrNecas in https://github.com/teemtee/tmt/pull/1066#r813948376_

[2022-03-07 13:25] frantisekz commented on #1020
Addressed in https://copr.fedorainfracloud.org/coprs/frantisekz/testcloud-wip/ ( https://pagure.io/testcloud/pull-request/115# ), updated tmt build will be submitted there later today.

[2022-03-07 16:26] hhorak opened #1087 "tmt import does not authenticate"
Trying to re-import data (make `tmt` to recreate `main.fmf`) that is related to the PR https://src.osci.redhat.com/tests/mariadb55/pull-request/9. I get:
[code]
Using this version:
[code]

[2022-03-07 18:31] thrix commented on #1087
FTR https://issues.redhat.com/browse/EXDSP-587

[2022-03-08 09:53] lukaszachy commented on #1064
Just FYI: simpler reproducer (uses virtual provisioner to get local VM, any VM/remote machine is enough)
0. fresh directory
1. tmt init -t base
2. tmt run --id ownVM plans --default provision -vvv -h virtual --connection system
3. Note IP from the step above
4. tmt run -a provision -h connect -g <IP> --dry

To stop and remove machine created in 2. step `tmt run --id ownVM plans --default finish`

[2022-03-08 14:57] RHEmployee commented on #868
Very small part of possible solution:
https://github.com/teemtee/tmt/pull/1088

It looks like ssh options needs to be passed per plugin (minute, connection).
For now, only internal minute plugin have support for --ssh-option on MR.

Note: I'm going to add support to connection plugin to MR so stay tuned and review :).

[2022-03-08 15:11] hhorak commented on #1087
yay, it made the trick, thanks!

[2022-03-08 15:11] #1087 closed

[2022-03-08 15:12] frantisekz commented on #856
@sharkcz can you try the copr mentioned above? There is also patched tmt, so eg.

[code]

should all work on any arch.

The builds included there should support x86_64, ppc64le, s390x and aarch64 (including any combination of host-guest of these arches). I've tested it just on x86 for now, it should theoretically work everywhere.

[2022-03-08 15:24] sharkcz commented on #856
`tmt-all` has no broken deps for F-35/s390x, but then fails due a VM config, see bellow. But I believe we are very close :-)
[code]

[2022-03-08 17:31] sharkcz commented on #856
awesome, s390x works :-) I will take a look on ppc64le later
[code]

[2022-03-09 10:11] lukaszachy commented on #856
Very nice: On my x86_64 laptop - ` tmt run --remove provision -vvv -ddd -h virtual -i centos-stream-9 -a aarch64` boots and works (slooow, but works)

[2022-03-09 10:44] #1077 closed

[2022-03-09 12:03] frantisekz commented on #1083
Reported against NetworkManager: https://bugzilla.redhat.com/show_bug.cgi?id=2062211

[2022-03-09 13:21] t184256 opened #1089 "Not all Makefile fields are imported"
`examples/convert/Makefile` lists some fields that don't get imported: `Confidential`, `Destructive`, `License`...

Should they, maybe, at least get converted to tags? `Makefile-Destructive`, `License-MIT` or something.

Related: #524

[2022-03-09 19:10] thrix commented on #856
HAW COOL!!!!

[2022-03-10 13:02] lukaszachy commented on #738
This affects most of examples. E.g plans in https://tmt.readthedocs.io/en/latest/spec/plans.html#multihost

We need to make sure to split examples into working blocks (e.g. each example in its own block).

[2022-03-10 13:41] idorax commented on #1064
@sbertramrh, would you please show me the detailed steps about how to reproduce this issue? I failed to reproduce it according to @lukaszachy 's suggestion.

[code]

[2022-03-10 13:49] sbertramrh commented on #1064
@idorax The only other details I can provide would be the actual test. I have sent you a separate email with that test case. Also, looking at your test run output, I think you are running against the same output directory and not cleaning it after your test. This will in most cases cause an error and not run properly. --id forces tmt to run the test from the same location So either clean it after

[2022-03-10 14:25] lukaszachy commented on #1064
@idorax What tmt version do you have? Either 1.11 or current github main branch should fail

[code]

[2022-03-10 14:50] idorax commented on #1064
Well, my tmt looks pretty old, its version is `1.8.0`.  I'll try 1.11 later.
[code]

[2022-03-10 15:51] lukaszachy opened #1091 "`tmt tests export` prints duplicate keys if multiple tests are exported"
Both dict and yaml format have this issue.
Maybe time to provide same output as `tmt plans export`?

[2022-03-10 23:36] rasibley commented on #1027
hi @psss @thrix just an fyi this is needed for Automotive testing as we plan to use Testing Farm + TMT for our execution, we will be attempting to work around this for kernel by possibly running restraint kernel tests in CKI's environment for now, if there is some way to prioritize this work that would be nice as this is needed for RHIVOS certification. @BeeGrech would you mind changing the summar

[2022-03-11 08:16] lukaszachy commented on #1027
@rasibley Could you say which other commands are necessary?

If it is about full support than this should be closed as duplicate of #197 (which should get the priority).
Reason is that many of restraint commands are out of scope what tmt currently can do (e.g. rstrnt-adjust-watchdog)

[2022-03-11 08:54] hhorak opened #1092 "Listing minute images does the work and exists with a traceback"
I wanted to see which images are available, which `tmt` seems to make ok, but then a nasty traceback is shown.

[code]

[2022-03-11 09:02] FrNecas commented on #1092
Thanks for the thorough reproducer. This is caused by the `-a` flag which makes all steps run so after provision, prepare is launched but no guest was provisioned (as provision just listed images). But tmt should not traceback anyway, this should be an easy fix.

[2022-03-11 09:10] RHEmployee opened #1093 "Traceback when connect is used without cli arguments"
`tmt -vvvddd run provision -h connect`

Exception is throw inside exception.

[code]

[2022-03-11 14:00] idorax commented on #1064
If  `--dry` is specified, I found that `self.opt('dry')` is `True` in `guest.push()` but it is `None` in `guest.pull()`.

So currently I added a property `self.dry` to `__init__()` in class `class Guest(tmt.utils.Common)`:
* https://github.com/teemtee/tmt/blob/main/tmt/steps/provision/__init__.py#L224
[code]

Then in both `guest.push()` and `guest.pull()`,  such code is added to fix this defect.
[

[2022-03-11 18:38] BeeGrech opened #1095 "Allow for install of packages using rpm-ostree"
To support ostree images, it would be helpful for "preparation" and or "required" to support rpm-ostree install from within the fmf file.

ie: (see how entry)
 prepare:
   how: rpm-ostree-install
   package:
       - tmp/RPMS/noarch/tmt-0.15-1.fc31.noarch.rpm
       - tmp/RPMS/noarch/python3-tmt-0.15-1.fc31.noarch.rpm

Of course this may get tricky if packages are already installed, also in genera

[2022-03-11 19:14] thrix commented on #1064
ups ....

this stinks, it will need to be investigated

[2022-03-14 09:19] lukaszachy commented on #1064
Ouch. Reading code and command line properly - the `--dry` is parameter of 'provision' not of the whole run.
For (see that --dry moved from end of line just after run) `tmt run --dry --id remote-001 --all provision --how connect --guest 192.168.122.203`
[code]

[2022-03-14 11:39] psss opened #1096 "Unable to `provision --how virtual` under `centos-stream-9`"
When running a minimal template on a `centos-stream-9` box I get the following error:

    libguestfs: error: could not get libvirt domain capabilities: internal error:
    missing 'nvram-template' in '/usr/share/qemu/firmware/50-edk2-ovmf-amdsev.json' [code=1 int1=-1]

@frantisekz any idea what might be wrong there?

[2022-03-14 11:52] FrNecas commented on #1064
Yes, that looks like it. So only provision was run in dry mode (so nothing was provisioned) but the other steps tried to use the provisioned guest.

The `guest_copy` thing was introduced so that guest uses options of the currently running step. Previously, it was strictly tied to provision so that when `tmt run prepare -vvv` was used, no verbose output would be seen from the guest which was rather

[2022-03-14 12:10] lukaszachy commented on #1064
Indeed - guest.push sees 'dry' is bug (strictly speaking). However - Is there a _valid_ use case when one can run --dry for provision but not for later steps? Imho it doesn't make sense, no provision -> no SUT to run steps on.
IMO dry should be global option. Or is the expected usage to skip over one step (so one doesn't need to enumerate rest?)

[2022-03-14 13:28] psss commented on #1083
Works fine with the latest rawhide image.

    https://kojipkgs.fedoraproject.org/compose/rawhide/Fedora-Rawhide-20220314.n.0/compose/Cloud/x86_64/images/Fedora-Cloud-Base-Rawhide-20220314.n.0.x86_64.qcow2

Thanks for investigating this @frantisekz.

[2022-03-14 13:28] #1083 closed

[2022-03-14 14:28] psss commented on #1064
Yes, `--dry` should not be used for skipping steps when not needed or when already done, for this `--skip` should be used. And I don't see any real life use case to run only `provision --dry` while attempting to perform other actions without a provisioned guest. A single `--dry` option for the whole `tmt run` as suggested by @lukaszachy makes probably the most sense to me.

[2022-03-14 22:10] happz opened #1098 "Order of junit XML attributes is not reliable"
`junit` plugin's tests expect following junit content:

[code]

There seems to be a problem with the order of attributes of `<failure type="failure" message="fail"/>`. In Copr, the test passes, `type` appears before `message`, but on my workstation, it is reversed (`<failure message="fail" type="failure"/>`). As far as XML is interested, the order of attributes is not at all important, but when it

[2022-03-15 09:11] jchecahi opened #1099 "Add support for expanding context variables"
It would be very useful to have the support for expanding context variables in test metadata in a similar way to this:

[code]

This would avoid duplicating the same block over and over but just changing the collection version for example, improving both code simplicity and maintainability.

[2022-03-15 09:21] psss commented on #1091
Yes, I believe we should use the same format introduced in `tmt plans export`.

[2022-03-15 10:17] idorax commented on #1091
@psss, I'd like to fix it.

[2022-03-15 11:19] lukaszachy opened #1101 "test data deduplication in import, lint --fix"
Mostly about `tmt test import --nitrate` use case where several nitrate cases exist. Their linked bugs and tags tend to be similar.

tmt should be able to utilize [merging](https://fmf.readthedocs.io/en/stable/features.html#merging) feature of fmf format and create structure with minimal duplication (e.g. common tag attribute is set in main.fmf and additional tags are added by tag+ key in child fm

[2022-03-15 14:24] FrNecas commented on #1095
Do I understand correctly that the use-case for this is provisioning with for example Fedora Silverblue image (e.g. with how: virtual) and then installing stuff in there? I think this should be doable without a lot of problems by implementing a new plugin. We already have `Guest.reboot()` which will take care of the rebooting so if the provision method supports it, we can install the packages and

[2022-03-15 15:11] psss commented on #1064
Thinking about it a bit more I (probably) found a relatively reasonable use cases for using `--dry` with a single step:

 * It could make sense to run the `prepare` step in dry mode (just quickly show me which required packages would be installed or which ansible playbooks would be applied)
 * For long test scripts I can imagine doing an `execute --dry` to quickly double check that the right comma

[2022-03-15 15:24] psss commented on #1095
I see three options how to approach this:

* A new `prepare` plugin, e.g. `prepare --how rpm-ostree-install` as suggested above
* Extending the existing `install` plugin with `rpm-ostree` which could reuse some of the code
* Cover this in the newly planned "almighty" install plugin which should support installing from brew/koji and much more

[2022-03-15 15:35] psss commented on #1099
This has been shortly discussed on today's hacking session. Pasting a couple of thoughts:

* As for now the context dimension is always a list, so there would have to be some adjustments needed.
* What about applying jinja templates on the config? This could be handled already on the `fmf` level.

[2022-03-15 17:10] lukaszachy commented on #1064
It does.

[2022-03-15 22:05] thrix opened #1103 "Use a separate command for special plugins functionality"
Currently `tmt run` has some functionality that is actually outside of the scope of `running` a plan.

As an example, `tmt run provision -h minute --list-images` lists images, but due to this implementation it also creates a run, which is kinda weird, does not feel clean. Also can introduce some additional problems due to this implementation choice.

I would propose to move this kind of functional

[2022-03-16 09:45] jchecahi commented on #1099
The idea of applying jinja templates is interesting. Not sure how that would work in practice so let me guess a bit.

We would have an hypothetical main.fmf describing L1 metadata:

[code]

When running that test with tmt, would fmf render the context variables, or would this require an extra step before running tmt to render them?

[2022-03-16 19:43] pfdaly commented on #1002
Pull request #1043, which covers this issue has now been merged. This issue can now be closed.

[2022-03-17 03:42] idorax commented on #1064
@lukaszachy, currently class Guest doesn't have a method `ready()`, do we need to add one, right?

[2022-03-17 09:27] lukaszachy commented on #1064
Exactly - And ideally have it set properly: let it be true when guest lives (start() or wake(), I'm not sure) and false once guest is not available (stop() maybe)

[2022-03-17 11:36] idorax opened #1104 "docs/contribute.rst should include `/usr/bin/virtualenvwrapper.sh` before `mkvirtualenv tmt`"
When I try to follow [Develop][1] in document [Contribute][2], I failed to run  `mkvirtualenv tmt` after installing package `python3-virtualenvwrapper`.  It is because `mkvirtualenv` is not a command but a shell function in file `/usr/bin/virtualenvwrapper.sh` . Hence we should document it to avoid making new contributors confused.

[1]: https://tmt.readthedocs.io/en/latest/contribute.html#develop

[2022-03-17 13:56] frantisekz commented on #1096
This will probably be the cause: https://bugzilla.redhat.com/show_bug.cgi?id=2057769

[2022-03-17 15:01] #880 closed

[2022-03-17 15:17] lukaszachy commented on #1103
IMO it can be `tmt plugin [STEP] PLUGIN` so if plugin has unique name it can be ran as `tmt plugin minute` (as well as longer `tmt plugin provision minute`)
For listing I'd say `tmt plugin --list` is better (if we ever have plugin called list :)

This will be handy to have more standalone features for step plugins, e.g. #965
I can imagine that in the future there might be need for login/token conf

[2022-03-17 18:56] BeeGrech commented on #1095
In my use case - We are testing Centos-Stream-9 ostree deployment
- The issue with installing packages on ostree images, is the RO OS

Another issue I would consider is I can see this applying to both plan and test fmf files

[2022-03-17 20:53] thrix opened #1105 "env vars are not inherited to child plans"
While working on Testing Farm and trying to test all supported environments, I found this bug:

VAR1 env var is not inherited in the child plan, that is sad, we should fix it, it now makes me to copy the same var in all subplans.

[code]

[2022-03-18 13:37] thrix commented on #1027
I agree, let's close #197 as the duplicate and track the implementation here.

I got information that @pfdaly should start work on this soon.

@pfdaly feel free to contact @lukaszachy, @psss (he is out this week) or me to discuss details if you want. I will also add you to our development meetings on Tuesday.

@psss had made a nice code intro video here: https://issues.redhat.com/browse/TT-167

[2022-03-18 13:46] BeeGrech opened #1106 "tmt import of metadata to support dependencies - rework repoRequires"
Evaluating the fix for #1002 #1043
Test dependencies from metadata file are not translated to the resulting main.fmf
Discussed [here](https://github.com/teemtee/tmt/pull/1043#issuecomment-1071092552) repoRequires for restraint is more along the lines of additional scripts required for the test. I think its more like a, include this directory or script for the sync?

`tmt test import --restraint`

[2022-03-18 14:13] BeeGrech opened #1107 "Allow assignment of cmd line provided tag value and a default duration for import test"
tmt test import --restraint --tag 'value' or 'some, list, values' could allow support for labeling tests which are imported
Also, some tests do not have a duration value in the metadata, tmt seams to have a default of 5 minutes? It might be useful to include a custom duration feature also.
tmt test import --restraint --duration '25m'

(metadata file)
[code]

**Expected**
value to be assigned to re

[2022-03-18 18:25] BeeGrech commented on #1095
Just thinking about this further, in order to support multiple deployments, an implementation where this is provided in the command line or detected by TMT runner globally would be better. Because providing hard-coded in a plan file or test file I think would add complexity to the fmf files

[2022-03-18 18:29] BeeGrech opened #1108 "Recommends packages fail test against ostree image"
**Expected**
In the docs we can see: As a tester I want to specify additional packages which should be installed on the system if available and no error should be reported if they cannot be installed.

so recommend packages should not report any error?

**Actual**
[code]
But this is in an ostree environment where using dnf results in a read only operation. This could be linked to supporting rpm-os

[2022-03-18 18:30] BeeGrech commented on #1095
also consider soft dependency case, where currently rpm-ostree reports an error when no package match is found

[2022-03-18 18:34] thrix commented on #1105
@psss @lukaszachy can you pls confirm this is a bug and not by design?

[2022-03-18 20:18] BeeGrech commented on #1027
also adding rstrnt-abort
those are the top 3 for kernel tests

[2022-03-19 04:12] idorax commented on #1104
PR https://github.com/teemtee/tmt/pull/1109 is open, @lukaszachy, please help to review, thanks!

[2022-03-21 09:21] lukaszachy commented on #1105
Try with `environment+` in /test1 instead (merge vs replace attribute)

[2022-03-21 09:21] #1105 closed

[2022-03-21 10:55] pfdaly commented on #1106
This looks to be a minor issue which arose due to my unfamiliarity with Restraint.
I've pushed a Pull Request for a fix for this issue here: #1110

[2022-03-21 11:19] psss commented on #1064
Yes, `Guest.ready()` should return `True` after `start()` and/or `wake()` methods are completed and return `False` after `stop()` is called or before the guest is fully initialized. Perhaps we could use an internal `guest._ready` attribute for storing the current status.

[2022-03-21 14:23] idorax commented on #1091
The root cause is that `tmt tests export` doesn't create a list of tests data while `tmt plans export` does create a list of plans data.
1. tmt plans export
* https://github.com/teemtee/tmt/blob/main/tmt/cli.py#L712
[code]

2. tmt tests export
* https://github.com/teemtee/tmt/blob/main/tmt/cli.py#L572
[code]

[2022-03-21 14:30] psss commented on #1091
Yes, similar approach as used in `tmt plan export` should fix the problem.

[2022-03-22 18:53] lukaszachy commented on #1074
Could `result: provided` add more tests than single one (so to create new test results) ?
Use case:
I have script / test which runs e.g. junit / pytest /..... It has `result: provided` so it reads what it ran, and creates result file with multiple results (e.g. each class of pytest as separate result).

IMO we could allow this, however additional tests has to be children of the test. Maybe the ori

[2022-03-22 18:59] lukaszachy commented on #1074
Just a note that format of `results.yml` might change. IMHO if it is list of dicts (order in the list reflects order in which tests were executed) it would be safer for the future (we can add keys into the dict as necessary)

[2022-03-23 07:56] happz commented on #976
As discussed yesterday, a process-based, pool-less worker approach seems to be better suited for TMT workflow than other options. Luckily, https://docs.python.org/3.7/library/multiprocessing.html does have plenty of useful primitives:

* https://docs.python.org/3.7/library/multiprocessing.html#the-process-class;
* since there's no pool of workers competing for tasks, we probably won't need `Queue`

[2022-03-23 09:25] lukaszachy commented on #976
Note: we likely need to bump minimal python version (currently we are at 3.6) - Newest we could use is 3.9 (available as module for rhel/centos-stream-8)

[2022-03-23 10:53] lukaszachy opened #1113 "failed debuginfo-install from recommend makes plan to fail"
For packages listed in [recommend](https://tmt.readthedocs.io/en/stable/spec/tests.html#recommend) no error should be reported if packages cannot be installed.

However this is not true for `debuginfo-install` of packages from require (detection by -debug suffix in the name) and it fails whole run.
I managed to reproduce with in-house rhel-8.6.0 image
Test:
[code]

[code]

[2022-03-23 11:30] happz commented on #976
@lukaszachy do you see missing Python support in 3.6 for something we might need to use?

[2022-03-23 13:59] lukaszachy commented on #976
If  we won't need kill/close from Process then there is nothing particular in mind.

[2022-03-23 16:53] psss opened #1114 "Unable to create master ssh connection"
When using `provision --how virtual` under a freshly created regular user the `provision` step fails with the following:

[code]

The `/run/user/1000` directory is apparently not there. Any idea who takes care of making it available? Should we create the socket elsewhere?

[2022-03-24 12:21] idorax commented on #1091
`tmt tests export` supports 4 format: `dict`, `yaml`, `execute` and `nitrate`.

Now the fix in [PR#1112](https://github.com/teemtee/tmt/pull/1112) works fine for both `dict` and `yaml`. e.g.
[code]
@psss and @lukaszachy , should we export `name` when format is `dict` or `yaml`?

[2022-03-24 12:52] thrix commented on #1027
CKI uses these restraint functions:

[code]

[2022-03-24 12:56] thrix commented on #1027
All restraint commands: https://restraint.readthedocs.io/en/latest/commands.html

[2022-03-24 13:06] #1106 closed

[2022-03-25 12:21] #934 closed

[2022-03-25 16:23] thrix opened #1115 "tmt should fail nicely if HEAD not around"
`tmt` now fails fairly cryptically on this corner case, it should print a nice error instead

[code]

[2022-03-25 22:24] jkonecny12 commented on #1020
I wasn't aware of the test cloud, it looks great!

However, it needs to be documented. If I understand it correctly it needs user in a tescloud group which is not that straight forward on SB right now.

[2022-03-25 22:58] jkonecny12 commented on #1020
I think that the best solution to this issue would be:
- `quay.io/testing-farm/tmt-*` to support [podman in podman solution](https://www.redhat.com/sysadmin/podman-inside-container)
- add `--device /dev/kvm` (or how it is correctly used?) to the container parameters in the documentation

[2022-03-28 08:07] RHEmployee commented on #1114
Hello. According to:

https://renenyffenegger.ch/notes/Linux/fhs/run/user/uid/index
Apparently, this directory is created by pam_systemd.

From man page of pam_systemd:
DESCRIPTION
       pam_systemd registers user sessions with the systemd login manager systemd-
       logind.service(8), and hence the systemd control group hierarchy.

       The module also applies various resource management and

[2022-03-28 08:08] RHEmployee commented on #1093
I can take a look at this :).

[2022-03-28 09:52] thrix commented on #1114
Note also that there is an expectation that `tmt` runs in certain cases in a container, so I am not sure we can rely really on this directory :(

As I understand, the code now expects you are logged in a session and you run the command as the current user ...

[2022-03-29 08:04] psss commented on #1091
Yes, `name` should be included for each test in the generated list.

[2022-03-29 12:04] RHEmployee commented on #1114
Then, maybe we should think about:

- detect if /run/user/uid exists
if not, then use /tmp/ instead
if exist, just use /run/user/uid

I think we should not handle creation of /run/user/uid itself, because there is more magic (quotas, ...) involved.

[2022-03-29 12:09] RHEmployee commented on #1114
What do you think?

[2022-03-29 12:19] jscotka commented on #910
working on this issue.
https://github.com/teemtee/tmt/pull/1117

[2022-03-29 12:49] psss commented on #1114
Yeah, using `/run/user/uid` if it exists and `/tmp` otherwise sounds good to me.

[2022-03-29 12:52] psss commented on #1114
After adding this change we could possibly remove the `loginctl` commands from the full test?

https://github.com/teemtee/tmt/blob/a4075aec53e6c61262b6e9bb64ebb723b2db9035/tests/full/test.sh#L50

@lukaszachy, what do you say?

[2022-03-30 08:58] idorax commented on #1064
@psss, @lukaszachy and @FrNecas, if I run `tmt run --dry` `--id remote-001 --all provision --how connect --guest GuestVM`, the output looks like:
[code]

Is this expected output? If yes, looks patch https://github.com/teemtee/tmt/pull/1094/commits/6bad57278c4921a5898bc693e9277be408251b17 fixed this issue because with the patch, `tmt run --id remote-001 --all provision --dry `    `--how connect --g

[2022-03-30 12:18] RHEmployee commented on #1114
First draft for review:
https://github.com/teemtee/tmt/pull/1119

[2022-03-30 12:30] RHEmployee opened #1121 "Properly detect and report an unreachable guest"
`tmt -vvvddd run provision -h connect -g 123`

After:
`err: ssh: connect to host 0.0.0.123 port 22: Connection timed out`

tmt just ignores error for timeout and count this as non presence of  `/etc/os-release`
and in next move, tmt tries to check existence of `/etc/lsb-release`, then `/etc/redhat-release`, etc ...

This doesn't make much sense while machine can be unreachable (still in phase of b

[2022-03-30 13:53] psss commented on #738
As for now the story `example` key can contain just a single text and thus the export to `rst` can create just a single box. We could extend the `story` spec and export if needed. But for now, as a quick fix, I'd suggest to make it a bit more clear by using a comment for each example as proposed in #1122.

[2022-03-31 02:03] jencce opened #1124 "support parameter in test"
For example, we have a test named kernelinstall, which is used to install newer kernel
before testing.
Than we have a plan, for example tier1, which is consist of those tests:

- name : kernelinstall
   test: ...
- name: test1
  test: ...
...

If we have to hard code the kernel name version release in the plan or the test, it would
be very annoying because we need to modify/commit/push for every r

[2022-03-31 08:31] jencce opened #1125 "Support fetching tests from another git repo"
Something like this:

[code]

This is a part of a tmt plan, while the test code is in another git repo with tmt metadata added.  Now, tmt is not fetching from the url.

Thanks.

[2022-03-31 11:49] pfdaly commented on #1027
I was presented with three options for this ticket:

1) To convert the existing CKI tests to TMT format.
2) To create a Restraint plugin in TMT.
3) To create backward compatible alternatives in TMT.

Having reviewed the work involved in each, and having discussed the topic, it has been agreed that I shall proceed with the implementation of option (3).
I will begin working on this now.

[2022-03-31 13:17] idorax commented on #1091
@psss and @lukaszachy, the fix is ready, please help to review. I had tested the fix via script:
- https://github.com/idorax/tmt-dev-sandbox/blob/dev.20220331.1091/1091/unit-test-run.sh

And the test result looks fine.
- https://github.com/idorax/tmt-dev-sandbox/blob/dev.20220331.1091/1091/unit-test-result.md

[2022-03-31 13:20] sbertramrh opened #1127 "tmt test import failing on some makefiles"
If the makefile does not follow below structure for run entry it fails.
run: build
	./runtest.sh

Attached are examples and hopefully all occurrences of this in /kernel repo.
[kernel.txt](https://github.com/teemtee/tmt/files/8389671/kernel.txt)

List was created using the following:

find . -name Makefile -exec grep -A 2 "run: build" {} \; -print > ~/kernel.txt

So every fourth line contains the l

[2022-03-31 13:39] BeeGrech commented on #1095
@psss Has any decision been made of the 3. I could offer support to work on this issue.

[2022-03-31 13:56] BeeGrech commented on #1095
One concern, rpm ostree does not represent the same args, or behavior like dnf to yum.

[2022-03-31 16:05] psss commented on #1125
If the other repository includes `tmt` metadata you can use the [fmf](https://tmt.readthedocs.io/en/stable/spec/plans.html#fmf) method for the test discovery:

[code]

Or are you proposing to add the git repository fetching support to the [shell](https://tmt.readthedocs.io/en/stable/spec/plans.html#shell) method instead?

[2022-04-01 16:01] lukaszachy commented on #1124
You can set environment variables via cmdline, will that help? https://tmt.readthedocs.io/en/stable/spec/plans.html#environment

[2022-04-02 01:12] jencce commented on #1125
Ya, I realized that later.

Yes. In that case we can put plans/tests in a repo, and put actual testcode in another repo. It's good for testing the testcode.

Thanks!

[2022-04-02 01:28] jencce commented on #1124
Ya, environment variables can do this. Thanks!

[2022-04-04 09:18] #738 closed

[2022-04-04 16:56] #611 closed

[2022-04-05 11:13] RHEmployee commented on #1121
After checking how ssh cli works, I don't think there is easy way how to handle timeout error by return code. Ssh cli returns 255 even on usage so only way how to handle specific error (timeout in this case) is to parse output of ssh.

Do you think that we should parse output of ssh in case of error return codes?

[2022-04-05 11:55] psss opened #1130 "Single `exclude` doen't work in `discover` config"
When a single `exclude` value is provided in the `discover` step config tests are not excluded as expected:

[code]

The `exclude` implementation iterates over all letters of the `/tests/unit` string and thus no tests are selected:

[code]

Would be good to `tmt.utils.listify()` the `exclude` key and add test coverage for this case. @Ajchler, would you be interested in this?

[2022-04-05 12:41] valgrut commented on #371
What about to change it to the same text as --root option in docs/overview.rst is described?

There is "Path to the metadata tree, current directory used by default."
We could use it unchanged or change the description in help to something like:
- "Path to the metadata tree root, current directory used by default." or
- "Path to the root of the metadata tree, current directory used by default."

A

[2022-04-05 14:51] psss commented on #1130
Great, thanks!

[2022-04-05 15:09] sopos commented on #371
I do not have any strong opinion here. I was just confused by the behavior vs the description. And the fact it is actually a path where the upwards traversal starts does not really fit the _root_ definition.

[2022-04-06 07:16] #915 closed

[2022-04-06 07:16] #926 closed

[2022-04-06 14:23] sbertramrh opened #1131 "test import fails when importing Makefile without “build:” element"
Error message:
[sbertram@sbertram header-test]$ tmt tests import
Checking the '/home/sbertram/gitstuff/kernel-tmt/misc/header-test' directory.
Makefile found in '/home/sbertram/gitstuff/kernel-tmt/misc/header-test/Makefile'.
task: /kernel/misc/header-test
summary: Sanity test for kernel-headers
test: ./runtest.sh
framework: shell
contact:
component: kernel
duration: 10m
recommend: kernel-headers g

[2022-04-07 08:38] #1130 closed

[2022-04-07 09:51] hhorak commented on #1092
I've tried it again and now it throws this:
[code]

(tried that in pkgs.devel.redhat.com/tests/mariadb55 dir)

[2022-04-07 11:03] RHEmployee commented on #1065
Hello. Would you please test with:
https://github.com/teemtee/tmt/pull/1119

it uses /tmp/ in case where /run/user/<UID> is not provided by systemd (aka: user is not logged in).

[2022-04-07 11:13] RHEmployee commented on #891
seems solved.

[2022-04-07 11:13] #891 closed

[2022-04-07 11:16] RHEmployee commented on #854
Add support for ssh multiplexing has been merged. Closing.

[2022-04-07 11:16] #854 closed

[2022-04-07 11:20] psss commented on #1092
According to `modified-ref: git://pkgs.devel.redhat.com/tests/mariadb55` it seems you have a custom `plan` in your repo so I can't reproduce the same error. But anyway, we should just ignore other steps if `--list-images` is used.

[2022-04-07 11:21] RHEmployee commented on #659
Hello. Seems like this is still a issue. I'm currently working on locking for minute plugin so maybe upstream tool for simple locking would be nice.
But it depends on in which state is parallelization of tmt.

[2022-04-07 11:36] sopos commented on #492
As a workaround I removed the requirement for the _Log_ library from the _opts_ library as normally tests / libs require _Log_ library not the _opts_ or both at the same time.

To reproduce the issue one needs to have two libraries which require each other.

[2022-04-07 14:13] RHEmployee commented on #492
Hi. I finally have working reproducer so I can try to handle this. Seems to be free.
Feel free to let me know if you want to work on this.

[2022-04-07 14:48] misacek007 opened #1133 "Enable shared disks in specification"
This issue as about allowing specification of shared disks as a requirement. Currently it is only possible to specify local disks.

This is hard requirement for tests relying on shared storage. Shared storage is block device that can be seen and accessed on multiple systems under the same uuid. Typically this is directly connected storage array or iSCSI block device.

As an example of components h

[2022-04-07 15:08] misacek007 opened #1134 "Enable shared IP usage"
We have tests that require extra ip address to be available. That is IP address that is not assigned but can be reliably used  and is sure to not be taken by any third party.

An example of such tests are pacemaker resource agents binding the service (httpd, myslq) to this extra ip address on one of the multihost nodes or haproxy.

We need the possibility to specify the extra ip address in the spe

[2022-04-07 20:39] cmackows opened #1136 "Multihost HA guests need exposure to underlying virt name."
Currently the hostname is not same as kvm virt name. The HA fencing configuration needs to know the virtual machine name (-H below).  Can the virtual machine name be set using '-name:' ? Is it possible to expose the kvm machine name to all nodes in test plan?

In this case the fence agent is fence_xvm :
    '-H     Virtual machine (domain UUID or name) to fence'

[root@lvm-c2-node1 ~]# fence_xvm -

[2022-04-08 08:46] thrix commented on #1133
Hmm, I think we will need to dive into details her, note that we support different infrastructure providers

* AWS
* Openstack
* Azure
* Beaker

We need to understand what does the provisioning of shared storage mean in their context?

[2022-04-09 06:30] jencce commented on #1124
During migration, I found a scenario is not properly supported by environment variables for parameterized test.

In a same plan, I run one same testsuite multiple times, with different parameters, to test different filesystems types.  Environment variables can't do this.

This scenario is important for our usage. Please help. Reopening.

Thanks!

[2022-04-11 12:32] psss commented on #1136
Currently the `virtual.testcloud` plugin of the `provision` step generates a random name based on the run id. Here's an example `guests.yaml` file:

[code]

The output of `virsh list` is as follows:

[code]

@cmackows, so you suggest that the `instance` name is exactly the same as the `name` key of the `provision` step config? @frantisekz, are there any limitations for the virt name? I guess we wo

[2022-04-12 07:32] psss commented on #1065
Yes, this should be fixed in `tmt-1.12`. Could you please try the latest version from [copr](https://copr.fedorainfracloud.org/coprs/psss/tmt/) or Fedora updates testing repo?

[2022-04-12 19:58] happz opened #1140 "HW requirements for CPU shall support sockets"
After spending some time with Artemis tests and `lscpu` & friends, I realized there are three small issues in tmt's support of CPU requirements. `cores` and `processors` are two supported requirements, but:

* what about sockets?
* what about threads?
* and with sockets and threads supported, what **exactly** does `cpu.processors` mean?

According to `lscpu`:

[code]

* There are sockets: `Socket(

[2022-04-14 19:44] sbertramrh opened #1141 "tmt test import: make: *** fopen (temporary file): No such file or directory. Stop."
[sbertram@sbertram pttest]$ tmt test import
Checking the '/home/sbertram/gitstuff/kernel-tmt/standards/pttest' directory.
Makefile found in '/home/sbertram/gitstuff/kernel-tmt/standards/pttest/Makefile'.
make: *** fopen (temporary file): No such file or directory.  Stop.
Failed to convert metadata using 'make testinfo.desc'.

seems testinfo.desc is not being created.

Tried on an older test that I