[2020-11-13 18:24] lukaszachy commented on #441
I started working on this.

[2020-11-17 08:52] psss commented on #101
The `fmf` part of the implementation is done:

 * https://github.com/psss/fmf/pull/83
 * https://github.com/psss/fmf/pull/84

I will take care of implementing this on the `tmt` side.

[2020-11-18 14:05] pemensik opened #444 "Create test metadata from bugzilla bug like beaker-wizard"
``beaker-wizard -b <bugid>`` can create new test for beakerlib. It would be nice if tmt had alternative.

It fetches few descriptions from bugzilla and prepares skeleton for a new test. Its main feature its preparing test name and linking bug to it. Because beaker-wizard is not yet updated, I expect it to be deprecated. Is there already any plan to offer similar functionality?

[2020-11-18 15:20] pvalena commented on #366
Verified:
[code]

Expected:
No test folder (`example-test`) is created.

[2020-11-18 15:24] pvalena opened #445 "RFE: implement version command or argument"
[code]

[2020-11-18 17:19] lukaszachy opened #446 "fmf-id `path` attribute ignored for libraries"
I want to test that wow command correctly parses library references, so I want to store fmf tree in `tests/fmf` subdirectory.
However when I tried to reference "library" as bellow I run into `Repository 'GIT_REPO' does not contain fmf metadata.` which is kind of true since fmf metadata are deeper as mentioned in the  `path` attribute.

Documentation says `a full fmf identifier` is supported and pa

[2020-11-19 08:52] lukaszachy commented on #444
A bit related #215 to add attribute for linking the bug.

Command `tmt tests create --bugzilla <bugid>` will be nice indeed.

[2020-11-19 09:58] psss commented on #444
Possibly a duplicate of #368?

[2020-11-19 22:08] pvalena commented on #375
@psss Ping?

It's really frustrating, when I run with `-vvv`:
[code]

1) there's no failure for prepare
2) there's no useful message for the installation of `*/usr/bin/gem`.

_ _ _ _

I do not get info what was actually run, even with max verbosity+debug:
[code]
_Note: the fix would be f.e. to install `/usr/bin/gem`, but that's not the point. Isn't this a bug as well though?_

[2020-11-20 00:04] pvalena opened #447 "No error is thrown on missing cructial FMF entry"
If I have this in my plan:
[code]

~~The order is always ignored, no matter what value I set.~~ Or am I writing it wrong? (Syntax copied from documentation.)

[2020-11-20 00:06] pvalena commented on #447
Correction: I think I've used `packages` instead of `package`, which caused the error.

Shouldn't TMT throw an error in such case (unknown ...)?

[2020-11-20 10:08] psss commented on #447
Yeah, we should probably give a warning when there is an unknown key in the config. However, I think `package` does not have to be mandatory, for example you might want to only enable a copr repository.

    prepare:
        how: install
        copr: psss/tmt

And perform a custom installation later. Not sure how common such a use case would be though.

[2020-11-20 22:40] pvalena opened #449 "Script in `prepare` aborts further execution (login)"
I have the following in my plan:
[code]

And the scripts failure halts the exectution with:

[code]
_Note: the error itself is unrelated._
I'd expect to `login` on that failure instead.
[Full log](https://gist.github.com/pvalena/af4a5e818db259aff28b91662b43b50c).

_ _ _ _
_ _ _ _

_Note: If first plan name is similar to second one (I've added suffix `-testing`), to match it (solely) I need to inpu

[2020-11-20 22:46] pvalena commented on #447
That sounds really strange usage, but ok. So if there's no `copr:`, it fails?

[2020-11-23 12:13] Jakuje opened #450 "Default values from fmf are not propagated and used in filters"
The `test show` correctly shows the test as enabled:
[code]

Filtering based on explicit keys in the test plan is working correctly:
[code]

But we are unable to filter based on this default value:
[code]
(should list the above test)

[2020-11-23 14:39] hegerj commented on #432
I created PR #451 which replaces old beakerlib path with new one.
However I am not sure what to do with the `/usr/share/rhts-library/rhtslib.sh`. I've never seen it (and don't have it on my system, so I can't examine its importance - but I guess it's not needed any more).
I am not quite sure what you mean by your comment @thrix . Do you suggest to add `test` for its existence in the imported test?

[2020-11-23 15:09] Athwale commented on #432
The '/usr/share/rhts-library/rhtslib.sh' comes from beakerlib-redhat-1-33.fc29eng.noarch only about 300 of tests I have in my test folder ha it most tests have the other two paths.

[2020-11-23 18:00] psss commented on #432
Yeah, the prehistoric rhts path should be also substituted with the fresh beakerlib one. In the above-mentioned backward-compatibility package it is just a symlink:

    /usr/share/rhts-library/rhtslib.sh -> /usr/share/beakerlib/beakerlib.sh

[2020-11-24 08:57] hegerj commented on #432
Update of that path added to the pull request.

[2020-11-24 12:07] lukaszachy commented on #447
Shouldn't tmt raise `Error: no such option` this case?
It is (or should be) same as if I run `tmt run prepare --how install --packages xxx` which gives `Error: no such option: --packages`

For Steps options I'd expect lint to be strict and raise Error.
However when unknown test attribute is present it should be a warning.

[2020-11-24 14:33] #432 closed

[2020-11-24 15:41] thrix commented on #434
This is marked as a blocker for the team to move forward with migration, could we prioritize this somehow @hegerj ?

[2020-11-24 17:35] #380 closed

[2020-11-24 17:58] #441 closed

[2020-11-24 21:42] pvalena opened #453 "Prioritize Issues on GH"
I'd use same priority (tags) as with TMT itself:
  -   must
  -  should
  -   could

WDYT?

[2020-11-25 00:40] pvalena opened #454 "Install plugin fails on empty value"
[code]

Notice the last `""` - empty arg / value.

The error came from parsing the following in my plan:
[code]
Only thing that helped was changing `package:` from multiline into single-line:
[code]
_ _ _ _

FYI, from, the same plan, with non-printable symbols:
[code]

[2020-11-25 07:04] hegerj commented on #434
It's a next thing on my list.

[2020-11-25 09:20] thrix opened #456 "Expose test duration in `results.yaml`"
It would be nice if we could provide test time in xunit and if we would not need text output of `tmt` because of it.

See:

https://pagure.io/fedora-ci/general/issue/157

For details.

[2020-11-25 09:28] #394 closed

[2020-11-25 09:28] #101 closed

[2020-11-25 09:49] thrix commented on #434
@hegerj thanks man!

[2020-11-25 13:44] thrix commented on #456
Feels like it could be called runtime and be in seconds, similarly to:

https://pagure.io/standard-test-roles/pull-request/393#request_diff

[2020-11-25 13:44] thrix commented on #456
I will try to prepare a patch

[2020-11-25 14:00] psss commented on #456
@thrix, we have already outlined the duration in the [execute step spec](https://tmt.readthedocs.io/en/latest/spec/steps.html#execute):

[code]

The DURATION is an optional section stating how long did the test run. Its value is in the `hh:mm:ss` format.

[2020-11-25 20:54] psss commented on #411
The specific use case related to choosing modified tests is now covered by #457.

[2020-11-26 13:02] WOnder93 commented on #427
For me it removed `adjust:` with all of its children (and also moved `tier:` down).

[2020-11-26 13:16] WOnder93 opened #461 "Standardize bug tracker references in test metadata"
It would be nice to have some standard and machine-readable way to add references to bug trackers in tests. I think the only semantic link that makes sense here is "this test covers these bugs", so probably a simple list of bug references would be enough. Also, bug trackers can be distinguished based on the URL, so a simple list of URLs would likely suffice:
[code]
Side note: This could be used in

[2020-11-26 13:28] psss commented on #453
Makes sense. Labels created.

[2020-11-26 13:28] #453 closed

[2020-11-26 13:30] psss commented on #461
We have an ongoing (well actually it's a bit sleeping now) discussion about this in #215.

[2020-11-26 13:32] WOnder93 commented on #461
Ah, missed that, sorry... Feel free to close this one as a duplicate.

[2020-11-26 15:35] WOnder93 commented on #450
One more related issue: The filter "enabled" only works with values "True" or "False" (exact case), but using other aliases that are valid in test metadata (e.g. "yes" or "true") doesn't work. That is confusing and the same values should work in metadata and filters.

[2020-11-26 16:10] psss commented on #450
Yeah, these are caused by the very simple `filter()` implementation, see `pydoc fmf.filter` for more info, which is called in the fmf metadata before the tmt specification (such as defaults) are applied. We should move the filtering to a later phase when all values are correctly initialized.

[2020-11-26 16:42] pemensik commented on #444
Okay, duplicate of #368

[2020-11-26 16:42] #444 closed

[2020-11-26 16:44] pemensik commented on #368
I think main issue with prefilled name were inability to rename test later. Would that be also issue with tmt?

[2020-11-27 13:14] martinky82 commented on #445
Version is currently stored only in tmt.spec. I wonder, would implementing this feature require storing the version somewhere in the code itself?

Brainstorming: in the code ifself (base.py), there would an artificial value that would translate into 'git snapshot', 'not a released version' or whatever in the message printed by --version. During build, this artificial value would be overwritten by

[2020-11-27 14:18] fernflower opened #465 "tmt init --template base walks through irrelevant parent directories of a directory where it was invoked"
fmf==0.13.1
tmt installed from master, ca4e6de8c82dc23ac744ad3cc7a0930d16b43898
On a fresh install I noticed that `tmt init --template base` launched in a deeply nested folder was running ages.
Some debugging and prints later:
[code]

Prints were installed at https://github.com/psss/tmt/blob/master/tmt/base.py#L733 and https://github.com/psss/fmf/blob/master/fmf/base.py#L109
My suspect is that htt

[2020-11-30 08:39] t184256 opened #469 "tag can be set to None, with weird consequences"
I've accidentally removed the last tag of the test without removing the `tag:` and got bit in a non-obvious way later. Reproducer:

[code]

Expected result: either
a. setting `tag` to `None` is not allowed at all, all consequent operations crash
b. setting `tag` to `None` autocasts it to an empty list

[2020-11-30 12:47] fernflower commented on #465
The behavior is also inconsistent for `tmt test ls` if invoked inside a leaf project directory vs inside a non-leaf project directory where no tests can be found. In the first case it searches just the project directory; in the second case all parent directories are walked one-by-one before giving up.
[code]

[2020-11-30 15:24] thrix commented on #418
@happz  is planning to kick this off, spoke about it today on our sync

[2020-12-01 10:07] martinky82 commented on #469
I would go along the b. way: if tags: is empty, then treat it as an empty list

[2020-12-01 10:22] lukaszachy commented on #469
Agree. This looks that condition is running with initial fmf metadata, without applying tmt defaults and conversions.

[2020-12-01 13:37] pcahyna opened #472 "Support easy context adjust for RHEL and all its derivatives"
https://fmf.readthedocs.io/en/latest/context.html uses `fedora` and `centos` in its examples for relevancy filtering by distribution. I suppose `rhel` is also among the allowed values. This fine-grained filtering is not so useful in practice, because CentOS should be essentially identical to RHEL and tests that can run on one but not on the other should be an exception, not the norm. One should th

[2020-12-01 13:52] martinky82 commented on #469
Wouldn't it be best to fix this issue in fmf? I tried adding except TypeError here:

https://github.com/psss/fmf/blob/master/fmf/base.py#L473

(just logging the problem, no real action taken) and it works as expected.

[2020-12-02 10:34] lukaszachy commented on #469
Likely in both.
However FMF itself doesn't know about 'defaults' or automatic type conversion so special --filter and --condition should run on TMT processed Tree.

[2020-12-02 10:35] lukaszachy commented on #469
IMHO Traceback is something user shouldn't ever see unless they really try to cause it.

[2020-12-02 10:54] martinky82 commented on #469
Agreed

[2020-12-02 10:56] lukaszachy commented on #472
I like this idea. I would say we can achieve this by setting 'el-X' values into distro dimension.  If one wants "RHEL or CentOS" they will use `distro == el`. If one wants specific one they will use e.g. `distro == rhel`

As for the implementation:
a) let TMT automatically add 'el-x' value to distro dimension every time centos*, rhel* is set there.
or
b) hardcode this logic to fmf.Context init imp

[2020-12-02 11:04] lukaszachy commented on #368
Adding 'should' priority as this has been raised several times already.

[2020-12-02 12:50] psss commented on #368
Yes, renaming is no problem. But I don't see benefit in defaulting to create an ugly name with possible future (and usually not very probable) possibility of change to something better. Why should we not create tests with nice names directly? I'd like to repeat my question:

With the one-year experience with `tmt` I find it very useful to organize tests reasonably according to the area they cover.

[2020-12-03 14:29] psss commented on #472
Make sense to support `el` as a general form. Agree with @lukaszachy, that the value should be auto-filled when specific distro is defined either on command line or within a plan config.

[2020-12-03 19:36] sopos opened #477 "allow to define a custom beakerlib libraries location"
It should be possible to define a beakerlib libraries storage of the same structure as a github.com/beakerlib as part of a prepare step.
This will allow to define downstream location for libraries which either cannot be upstreamed or their downstream versions if there's a specific internal reference, for example.
Using such configuration should be possible to define a list of locations with a fall

[2020-12-03 23:30] pvalena opened #478 "Add Contacts to readme"
IRC, and, maybe, additionaly create a mailing list?

( https://lists.fedoraproject.org/ maybe? )

[2020-12-04 15:08] thrix opened #481 "tmt export and tmt lint should verify that the fmf url is valid"
We are seeing cases when people mess up FMF url or it is invalid. Users are then sad when the test breaks in CI.

It would be awesome if tmt export or even tmt lint could support this, so this does not go unnoticed. In theory CI could even run `tmt lint` to make sure the metadata is correct. Note that we seen examples when the FMF url was a fork and got removed later on ...

[2020-12-04 15:11] lukaszachy commented on #481
Or when user exported from local-only changes in dist-git and forgot to push to origin.

IMHO `tmt tests export --nitrate` should verify that `ref` it uses exists on `url` it asks for.

[2020-12-04 15:39] psss opened #482 "Implement a new tail subcommand"
Now when we have the debug log in a single file it's quite easy to watch what's happenning under the hood when tests are executed with low verbosity:

    # the first terminal
    tmt run -v

    # the second terminal
    tail -f /var/tmp/tmt/run-123/log.txt

It would be nice, however, to have a dedicated command which would support this functionality. Perhaps something like this?

    tmt run --l

[2020-12-07 17:07] pvalena commented on #482
@psss Is it supposed to run instead of regular output? What's the difference from some verbose output f.e.?

In case of `--last` it makes sense, as I myself running ```tmt run -l -vvv report -f ``` quite often.

[2020-12-08 09:17] pcahyna commented on #477
The logic is: If I run tests on RHEL, the tests install packages from RHEL when they install some RPMS, not from Fedora, even if the tests are opensource and came from Fedora. The same tests would install packages from Fedora when running on Fedora. That's what one expects. The package names are relative w.r.t. some repository, which is implicit / was prepared for the environment.
In the same spir

[2020-12-08 10:58] lukaszachy opened #486 "Implement Core attribute Order"
[Order](https://tmt.readthedocs.io/en/latest/spec/core.html#order) is a core attribute but still in an Idea state.
Should be nice to have it implemented

[2020-12-08 11:10] lukaszachy commented on #482
Hm, I find it confusing if it is in `run --tail`:
`tail` usually prints end of the output, for following updates you want `tail -f` as you mention in the example. So it will be similar but not same'. If it was called 'follow'? as `tmt run --follow`?

[2020-12-08 11:19] lukaszachy commented on #481
Note from the hacking session: Sanity of fmf-id should be verified by running `fmf.base.Tree.node(fmf_remote_id)`. It will download and load fmf-id as `wow` (or any other tool reading it) should. Any tracaback during its call should be an Error and stop the export to nitrate.

So one has to do `git push` to have all bits on remote first and just then do the export. Otherwise there would be a risk

[2020-12-08 12:49] lukaszachy opened #487 "`tmt export --nitrate [--create]` for manual tests"
Also manual tests should be exportable to nitrate (and be able to be created from scratch).
Export should try to render `test.md` into nitrate document as html (reverse of tmt.convert.read_manual_data) however it will be a best effort (import -> export -> import is not guaranteed to provide identical test.md nor case document)

[2020-12-08 15:41] psss commented on #379
Fixed by #468.

[2020-12-08 15:41] #379 closed

[2020-12-08 16:16] psss commented on #482
The use case is when you run tests with low verbosity but then suddenly you realize tests are being executed too slowly so you want to look under the hood to see what's actually happenning there. Thus you open a second terminal and...

Sounds good to me.

[2020-12-08 16:37] psss commented on #434
Support for skipping manual tests with script has been merged in #474. Is there anything else which should be covered here?

[2020-12-08 17:23] thrix commented on #482
yeah `follow` is is better, and it would be very handy

[2020-12-09 12:04] hegerj commented on #434
I believe last thing to be covered is now in PR #488 .

[2020-12-09 12:36] jkonecny12 commented on #414
Hi, thanks for all your help.

I would like to add alias which is combining existing ``start`` and ``retest`` aliases.
[code]

This will run everything until ``report`` step and if they were already executed it will skip then and run just ``discover`` and ``execute`` steps again. That's pretty convenient for local testing and makes the current aliases a bit easier to use.

[2020-12-09 14:07] psss commented on #68
In addition to providing the step config multiple times on the command line we would also like to be able to do the following three actions:

 - completely override plan config (should be probably default)
 - insert/append a new step config (by providing `order`)
 - update an existing config (match by `name`)

[2020-12-09 15:31] pvalena commented on #482
Ah, now it makes sense! So it's actually a run, you need `--last` or `--id` for it then. I also agree on `--follow`.

Wouldn't this syntax make more sense then?
[code]

[2020-12-09 16:27] psss commented on #482
The `--id` and `--last` are already defined options under the `run` subcommand. I don't see benefit in redefining them again under a dedicated subcommand. But the basic question is: Do we expect any other options to be needed for the new `follow` feature? If not, I think a single option under the `run` subcommand would be just enough.

    tmt run --last --follow

[2020-12-10 17:57] psss opened #490 "Support executing ansible playbooks as tests"
It would be nice to support running an ansible playbook as a test. Here's a real-life example of a [reboot test](https://src.fedoraproject.org/rpms/selinux-policy/blob/master/f/tests/tests-reboot.yml) from the selinux repository. The best approach would be probably to add a new `framework` type `ansible` which would allow executing the playbook and check for its exit status.

[2020-12-10 17:59] psss commented on #490
Or shall this be covered by an `sti` executor #229 instead?

[2020-12-10 18:29] thrix commented on #490
I would rather see it as separate efforts.

[2020-12-10 19:39] sopos opened #492 "cyclical beakerlib libraries dependency is not handled"
Requiring following libraries causes the issue:
`https://github.com/beakerlib/distribution/tree/master/Log`, `https://github.com/beakerlib/distribution/tree/master/opts`

Currently the _opts_ library has the requirement commented out to avoid the issue.

[code]

[2020-12-11 13:55] psss commented on #434
Thanks, #488 has been merged.

[2020-12-11 13:55] #434 closed

[2020-12-11 17:54] psss commented on #478
Not sure if it's worth creating a new mailing list. If needed I guess we can try the github [discussions](https://github.com/psss/tmt/discussions) feature? Regarding chat, so we have the `#tmt` channel at freenode, that can be added to documentation. Or, would it make sense to try something like Telegram? We have already experimented with a [channel](https://web.telegram.org/#/im?p=g465516144) the

[2020-12-11 18:19] psss commented on #461
Ok, let's continue the discussion in #215.

[2020-12-11 18:19] #461 closed

[2020-12-14 09:20] hegerj commented on #478
I am probably not going to join new messaging service, unless it proves excellent, so I would rather use platform that we all already have access to (i.e. GitHub Discussions) if there is need for another communication channel.

[2020-12-15 08:28] lukaszachy commented on #478
Hm,I like telegram as a fast, public way to reach/discuss e.g. on holidays. But at the same time I'm not really willing to provide same SLA:)
What I hate on IRC is the lack of channel history.

Discuss feature seems like a good compromise to try.

Either way I didn't know about freenode's channel until this issue.

[2020-12-15 12:11] bachradsusi opened #495 "`tmt test list` generates wrong `when` condition"
[code]

According to  https://fmf.readthedocs.io/en/latest/context.html#comparison  `when: distro ~< fedora-32` can't be true.

[2020-12-15 12:23] lukaszachy commented on #495
@psss: This week we  decided to limit the precision based on right (rule) side (for Context.matches) Should that apply for this case as well?

[2020-12-15 12:27] bachradsusi commented on #495
Note that the repo moved forward. If you want to reproduce it, use `git checkout 5be146b0853f`

[2020-12-15 18:01] pvalena commented on #478
Oh I can post history in automated way each day at midnight f.e. ;). And my irc is always running (multiple services).

Also, I guess, no SLA is expected for an IRC / community support.

Github discussions sounds great as well! I hope they send notifications (I didn't try it). Personally I'm against Telegram (or any 3rd party SW), although I've used Telegram in the past (and it even has a Fedora a

[2020-12-15 18:17] lukaszachy commented on #283
Steps to reproduce:
Test is
[code]
What I did:
1. `tmt run --id bug -u report provision -h minute`
2. `tmt run -f --id bug -u report provision --how connect -g  A.B.C.D`

[2020-12-15 18:20] lukaszachy commented on #283
[code]

[2020-12-16 16:33] psss commented on #495
I'd say that when `fedora` is included in the condition `tmt test list --fix` should just not use minor distro comparison as it does not make any sense there.

[2020-12-16 17:21] bachradsusi commented on #495
It's not about *fedora*, it does the same wrong conversion for rhel as well, see https://src.fedoraproject.org/tests/selinux/pull-request/148#_1__5

[code]

[2020-12-17 08:37] psss commented on #495
Ah, I see. So I guess the special `~` operators should be used in the coversion from the old format only when the distro on the right side contains a minor version. I don't think this should/could be handled in `fmf` as we should still be able to do for example both `component < bash-5` and `component < bash-5.2` which should work as a "regular" version comparison. @lukaszachy, agreed?

[2020-12-17 09:05] psss commented on #495
Should be fixed by #496.

[2020-12-22 01:15] pvalena opened #497 "Can't access correct directory when in `prepare` when using `-h shell`"
I think this affects only `virtual` provisioning. The container works fine for me.

I run the test, with prepare -h shell and some script. It relies on the current directory, as I need to access local files from the script (the script itself is unerelevant; I could paste the code instead).

Example, not tested:
[code]

If I access the failed run (I've run it with `--skip finish`), and run the EXAC

[2020-12-22 01:42] pvalena opened #498 "RFE: Support memory limits for Containers."
I think I'm failing on OOM in my container. Is there any way to allow for more memory usage?

(This is probably caused by userspace containers.)

[2020-12-22 02:39] pvalena commented on #498
Alternatively, allow for additional args, like "`–oom-kill-disable=true`".

[2021-01-04 13:41] psss commented on #498
As for now the `podman` plugin does not set memory limit and from the quick check using:

    tmt run -a provision -h container execute -vvv -h tmt -s free

it seems the whole amount of host memory is available inside the container.

[2021-01-04 13:47] psss commented on #497
Is this possibly a duplicate of #423 where we've discussed that different steps should be executed in the same directory? Could you please review if the proposed `tree` directory would resolve your use case as well? Thanks.

[2021-01-04 15:02] WOnder93 opened #500 "The `--flavor` option of `provision --how minute` doesn't seem to work"
I tried to request a `ci.m5.large` flavor, but I got a machine with just 1 core.
[code]
When I run `1minutetip --flavor ci.m5.large -n rhel8`, I get a 16-core machine as expected.

[2021-01-04 16:48] psss commented on #500
Seems we should skip the prereserve check when custom flavor is requested. Fix proposed in #501, @FrNecas could you please review? Thanks.

[2021-01-04 22:57] sopos commented on #446
Beakerlib will soon support libraries in any path, see https://github.com/beakerlib/beakerlib/pull/78/commits/bd5ce4027aea2c941c3da34780f668671a39be47 if the related PR is merged.
Not sure if this will solve what you are trying to achieve but it is at least related.

[2021-01-05 00:09] sopos opened #502 "rsyncing the BEAKERLIB_DIR back and forth may break tmt run --last"
BEAKERLIB_DIR is kind of beakerlib's internal data store which can contain virtually anything in future.
Due to a small quirk in beakerlib the root backup dir gets permissions of `/` wich does not have write permisson, see output of `ls -dl /`.
This means that if beakerlib does a `rlFileBackup` the next `tmt run --last` fails on permission denied when cleaning the workdir.
[code]

This may be fixe

[2021-01-05 00:37] sopos commented on #502
Actually the patch does not prevent this completely as there might be some path component intentionally created without write permissions, but it will probably fix the issue in most of the cases. Anyway I would like to see some updated on tmt side.

[2021-01-05 14:49] Jakuje opened #503 "import from Nitrate creates sometimes contacts `None <email@domain.com>`"
The import of a test (`tmt test import`) firstly creates valid contacts from Makefile (even though probably outdated), but then creates "None" contacts if the user does not have a name in TCMS.

Log excerpt:
[code]

I think the import from nitrate should be clever enough to notice `None` values and not produce these bogus contacts. The simplest solution would be to exclude the name. Something alon

[2021-01-05 15:24] pvalena commented on #498
Right, it's using some userspace default, but's it seems to cause some OOM issues for me on Fedora rawhide.
Should I create a reproducer?

IMHO I simply expect the `memory: ...` to work.

[2021-01-05 15:32] pvalena commented on #497
I don't think this issue is relevant to what I've encountered. I'm fine with __any__ directory.

I should have probably mentioned an error, from the log:
[code]

Please also note:

 - This affects only `virtual` provisioning.
 - This issues does not manifest when I login before the step and run the command manually (even the folder works).
 - I cannot explain the error above.

[2021-01-05 18:06] psss commented on #498
To me it seems the default is to provide all available host memory unless `--memory` is given (which is not the case for the `podman` plugin).

[2021-01-05 18:09] psss commented on #503
Plus, perhaps, if the email address in the `Makefile` is the same as in `Nitrate` use the name from there instead of `None` or email only.

[2021-01-05 18:26] Jakuje commented on #503
This is a good idea too. I fixed the issues that bothered me manually using sed (these were just two names), but this issue might live in other repositories and might be worth also fixing in existing metadata too.

[2021-01-05 18:40] psss commented on #465
It is expected that `fmf` tries to find the root of the metadata tree marked by the `.fmf` folder by walking through all parent directories up to the filesystem root. See also documentation for metadata [trees](https://fmf.readthedocs.io/en/stable/concept.html#trees).

This, however, should definitely not take ages as it only checks for the presence of the special `.fmf` folder. Do you have any id

[2021-01-05 18:45] psss commented on #427
This seems to be quite an unpleasant issue. I think we should fix this as soon as possible. @hegerj, will you have time to look into this in the coming days/weeks?

[2021-01-05 19:03] psss commented on #360
I believe this has been covered by #302. Feel free to reopen if not.

[2021-01-05 19:03] #360 closed

[2021-01-05 19:07] psss commented on #359
This has been covered by #386.

[2021-01-05 19:07] #359 closed

[2021-01-05 19:11] psss commented on #353
The complete output can be enabled by turning on debugging. So using `-vvvddd` should cover your use case. This applies for all steps. Is there anything else you're still missing?

[2021-01-05 19:19] sopos commented on #353
So far I'm ok with -vvvddd. For normal usecases it works . Let's close this issue and possibly reopen if the necessity appears again.

[2021-01-05 19:19] #353 closed

[2021-01-06 01:25] pvalena commented on #498
I'll try to look into the reproducer, pinpoint the issue I'm experiencing, and create appropriate issue if it's somehow caused by TMT.

Let's change this into RFE (which I hope will resolve the issue I'm experiencing).

[2021-01-06 08:39] hegerj commented on #427
Yes I will.

[2021-01-06 10:36] sopos opened #505 "Do not use 'master' as a default ref"
When _ref_ in the _fmf id_ is not defined the `master` is used by default.

As the _problematic language_ topic is spreading world wide like covid, also github has changed the default branch to `main`.

It would be much better if the default was the original git's default branch. If you `git clone` a repo it will automatically checkout the default branch. Git has also a command for setting it `git

[2021-01-06 15:28] jscotka commented on #427
There will be probably also a bigger issue with this updating yaml files.
I'm using virtual hierarchy structure inside FMF files like:

[code]
tool `$ tmt test export --nitrate --create .` then generates tcms testcases:
[code]

after this comman `main.fmf` contains just:
[code]

So It totally breaks original files.

[2021-01-06 15:34] jscotka commented on #427
BTW my feeling with yaml parsing and updating is, that after yaml file is stored it is converted to dict (maybe `OrderedDict` could help but not sure if possible improve yaml parser to use this in easy way) and then storing file stores stored it based on hash order in dict.

[2021-01-06 20:16] psss commented on #505
This proposal relates to the following two specifications:

* [fmf identifier](https://fmf.readthedocs.io/en/latest/concept.html#identifiers)
* [fmf discover plugin](https://tmt.readthedocs.io/en/latest/spec/steps.html#fmf)

If we decide to change the default we should ensure these two are kept consistent.

[2021-01-07 09:16] fernflower commented on #465
Mystery solved - for some strange reason I had an .fmf directiry in the user home directory, and when I was running `tmt init` it was blocked on growing the home directory tree at https://github.com/psss/fmf/blob/master/fmf/base.py#L86

Thank you, I will close the issue now.

[2021-01-07 09:16] #465 closed

[2021-01-07 14:54] jscotka commented on #427
It reminds me, that similar issue could be with yaml loader inside FMF, and my perspective on this issue is that most of work would be done on FMF side and TMT should be able to use FMF "saving" abilities then instead of own way.

FMF has data which node is stored in which files and probably for this case you want to update as latst file as possible. little trouble is that FMF does not remember ra

[2021-01-12 11:00] t184256 opened #506 "Brainstorm-grade: storing test waivers as test metadata"
I'm looking into several approaches of how trivial test errors could be automatically waived by examining the test output.

1) test execution *env-agnostic*, where a wrapper is executed instead of the test, executes the test, captures output, processes it against some waiving rules, signals whether the output is expected or not (human attention is needed or not) using a return code.
2) *env-integr

[2021-01-12 12:07] thrix commented on #506
@t184256  could we also note here the use cases for using the waivers, which should also explain what is meant by ` trivial test errors` pls?

[2021-01-12 14:27] sopos opened #507 "Transfering quite a lot unnecessary data to SUT"
While a test is being scheduled whole its git repository is copied over to the SUT. There's no need to copy there everything while it is not needed at all. Only the required parts should be there (the executed tests and their requirements). The same applies to the repositories holding more libraries, like https://github.com/beakerlib/distribution.

E.g. if I want to run one test for _fapolicyd_ al

[2021-01-12 16:33] milosmalik commented on #506
Timeline of our use-case:
1) bug XYZ is reported -> 2) automated test which covers bug XYZ is created -> 3) bug XYZ is fixed -> 4) bug XYZ is tested and verified

Very often, the following situation happens: the automated test gets executed before step 3.
I would like to see some automatic waiver (which analyses the environment and the test results) and says that the failure is expected because th

[2021-01-12 17:11] t184256 commented on #506
@milosmalik, you've captured it well. Scenarios when it's worth executing the test, even though it fails, and then ensuring it fails in a consistent, well-known manner: bug not fixed yet, issue cause by a component outside your control, verifying that old trusty bugs don't go anywhere on old versions... =) Modifying the test itself to account for all of this quickly leads to spaghetti code, concea

[2021-01-12 17:16] thrix commented on #506
Yeah, got it, thanks for sharing your use cases. It is basically expectedness like functionality. I like that it would be placed directly with the test case.

[2021-01-12 18:26] pvalena commented on #497
I've just discovered the location that I'm in is `/root`:

[code]

The relevant part in `ci.fmf` (prepare):
[code]

You see, how is it possible the folder does not exist- also failure to "CD" into it should fail `tmt` IMO:
[code]
(is what `tmt` runs)

Ideas?

[2021-01-12 18:29] pvalena opened #508 "Default `login` is after `finish`"
On already running tmt run:
[code]

[2021-01-13 04:02] pvalena commented on #497
A hack that works around this:
[code]
_Note that `        script: /usr/share/bughunting/scripts/build_tasks.sh ../discover/default/tests/` would fail for me if I didn't use the `login`._

[2021-01-13 04:07] pvalena opened #509 "Verbosity level gets overriden by "global" one"
I want different verbosity for global and some specific step.

Not sure if this is a RFE or a bug:

[code]
The `-vvv` gets ignored (no effect), due to `-v` for the run (global).

[2021-01-13 06:02] pvalena opened #510 "`tmt run -l login` runs prepare"
If prepare failed, with `--skip finish`, I want to login and inspect what went wrong:

[code]

The (failed) prepare is run, even though I've not run with `--all`.

[2021-01-13 13:41] tomato42 commented on #506
I think that shell globbing (`?` for single character and `*` for multiple characters, with escapes from them using `\?` and `\*`) would be more user friendly than `X` and `0` (and I think regexes would be overkill and problematic from escaping PoV)

[2021-01-13 14:43] psss opened #511 "Check for possible duplicate keys in yaml files"
When a user includes a duplicate key in a `yaml` file, parser silently ignores it. This results in confusion which is not easy to sport or detect. It would be nice if `tmt test lint`, `tmt plan lint` and `tmt story lint` check for these duplicates and report error. The following gist might help with implementing this:

* https://gist.github.com/pypt/94d747fe5180851196eb

[2021-01-13 17:29] psss commented on #511
See also: https://github.com/yaml/pyyaml/issues/165

[2021-01-14 20:44] psss opened #513 "Remove workdir does not work when finish step not enabled"
For this quite common use case (check which tests would be run) workdir is not removed:

    tmt run -rv discover

User needs to do:

    tmt run -rf discover finish

I guess explicitly specifying the `finish` step should not be necessary.

[2021-01-19 09:05] #495 closed

[2021-01-19 09:42] psss commented on #511
Another option could be to use `python-ruamel-yaml`.

[2021-01-19 09:45] thrix commented on #481
I will try to contribute with this

[2021-01-19 09:52] thrix commented on #511
Yep, `ruamel.yaml` seems to traceback by default:

[code]

[2021-01-21 15:24] #500 closed

[2021-01-21 15:44] psss opened #514 "Support short centos image names in testcloud provision"
It would be nice to support short names for CentOS images such as `centos-8` in the `testcloud` plugin as well. Cloud images are available at the following location:

 * https://cloud.centos.org/centos/

[2021-01-21 15:46] psss commented on #514
Thanks for the idea, @sturivny :)

[2021-01-21 19:50] sturivny commented on #514
Was glad to help =)

[2021-01-22 19:32] sopos opened #516 "Missing required package silently ignored during prepare"
The required beakerlib library is expected to be installed from the yum repo. The package is unavailable; the tmt, however, continuous anyway causing the test to fail due to unsatisfied _require_.

[code]

[2021-01-25 15:02] lukaszachy commented on #516
Thank you, setting 'must' and 'bug'. Per documentation: ` If the package cannot be installed test execution should result in an error.`

[2021-01-25 15:18] sopos commented on #516
this is also easily to reproducible using just `require: blabla`

[2021-01-25 15:30] psss commented on #516
Hm, interesting, I see a completely different result:

[code]

Test metadata look like this:

[code]

@sopos, do you see any substantial difference in the config?

[2021-01-25 15:40] sopos commented on #516
@psss , try to add some requirement which can be satisfied, like `beakerlib`

[2021-01-25 15:42] sopos commented on #516
this is the root cause:
[code]

[2021-01-25 15:43] sopos commented on #516
The requirements should be checked somehow separately, I guess

[2021-01-25 15:50] sopos commented on #516
This might also invalidate https://github.com/psss/tmt/issues/401

[2021-01-25 15:58] sopos commented on #516
so the whole call would be
[code]

[2021-01-25 16:17] psss commented on #516
Hm, so this looks like there is a bug in `yum` as `dnf` handles this scenario as expected. In the meantime we can somehow workaround that for older distros. If we can use `rpm -q --whatprovides` instead of `yum --cacheonly` to cover both package names and file paths then I think we are good.

[2021-01-25 16:31] sopos commented on #516
Right, looks like `dnf` does not suffer by this. Anyway, the `rpm -q --whatprovides` looks to me quite bulletproof solution.

[2021-01-25 16:58] psss commented on #427
Yeah, I agree with @jscotka that the best long-term way forward here is to implement metadata update functionality directly in `fmf` which would then take care of all the complex hierarchy and elasticity issues. Let's track that feature in psss/fmf/issues/101 and for now resolve this issue by a simple workaround proposed in #515.

[2021-01-25 17:28] #427 closed

[2021-01-25 18:22] psss commented on #516
So the `--whatprovides` option works fine for package names and file paths:

    tmt-1.2.1-1.20210121152540371060.master.8.g52ae3d7.fc33.noarch

    tmt-1.2.1-1.20210121152540371060.master.8.g52ae3d7.fc33.noarch

Seems to be ok for the special library/abi requires as well:

    distribution-distribution-Library-epel-1.0-65.noarch

    python2.7-2.7.18-6.fc33.x86_64
    python3-3.9.1-2.fc33.x86_64

[2021-01-25 18:48] sopos commented on #516
Ok, you've got me. It's quite unexpected that a test would have such requirement but we should not forbid it.

[2021-01-25 19:38] sopos commented on #516
So the only proper way I can see now is to stupidly iterate and call yum for individual requirement.
[code]

It is quite fast if there are no versioned requirements otherwise it gets slowed.

[2021-01-26 09:12] psss commented on #516
Hm, thinking about it a bit more, if we go with `rpm -q --whatprovides` only it would nicely cover the most common use cases, while for the special require format the command would fail and result in just an extra `yum install` command which will state that everything is installed. So I guess this approach is just fine and would make the implementation much more readable.

[2021-01-26 09:22] psss commented on #503
@adka1408 is working on this.

[2021-01-26 09:43] thrix commented on #481
Seems `git remote-ls` should help here, we will see. Looks promising

[2021-01-26 09:57] psss commented on #516
Ah, taking back my last comment. This would not cover the [yum bug](https://bugzilla.redhat.com/show_bug.cgi?id=1920176).

[2021-01-26 09:58] sopos commented on #516
I do not agree. What you propose is basically a check before calling `yum`. My issue is the check after it. If `yum` fails to install everything and still reports success after all. There's a need to check it differently at the end.

[2021-01-26 09:58] sopos commented on #516
exactly

[2021-01-26 10:07] psss commented on #516
Oh, it's getting ugly here ;-) The thing is that the code is run on the guest so the implementation you propose above would need to be synced there. Hmmm, what about this?

 * Check if everything required is installed using `rpm -q --whatprovides`
 * If not, run `yum/dnf install -y all-required`
 * Plus, when `yum` is used do `for package in requires: rpm -q --whatprovides $package || yum install

[2021-01-26 10:40] sopos commented on #516
It looks to me very similar to what I proposed. I admit is does not look nice as a one-liner but it is not much worse than your proposal.

[2021-01-26 11:12] psss commented on #516
I see, agreed. Let's consider those versioned provides on older distros as a corner case. The fix #517 is ready for review.

[2021-01-26 13:26] Athwale opened #519 "Implement option to login to tmt reserved machine after test into the correct test folder."
A common use case for testers using 1minutetip and Makefiles is to run a test which ends in 1mt allowing the user to log in after the test and experiment with the test code directly on the machine where the test can be modified, developed and rerun using "make run".

Tmt could allow something similar like tmt run execute -h tmt --login which would login after each finished test to the appropriate

[2021-01-26 14:42] psss commented on #519
I believe this should be relatively easy to do, basically reuse the already implemented `login` command functionality under the `execute` step.

[2021-01-26 14:47] #516 closed

[2021-01-26 14:56] lukaszachy commented on #481
Just to recap. export should exit with  error if `remote id` doesn't exist or if metadata on remote are different to local.
Otherwise user will be disappointed either in scheduling or in test review :)
Especially 3. can get ignored and provide false results.

Ideas how mismatch can happen:
1. user forgot to add .fmf/version -> remote is not fmf structure
2. user forgot to commit test .fmf files ->

[2021-01-26 18:09] #482 closed

[2021-01-29 15:52] FrNecas commented on #450
Seems to be related to #469 , should be resolved by #521 once its merged, although listing and filters are case sensitive so the following would be necessary (note the `True`):
[code]
Fmf allows case-insensitive filtering, perhaps we should add an option to tmt that would support it (or maybe even make it the default? Otherwise filtering based on boolean values could be slightly confusing to users

[2021-02-01 12:55] jscotka commented on #356
There is also relevant issue inside cockpit.

When running cockpit tests (it dynamically downloads testing images for KVM) causing that copying data to temporary location is slow, and tooks big amount of space.
for for me there could help, to just copy git tracked files or do not copy anything and just run inside current location.

at least would be nice to warn, that it will copy non trivial amou

[2021-02-01 12:57] psss commented on #356
If user feels safe, we could also support using symlinks instead of copying when `provision --how local` is enabled.

[2021-02-01 13:02] jscotka commented on #356
symlinks to souces sounds interesting and good enough for me. but understand, that use it as default option could cause troubles with some interferces. (ideally it could do Copy on Write :-)

[2021-02-01 13:29] psss commented on #238
@hegerj, @lukaszachy, has this also been covered by #515?

[2021-02-01 13:34] psss commented on #356
Yes, definitely, this would be enabled only upon a user request (e.g. if user feels safe).

[2021-02-01 14:02] hegerj commented on #238
Possibly, but I am not sure. @lukaszachy could you please test it?

[2021-02-01 14:12] thrix commented on #418
Update: the work on implementation did not start yet. Recently we had interesting discussions with @abraverm to discuss the possibility to use [[cuelang.org]] (used by his OpenEngine project) to define the data transformation instead of the Python code. This approach could give us more flexibility later on and easier way how to define the requirements transformation to different clouds. Alexander

[2021-02-01 15:50] ep69 opened #522 "Use beakerlib library from current repository / metadata tree"
As a tester writing the test that needs beakerlib library from the same repository, I want to be able to use that library without specifying URL of the repository, so that the URL information is not duplicated and the whole repository is more maintainable & migratable.

From the discussion we had with @psss, the first step is to have url part of FMF id default to the same repository as the current

[2021-02-02 10:47] lukaszachy commented on #238
Well, It does not remove virtual tests any more. However I wouldn't say it works as expected
Tail of main.fmf after the export
[code]
Both virtual cases have same extra-nitrate attribute and it is a duplicate key.

[2021-02-02 13:55] psss commented on #238
Thanks for checking this. Seems the only way is to properly modify the virtual hierarchy. Fortunately @jscotka has already prepared a pull request with this functionality in #523. Let's try to go this way.

[2021-02-02 18:43] sopos commented on #374
The thing is that in case of _git-like_ approach you just have to use `.` everywhere except for the root while in case of _ls-like_ approach you have to use `/` everywhere except for the root.
Now, how often would you have to use `/`?
Personally I've never been in the situation so I would have to use `/`. The opposite is actually true - sometimes I forget to use `.` so I'm surprised then.

[2021-02-03 11:01] WOnder93 opened #524 "Support tagging a test as "destructive""
In the legacy Makefile metadata there used to be a field called `Destructive` (set to `yes` or `no`). Even though I don't know the exact intended meaning, I used it to mark tests that can potentially leave the system in an unusable state (i.e. no further tests can be run without a forced reboot if the bug covered by the test is present). This property is probably quite rare in common testing, but

[2021-02-03 11:22] sopos opened #525 "[RFE] connect last-run with a terminal"
Currently, the  _last-run_ is user-bound. The problem appears if I run two _tmt_ commands from two terminals to a execute multi-host test.

Use-case:
- prepare machines
[code]
- run test
[code]
This should be probably optional so additional switch could be introduced to addintion to _--last_ or completely independent switch _--last-term_.

[2021-02-03 11:51] sopos commented on #525
When I tried to workaround it by manually setting _--id_ instead of _--last_ I got following traceback for the second run of the test:
[code]

[2021-02-03 11:57] sopos commented on #525
apparently this is connected to copying the beakerlib backup directory (https://github.com/psss/tmt/issues/502)

[2021-02-03 13:42] psss commented on #524
This might be slightly related to #429. Perhaps we could/should group such/similar requirements under a single L1 key. Or make them both part of the L1 counterpart of the L2 [environment](https://tmt.readthedocs.io/en/latest/spec/steps.html#environment) specification for the `provision` step.

[2021-02-03 14:37] lukaszachy commented on #505
Fedora has already changed - https://fedoraproject.org/wiki/Changes/GitRepos-master-to-main
So current default (tmt) doesn't work anymore

[2021-02-03 15:04] psss commented on #505
Looks like an important issues which should be addressed soon. Proposing for 1.3.

[2021-02-03 18:35] Athwale opened #527 "tmt test convert/import should include bugs form tcms using the new link attribute"
Makefiles used to contain a list of bugs for which the test was written, these bugs were then stored in tcms with the case and new bugs were added in tcms in case the same case was usable for more bugs.

With current converted main.fmf from Makefile unless the name of the test contains the bug number it is not possible to tell which bugs the test tests. It is often useful to be able to look at the

[2021-02-03 20:56] sopos opened #528 "tmt import --nitrate imports just a single test case"
I have 4 test cases with script _/CoreOS/rsyslog/Multihost/bz701782-rsyslog-TLS-does-not-encrypt-traffic-on-s390x-and_ but `tmt tests import --nitrate` creates just one test in the _fmf_ format.

[2021-02-03 21:51] sopos commented on #507
It also eats up a lot of disk space over time. See my current state:
[code]
This is unsustainable mainly on a Jenkins machine where a lot of such jobs may run.

[2021-02-03 22:06] sopos opened #529 "tmt tests lint reports a need for path"
`tmt tests lint` reports `pass directory path must be defined`, however the path is auto-constructed in most cases. Such check basically does not make sense as there's apparently no way to make this to fail.

[2021-02-04 08:50] psss commented on #529
It's true that the default `path` is used when not explicitly defined. So the only weird cases are probably these:

    path: ''
    path: ' '

Currently `tmt test lint` does not cover them. Although they look like corner cases, I'd still cover them with a check for at least one non-white-space character. @lukaszachy, what do you think?

[2021-02-04 08:54] sopos commented on #529
shouldn't is start with _/_ if defined?

[2021-02-04 08:58] psss commented on #529
Right you are, the [spec](https://tmt.readthedocs.io/en/latest/spec/tests.html#path) says:

    Use a string containing an absolute path starting with slash.

So we should check for the slash as well.

[2021-02-04 09:30] sopos commented on #529
then I think there should be two checks
1. it starts with `/`
2. the path exists

[2021-02-04 10:31] psss commented on #529
Agreed, makes sense.

[2021-02-04 12:43] jscotka commented on #238
@lukaszachy Hi Lukas, can you please try my PR's (in FMF, TMT) if it works for you as you've expected

[2021-02-04 16:16] hegerj commented on #528
The reason why import ignores those nitrate cases is because they have spaces in their `script` variable. If you remove those it should work.
Alternatively we could use `script__contains` when searching, then it would be enough for the searched script to be substring to match. What do you think @psss ?

[2021-02-04 17:28] sopos commented on #528
I do not see spaces in the script field. e.g. TC#607999

[2021-02-04 17:30] #528 closed

[2021-02-04 19:10] psss commented on #528
I think that could work:

  * fetch all matching
  * strip white space
  * filter only fully matching ones

Not sure how common this can be and if it would be worth it.

[2021-02-05 09:29] lukaszachy opened #530 "Library set ref to master as default"
This will be a problem once psss/fmf/pull/104 is accepted.
We should treat no set ref as default_branch

https://github.com/psss/tmt/blob/ecd29647cd4003f39e1d0c5dff66bf3f4311f1e2/tmt/beakerlib.py#L64

Maybe time to split fmf.fetch and use its parts for all git-related operations?

[2021-02-05 09:34] lukaszachy commented on #530
For the context: https://fedoraproject.org/wiki/Changes/GitRepos-master-to-main
So if one uses fmf reference, or renames default branch on github this will bug will hit.

[2021-02-05 10:22] hegerj commented on #528
I did some exploring with Nitrate cases and I haven't found enough such cases to warrant changing the code. I recommend not altering the code right now and see if something changes in the future.

[2021-02-05 11:29] lukaszachy opened #531 "export nitrate: Change case summary to {repo}{name} - {summary}"
See this test https://src.fedoraproject.org/rpms/autoconf/blob/rawhide/f/tests/runstatedir/main.fmf

Currently `tmt export --nitrate --create` will create new Nitrate case with summary `The test for runstatedir feature`

However in in test results review were many components and tests are mixed we use summary to know component and exact test on first glance without opening the test case.

Proposal

[2021-02-05 11:55] hegerj commented on #531
I am bit worried that there will be tests with quite long names (tests with longer summaries) but hopefully it will be manageable.
Increased readability is probably worth it and you can always override it with your own `extra-summary`.

[2021-02-08 08:57] lukaszachy opened #534 "Support '.' as current dir for NAME in `tmt tests create`"
Use case: As a test author I want to create new test in the current directory using specified template

Currently happens:
1. mkdir -p some/nice/dir/structure
2. cd  some/nice/dir/structure
3. tmt tests create -t beakerlib .

Test script '$HOME/<repo>/./test.sh'  created.

[2021-02-08 09:56] psss commented on #534
Nice little improvement. Should be easy to implement using relative path from the root.

Actually it creates the new test in the metadata tree root directory.

[2021-02-08 15:48] tomato42 opened #536 "tmt import from Nitrate doesn't import Notes, Setup, Actions, etc."
when running `tmt import` on a Nitrate test script, the additional metadata from Notes, Setup, Actions, Breakdown, and Expected Results is not imported.

Those fields include important metadata about the test case. For example, the Notes filed commonly includes information why particular architecture or version is excluded from testing.

[2021-02-08 19:09] psss commented on #536
Storing setup and friends should be working.

[code]
And the `StructuredField` header and footer are imported into description.  Are you using the latest `tmt`?

[2021-02-09 09:04] psss commented on #530
So what about extending the `fmf.utils.fetch()` function to accept destination directory as well? This would nicely cover the beakerlib library fetching as well. Instead of doing *clone* and *checkout* in two steps, `tmt.beakerlib.Library.fetch()` would leave all the work to `fmf.utils.fetch()` and handle possible exceptions.

[2021-02-09 10:06] RHEmployee opened #537 "tmt shared directory owned by first user who runs tmt"
Reproducer:
under root run:
\# tmt run -vvvddd provision -h minute -i rhel-8 login finish

Then directory /var/tmp/tmt/ is created with:
rwxr-xr-x. 3 root root 21 Feb  9 04:59 /var/tmp/tmt/
then switch to normal user:
$ tmt run -vvvddd provision -h minute -i rhel-8 login finish
Failed to create workdir '/var/tmp/tmt/run-002' ([Errno 13] Permission denied: '/var/tmp/tmt/run-002')

[2021-02-09 10:25] psss commented on #537
Relates to #356, perhaps it's a duplicate?

[2021-02-09 14:49] ep69 opened #539 "Unsupported provision method, but no provisioning required"
I am running something like: `tmt run plans -n interop discover -v` and I get an error: `Unsupported provision method 'virtual' in the '/plans/interop' plan.`

My expectation was that it wouldn't try to provision anything, just discover tests. Perhaps config parser is trying to be clever soon (and fails)?

[2021-02-09 14:56] psss commented on #539
This is caused by the fact that at the beginning the whole plan configuration is always checked and all steps are assigned their appropriate plugin implementation using `Plugin.delegate`. Perhaps, for steps which are not enabled we could only give a warning.

[2021-02-09 20:29] psss opened #541 "Use "session" as a default in the testcloud provision plugin"
In [BZ#1914194](https://bugzilla.redhat.com/show_bug.cgi?id=1914194) @martinpitt suggests to use `session` instead of `system` as a default for the `testcloud` plugin. I'm not an expert on `libvirt` and friends. @thrix, @pvalena, @FrNecas, what do you think? Does it make sense? Could it break anything?

[2021-02-09 20:50] thrix commented on #541
if we make it working with `session`, I do not see a reason why not to use it. Also I plan to start Fedora Silverblue, so finding a working tmt with toolbox would be nice :) Would be also good to check with `testcloud` maintainers, if they have some insight, I remember we had some discussion in the beginning for using `session`, but I do not remember the details anymore.

CC @frantisekz

[2021-02-10 06:59] pvalena commented on #541
Yes, `qemu://session` is better :) I've mentioned it before, but I'm not sure `testcloud` knows how to do that. Note that due to it running in userspace, you can't create/manage local networks for the VM etc.

[2021-02-10 07:25] martinpitt commented on #541
@pvalena: Right, this is where my half-hearted attempt in https://bugzilla.redhat.com/show_bug.cgi?id=1914194#c2 stopped, as I didn't want to sink too much time into this before getting some agreement that this is also what you want.

In [cockpit bots](https://github.com/cockpit-project/bots/blob/master/machine/machine_core/machine_virtual.py#L134) we use a [QEMU socket network](https://wiki.qemu.

[2021-02-10 10:54] RHEmployee commented on #537
Hi. I don't know.
Maybe this bug is just consequence of previous bug.

What do you think?

[2021-02-10 12:48] #503 closed

[2021-02-10 19:57] psss commented on #541
Sounds like a better approach to me. Especially if it means that we can run this under containers.

[2021-02-10 22:04] lukaszachy commented on #530
Seems like a good idea. Please check https://github.com/psss/fmf/pull/106 if it makes sense.
I'll try to use it in PR for this issue.

[2021-02-10 23:08] frantisekz commented on #541
Testcloud should be able to handle qemu://session (eg. testcloud instance -c qemu:///session create test -u fedora:33 ), but it seems broken. I'll take a look into it, but it might be early next week as I am running low on free cycles right now.

Some discussion about this was in testcloud repo: https://pagure.io/testcloud/issue/64

[2021-02-11 09:01] lukaszachy commented on #531
Ah, very good point. https://github.com/Nitrate/Nitrate/blob/release-3.8.17/tcms/testcases/models.py#L124 says that max lenght is 255.

[2021-02-11 09:55] #450 closed

[2021-02-11 09:55] #469 closed

[2021-02-11 12:49] frantisekz commented on #541
Okay, I've found time to dig into it a bit.

I've ended up with https://pagure.io/testcloud/pull-request/83# , I'll create a copr repo with that applied in the afternoon, so you can try if that works for you.

Or if you can apply the changes into your pipeline and want to try, you basically need just to set connection in all the testcloud classes and functions you're using from default 'qemu:///sy

[2021-02-11 14:22] frantisekz commented on #541
Okay, the testing copr is here: https://copr.fedorainfracloud.org/coprs/frantisekz/testcloud-wip/

@psss

[2021-02-11 16:32] lukaszachy opened #547 "Import bugzilla links from Nitrate / Makefile"
Existing nitrate cases or Makefiles can contain bugzilla links.
Since we have 'link' attribute we should import also these so we don't loose information about bugs related/being verified by the test.

[2021-02-11 17:03] psss commented on #547
I guess this is a duplicate of #527.

[2021-02-11 20:05] psss commented on #541
@frantisekz, thanks for preparing the testing copr. I tried the fresh package and everything worked fine. However, not sure how to confirm / verify that `qemu:///session` was actually used. Any hint? @martinpitt, could you try if it works for your use case?

[2021-02-11 21:31] i386x commented on #373
@psss Could `eval`-based constructs be replaced by Jinja2 templates? Jinja2 expressions are much more safer than raw Python code and they have almost same syntax and semantics. Additionally, if some feature is missing, it can be implemented and passed to Jinja2 context so it can be then used in Jinja2 expressions. Jinja2 expressions are for example used by Ansible in Ansible playbooks where they p

[2021-02-11 23:26] psss commented on #426
Should be fixed by #548.

[2021-02-11 23:26] #426 closed

[2021-02-12 09:52] psss commented on #366
@adka1408, would you like to have a look at this?

[2021-02-12 09:52] psss commented on #301
@adka1408, would you like to have a look at this?

[2021-02-12 10:23] psss commented on #301
Hm, just realized the [test selection](https://tmt.readthedocs.io/en/latest/examples.html#select-steps) is already described in the examples. The only missing part is probably the `--force` explanation.

[2021-02-12 13:01] lukaszachy opened #552 "Inconsistent summaries for `run --dry`in provision, prepare"
One test, one plan. One runs `tmt run --dry` to see if all is more-less OK before real execution.

Since nothing should be done (--dry) all summaries should contain 0.
[code]

[2021-02-12 14:51] frantisekz commented on #541
I am not sure if you can run commands on the guest, but 'virsh -c qemu:///session list'  should give you all the vms running in the session mode.

I can try to take a look at adding more logging testcloud side, but passing the connection argument to testcloud should be pretty reliable way to make it run through a different connection.

[2021-02-12 16:09] martinpitt commented on #541
Thanks for looking into this! I sent a first review to https://pagure.io/testcloud/pull-request/83#

[2021-02-15 13:10] #530 closed

[2021-02-15 14:48] psss commented on #437
This should be fixed by #553 but it's still necessary to have the `prepare` step enabled:

    tmt run provision --how connect --guest my.test.box prepare login

Is this sufficient? Any ideas how to improve this even more?

[2021-02-15 14:55] lukaszachy commented on #437
Do we need to call rsync for login? Help for `tmt run login` says ```Provide user with an interactive shell on the guest.```

[2021-02-15 15:29] lukaszachy commented on #547
Ah, right. Closing this one

[2021-02-15 15:29] #547 closed

[2021-02-15 20:13] psss commented on #437
So the way how it works is that we provide the interactive shell in the (synced) workdir so that one can experiment with the test code and do similar stuff. Perhaps we could apply a workaround for this specific case and use an arbitrary remote directory?

[2021-02-16 13:57] RHEmployee opened #557 "tmt minutet plugin selects wrong rhel version when shot name is used"
Hello.

Looks like minute plugin select different instance when called by short name.

8.3 is selected instead of 8.x where x is bigger than 3.

How:
$ tmt run -vvvddd provision -h minute -i rhel-8 login finish

...
1MT-RHEL-8.3.0-released
...

\# cat /etc/redhat-release
Red Hat Enterprise Linux release 8.3 (Ootpa)

VS

$ 1minutetip -n rhel-8
1MT-RHEL-8.x.0-20210216

where x is bigger than 3.

[2021-02-16 15:57] psss commented on #557
The `minute` plugin searches for the last `rhel-8` image with the `released` tag so this seems to be expected. Would you expect or propose a different behaviour?

[2021-02-16 16:15] psss commented on #301
Fixed by #554.

[2021-02-16 16:15] #301 closed

[2021-02-16 21:26] sopos opened #558 "tmt should automatically install rsync on SUT"
Currently, if there's not `rsync` installed on the SUT, the execute step fail as it cannot sync the data.

[2021-02-17 07:28] lukaszachy commented on #558
Should be solved soon by #553

[2021-02-17 07:52] lukaszachy commented on #437
Or maybe just update the documentation so user is not surprised with sync

[2021-02-17 09:59] RHEmployee commented on #557
Hi. I'm still confused what minute plugin should do.
I don't know what to propose if I don't know what is should do.
And yes, if this plugin should mimic 1minutetip, then I propose to sync with how 1minutetip behave and how it select instances to work on.

[2021-02-17 10:32] RHEmployee opened #559 "tmt asks for password when rhel x (where x is bigger than seven plus 1). It should be same for fedora rawhide."
There is issue when I want to shedule $(subject), then unsupported ssh key is used for ssh connection.

How:
tmt run -vvvddd provision -h minute -i rhel-x login finish

Run command 'ssh -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -i /usr/share/GAGA-tools/1minutetip/1minutetip root@10.0.x.x cat /etc/os-release'.
            err: Warning: Permanently added '10.0.x.x' (ECDSA) to the lis

[2021-02-17 16:17] psss commented on #445
The new `--version` option implemented in #561.

[2021-02-17 20:02] pvalena commented on #445
Thanks!

[2021-02-17 20:02] #445 closed

[2021-02-18 10:58] lukaszachy commented on #537
It definitely relates to #356 and _might_ be fixed by its resolution.
However I'd leave this open until User story: 'tmt can be run on multiuser host' is possible.

[2021-02-18 11:36] jscotka opened #563 "Synchronization to nitrate does not respect component changes"
I've found, that in case I've change `component: [a,b,c]` e.g. to `component: [c, d]`
and I'll use `tmt test export --nitrate --create .` it will not unlink component from general plans `a` and `b` what is bad for me, because I expect full sync, not this optional, so that you can just add general components, but unable to remove from general component.
I'm talking about components as  __general pl

[2021-02-18 14:31] jscotka opened #565 "Report error for beakerlib tests exceeding duration"
I've run test like (framework: beakerlib):
`tmt --verbose --debug run -a provision -h minute -i rhel-8 test --name /Sanity/selenium-internal/selenium-rhel8.py/MOTD`

and these tests exited inside setup with exceeded time,
I expect that exceeded time will cause FAIL, or ERROR, not PASS
because test will not test anything if it is killed

[code]

[2021-02-18 15:34] jscotka opened #566 "tmt run - tools with special terminal handling and chars can break tmt run"
this issue is connected with https://github.com/psss/tmt/issues/565
I have inside my test code like:
rlRun "pip3 install selenium"
[code]

but it freezed process, or output. I think that `tmt run test` is confused by these terminal characters.
If I added to `pip -q` for quiet mode it is much better.  and does not freeze.

real output sniplet:
[code]
because fist pip command passed, my feeling is,

[2021-02-18 15:35] Athwale commented on #527
What is the status here? I see something closed here, does it work already?

[2021-02-18 15:43] hegerj commented on #527
The closed issue is a duplicate. No progress on this issue so far as far as I know.

[2021-02-20 08:42] #534 closed

[2021-02-22 11:47] RHEmployee opened #569 "tmt/minute uses local time on machine"
Hello.

It looks like minute plugin uses local machine time/date for instance names.
This has been considered insufficient for some cases where users starts 1minutetip/minute from virtual machines, where time is not in sync with reality.

Affected part of code:
tmt/steps/provision/minute.py:
self.instance_start = datetime.datetime.utcnow().strftime(
            '%Y-%m-%d-%H-%M')

There should be d

[2021-02-22 11:52] psss commented on #481
@lukaszachy from the description it sounds like this issue if focused at `tmt test`. I see @thrix is improving `tmt plan lint` in #550. So we still need to cover the `tmt test` part, right? I'm not completely sure we should block 1.3 on this.

[2021-02-22 11:53] RHEmployee opened #570 "Unable to use scp without password prompt by default"
As a 1minutetip user, I'm used to have ~/.ssh/config configured by official guideline, and copy files to remote machine via scp/rsync/whatever without password prompt.
Provided configuration involves that keys are used automatically with 1minutetip instances so I should not bother with password prompt.

How to reproduce:

On first terminal:
$ tmt run -vvvddd provision -h minute -i rhel-8 login fin

[2021-02-22 13:12] pvalena opened #571 "Documentation `Description` is not clear enough"
The first few paragraphs in `Description` are very important, but this is not clear enough:

[code]
It should explicitly state that `L2 metadata` **are** `Plans / specification`.

[2021-02-22 13:12] pvalena commented on #571
Likewise:

[code]

[2021-02-22 13:14] pvalena commented on #571
@jackorp Please follow up.

[2021-02-22 14:34] psss commented on #437
I've updated #553 to only give a warning when `guest.push()` failes during the `login` plugin execution. This should cover this use case as well. Please, verify. Thanks.

[2021-02-22 19:08] psss commented on #571
@pvalena, do you propose something like this?

    Plans, which imlement the L2 specification, are used to group tests and configure...

What is not clear enough in the paragraph describing tests?

[2021-02-22 19:37] psss commented on #570
Thanks for the issue. Just tried on my laptop and the scenario described above works for me without the need to provide a password. I have the 1mt key enabled in my ssh config. Are there any special 1mt instructions how to enable the key?

[2021-02-22 22:34] jackorp commented on #571
I would appreciate a change that would look like the proposed
[code]
and likewise for L1.

Moreover, the paragraph mentioning L1 metadata does not make it clear to me what is it for. I read that (in short), ok, the tool can do stuff with tests from my laptop in different environments and I can convert old metadata and verify them. However, for me, it is very different from the content of descripti

[2021-02-23 07:46] psss commented on #527
I will look into this.

[2021-02-23 09:15] RHEmployee commented on #570
So you were lucky or you have different ssh_config.
It just doesn't work from scrach on fedora 33 with settings below which are recommended.

More info:
https://internalwiki/BaseOs/Projects/1minuteTIP#Connecttoreservedtomachineviassh

[2021-02-23 12:13] lukaszachy commented on #437
Works as I expected. Thank you.

[2021-02-23 13:15] lukaszachy opened #573 "discover.fmf modified-only doesn't work for virtual tests"
Firstly: This discover option is great and I'd love to use it.
However - I have many virtual cases, e.g. instead of `/smoke` I have `/smoke/py38` and so on.

I propose to remove (or make optional) final `$` from regexp constructed by modified directories.
That way it can work for virtual cases as well.
Also - If you have modified file in the parent directory you are most likely to modify .fmf file

[2021-02-23 15:34] #505 closed

[2021-02-23 15:36] #437 closed

[2021-02-23 15:36] #558 closed

[2021-02-23 15:37] psss commented on #481
Agreed on the hacking session to move to the next release.

[2021-02-23 17:55] psss commented on #472
@lukaszachy discovered an important regression in the approach used in #567:

[code]

We need to revert and look into this more closely. @lukaszachy, good catch!

[2021-02-23 18:46] psss commented on #573
Sounds good to me. @WOnder93, what do you think about the proposed change?

[2021-02-23 19:21] WOnder93 commented on #573
I though about it a bit and it seems reasonable. The only downside I could think of is that it could run too many tests if you change something high in the hierarchy (e.g. if you modify the toplevel `.gitignore` file, it will run all tests). But I can't think of a good way to avoid it (maybe some upper limit on selected tests specified in the plan?) and the pros probably outweigh the cons, so I'm

[2021-02-24 11:00] frantisekz commented on #541
Thanks for the review, I've updated the PR last week, just pinging here in case you aren't getting notifications from pagure. copr repo was updated too.

[2021-02-25 05:00] martinpitt opened #585 "Running upstream tests in Fedora dist-git needs upstream tarball discovery or flexible ref:"
[cockpit-podman](https://github.com/cockpit-project/cockpit-podman) now has an FMF test plan which [runs in packit](https://github.com/cockpit-project/cockpit-podman/blob/master/packit.yaml), which works very nice. I am currently investigating how to [run the exact same tests downstream in Fedora](https://src.fedoraproject.org/rpms/cockpit-podman/pull-request/32). (Thanks to @psss for your great h

[2021-02-25 09:15] lukaszachy commented on #565
Might be handled by exactly the same handling so adding here.

1. provision using how: connect
2. have long running prepare script
3. in other console kill ssh connection which runs step 2
4. observe that tmt prints `summary: 1 preparation applied` and if test passes than overall result is pass, exit code 0.

[2021-02-25 09:45] lukaszachy opened #587 "prepare:script tries to `cd` into nonexistent directory"
I have prepare step with 'script' option. In the log.txt I see
[code]

[2021-02-25 09:56] lukaszachy commented on #566
Might be fixed by #586

[2021-02-25 10:22] jscotka opened #588 "RFE: prepare part for each step in plan"
I had trouble with order of commands that `prepare` is done after `discovery`. (Or better to say, it is clear, that `prepare` is executed on target machine but not so clean that `discovery` not and order of these commands ). It would good to do some steps before discovery.

My usecase is, that I have no FMF data for tests, just plan, and tests metadata are automatically generated from python decor

[2021-02-25 10:31] lukaszachy commented on #565
I take my previous comment back. Scenario of this issue is broken in check_beakerlib (==nothing to do with prepare)

[2021-02-25 11:07] lukaszachy opened #590 "If prepare.script is killed it is not reflected in the tmt run outcome"
To reproduce:
1.    provision using how: connect
2.   have long running prepare script
3.   in other console kill ssh connection which runs step 2

Issue is that `prepare: summary: 1 preparation applied ` and if test passes than overall result is pass, exit code 0.

[2021-02-25 12:19] jscotka commented on #587
I've found same issue:
plan file contains:
[code]
1. issue is that it is not documented on https://tmt.readthedocs.io/en/latest/spec/steps.html#spec-steps-prepare-shell what will be the current dir for the execution so not easy to find, how to execute my own prepare scripts
2. second is right your issue:
[code]

[2021-02-25 13:11] martinpitt commented on #588
This is similar to issue #585 which I reported yesterday. This issue is a bit more general, so I suppose pick which proposal you like better, and then close one or the other. Thanks!

[2021-02-25 19:07] jscotka commented on #563
Solved by: https://github.com/psss/tmt/pull/592

[2021-02-25 19:44] thrix commented on #566
indeed, I would retry against lastest tmt code

[2021-03-01 11:36] pirat89 opened #594 "`tmt init` creates files in dry-run mode"
Running `tmt` in dry-run mode lead into changes (files are created).
To reproduce:

[code]

[2021-03-01 17:42] FrNecas commented on #570
I've looked into the issue (using the provided ssh config) and managed to reproduce it. Looks like the IP of the provisioned machine doesn't match any `Host` in the config and hence the SSH key isn't passed. If I had to guess, it is caused by using a different network than 1minutetip (related to #555 ). So if we wanted to be compatible with 1minutetip, we would have to hardcode the one specific ne

[2021-03-01 18:31] FrNecas commented on #416
Closing as `tmt status` has already been merged and the idea to automatically finish all plans with active provision has been proposed in #436

[2021-03-01 18:31] #416 closed

[2021-03-01 18:51] FrNecas commented on #552
I agree that `--dry` needs to be improved but shouldn't it be the other way around? When all summaries are going to show 0, aren't you missing information to check if the run is OK so seeing the number of preparations that would be done if it wasn't dry mode, could actually be useful?

I've tried using dry run on a very simple example and got this:

[code]

I feel like like seeing  the number of g

[2021-03-02 10:41] adka1408 commented on #594
I will take a look on that.

[2021-03-02 11:09] dkarpele commented on #456
I'll look at it

[2021-03-02 13:07] jscotka commented on #587
@psss @lukaszachy please consider adding it to milestone 1.4

[2021-03-02 16:07] #527 closed

[2021-03-02 18:15] t184256 commented on #391
I'm reopening that after a discussion with @sopos

This still doesn't work for me:

[code]

From the logs I can see that cwd is `/var/tmp/tmt/run-012/plans/default/discover/default/tests/Library/a-few-descriptive-words` and that rlImport fails with `[  ERROR   ] :: rlImport: Could not find library library-self-test/a-few-descriptive-words`. beakerlib's at `beakerlib-1.25-1.fc33`.

Note how the cwd

[2021-03-02 19:43] #569 closed

[2021-03-02 20:16] fernflower opened #601 "prepare step fails with cryptic error if ansible playbook is run against a vm with root auth disabled"
Steps to reproduce:
1. Vm with root auth disabled (like vanilla cloud rhel7.9 image, discovered with latest openstack rhel7.9 image)
2. `tmt run -a provision  -h connect -g YOUR_VM_IP_HERE `

This will fail with cryptic
[code]

If step 2 is run with user specified like `tmt run -a provision  -h connect -g 10.0.79.174 --user cloud-user` or the rsync command is executed manually as
[code]
 the issue

[2021-03-02 20:17] fernflower commented on #601
Just for the sake of clarity - the test plan that was run
[code]

[2021-03-02 21:46] #539 closed

[2021-03-03 06:41] ZhukovGreen opened #602 "Create fmf config json shcema and upload it to schemastore"
As a developer, I'd like some guidance that I am not making a mistake in define fmf configs. As one of the options here is to create a json schema and upload it to https://github.com/schemastore/schemastore/ ,

Even though this solution would require POC.

I would approach it via pydantic models

[2021-03-03 06:42] ZhukovGreen commented on #602
@psss if you want, I can try to do some POC

[2021-03-03 06:48] zhukovgreen opened #603 "Prepare step defined in test is silently ignored"
If you define the prepare step inside the test fmf config, then it is ignored, no warnings send to the user.

I think some schema validation would solve this problem.

Ref #602

[2021-03-03 09:57] thrix commented on #423
@psss sounds reasonable. I guess I should take this.

[2021-03-03 09:58] thrix commented on #497
yep we use the same hack. i will try to deliver this after I am done with my current PR

[2021-03-03 11:38] lukaszachy opened #605 "execute -h detach can't report timeout for beakerlib tests"
When `detach` executor runs beakerlib test it doesn't set special value if timeout happened but returns `1` as for any other issue.

With beakerlib-1.25 we can see that `TESTRESULT_STATE="started"` but I think that timeout should be handled by explicit exit value, similar way how it is done for `shell` test (exitcode 124) and how `tmt` executor does it.

To reproduce:
Go to tests/execute/duration/

[2021-03-03 14:20] lukaszachy commented on #602
@ZhukovGreen Please do, that would be a great thing to have available for users.

[2021-03-03 15:35] psss commented on #603
Yeah, that would be definitely useful. This is something which could be implemented in `tmt plan lint` but perhaps we should even give warnings every time an unsupported key is detected (during `tmt plan show` or `tmt run`). The same approach probably not possible for `tmt test lint` as it is possible (and allowed) to define custom metadata keys (and for example filter tests based on them). On the

[2021-03-03 15:39] psss commented on #602
This sounds very useful. Pity that `vim` is not included in the list of supported [editors](https://www.schemastore.org/json/#editors) :(

[2021-03-03 16:54] #529 closed

[2021-03-03 17:12] lukaszachy opened #607 "tmt test import --nitrate should detect general plans and fill component attribute accordingly"
Component attribute [specification](https://tmt.readthedocs.io/en/stable/spec/tests.html#component) says that

In Nitrate we use presence General plan for this.

If import reads Nitrate it should process this information as well.

[2021-03-03 17:15] lukaszachy commented on #607
I'll try to fix this

[2021-03-03 17:29] ZhukovGreen commented on #602
@psss I believe it might work for vim as well. Check https://github.com/Quramy/vison. Also coc plugin for vim might also work https://github.com/neoclide/coc-json

[2021-03-03 17:57] psss commented on #602
Nice, that sounds promising!

[2021-03-03 18:32] #565 closed

[2021-03-03 20:54] pvalena commented on #605
This is only the case for `beakerlib` framework handling- you're right, the error code is overriden (should be simply left as is instead).

https://github.com/psss/tmt/blob/master/tmt/steps/execute/run.sh#L190

I'll prepare a fix.

[2021-03-03 20:55] pvalena commented on #605
While we're at it, are there any other special cases?

[2021-03-03 21:09] i386x commented on #373
Just to complete my previous comment and for inspiration, Ansible uses a kind of "safe" eval implementation: https://github.com/ansible/ansible/blob/devel/lib/ansible/template/safe_eval.py#L31

[2021-03-04 00:34] AloisMahdal opened #608 "framework:beakerlib: Files from rlFileSubmit are lost"
If I call rlFileSubmit in a Beakerlib test, the submitted file is not extracted out of the testing machine.  (..unless it happens to be in `$PWD` as well.)

    @singletop:~/tmp/tmtplay$ find -type f | xargs head -1000
    ==> ./.fmf/version <==
    1

    ==> ./plans/foo_p.fmf <==
    summary: Basic smoke tests
    execute:
        how: tmt
    discover:
        how: fmf

    ==> ./tests/submitte

[2021-03-04 07:52] lukaszachy commented on #608
Thank you for the report. Fix for rlFileSubmit will also make rlBundleLogs and rlDie work as they are using it.

Looking at the [implementation](https://github.com/beakerlib/beakerlib/blob/master/src/logging.sh#L489) tmt could create own script and export BEAKERLIB_COMMAND_SUBMIT_LOG.
Do we need to submit the file in async manner (as soon as  rlFilesubmit is called)? For debugging purposes it will

[2021-03-04 08:11] lukaszachy commented on #605
I'm not aware of any other specialities.

[2021-03-04 08:20] lukaszachy commented on #603
I'd say user should have a way how to define their custom attribute names so warning will not be shown for them.
Otherwise they will be flooded with warnings and will just ignore them.

Example I decide to use attribute `foo` in my tests, I'd prefer to add it to config file/plan/somewhere so I don't see warning for `foo`. But when I do typo (fo or fooo) warning will be shown, I'll see it and fix.

[2021-03-04 10:10] psss opened #611 "Introduce a new command for config actions"
There is a nice idea in #604 to provide an easy way to configure shell completion inspired by [kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion). I guess there might be more setup actions which could be useful especially when a new user is starting to work with `tmt`. A couple of examples how this could work:

    tmt setup completion bash
    tmt setu

[2021-03-04 10:51] AloisMahdal commented on #608
For the context -- I will actually need it for (so far experimental/poc) JATS support, where there would be same problem, just different paths to collect.

I'd be willing to help with PR here, after some consultation with @pvalena.  I should be able to tell more today.

If TMT allows the submission to be done in a synchronized manner that would be great news.

[2021-03-04 13:52] ZhukovGreen commented on #603
Might be fixed by #602

[2021-03-05 09:04] ZhukovGreen commented on #602
tested on vim with https://github.com/neoclide/coc-yaml plugin and yaml.schemaStore.enable = true. Works nicely. Really love it:)

[2021-03-05 09:47] lukaszachy opened #614 "Strip .git from github.com URL for libraries (any repo from github)"
If plan contains mixture of 'library()' and direct fmf identifier require/recommend, currently user needs to make sure that they specify github.com url without .git suffix. Otherwise they run into `Library 'NAME' with url 'https://github.com/beakerlib/NAME' conflicts with already fetched library from 'https://github.com/beakerlib/NAME.git'`

IMHO tmt should strip this suffix automatically so user

[2021-03-05 10:20] lukaszachy commented on #587
Yes, we really have to  fix this. - you end up in user home (usually root) but have no idea where to cd to as /var/tmp/... can contain several runs if you are reusing machine (via provision -h connect)

[2021-03-05 10:21] pvalena commented on #587
I think this is a duplicate of #497 :) but feel free to close that one.

[2021-03-05 13:34] pirat89 opened #615 "traceback for --help"
[code]

[2021-03-05 14:08] jscotka commented on #587
It is question, but probably or curious it works well with ansible preparating, where documentation says, that you can use local playbook, so what is the location, and where to store these ansible or shell scripts have to be well documented: e.g. it make sense to use current directory where plan is stored, or it also makes sense to be inside git root dir.

Theoretically there will be problem in ca

[2021-03-05 15:27] FrNecas commented on #351
This has been solved by 8329db0421e902272a9606b4d97085aa40c427a3 , closing.

[2021-03-05 15:27] #351 closed

[2021-03-05 17:47] FrNecas commented on #615
There is probably not much we can do about this :/ `--condition` requires one argument, click takes whatever is there so in this case `--help` and passes it to tmt. The given condition is then used in `eval()` and it evaluates as Python code which can be anything so basically any exception can be thrown. The exception should probably be caught so that it doesn't traceback but that should probably

[2021-03-08 09:01] lukaszachy opened #618 "Commandline's `tests --name` overriden by plan's names key"
Using `tests/execute/basic/data` as a reproducer.

I'd want to schedule specific plan (by name) with specific test (by name). However in the end 3 tests are discovered.
Seems that 'names' from plan took preference over command line.

[code]

Current commit has 4 plans and 7 tests in total:
[code]

[2021-03-08 12:17] #410 closed

[2021-03-08 13:52] FrNecas commented on #436
I will try to implement it, should be fairly similar to `tmt status`

[2021-03-08 14:27] psss commented on #618
Thanks for catching this. Should be fixed by #619.

[2021-03-08 16:49] psss commented on #436
Thanks for taking this. Probably would be good to discuss the outlined syntax on the hacking session tomorrow.

[2021-03-08 16:52] FrNecas commented on #436
Sure, sounds good. I will think about the syntax and perhaps extend your initial proposal and we can discuss it tomorrow.

[2021-03-08 16:55] #366 closed

[2021-03-08 17:45] ZhukovGreen opened #621 "Ansible preparation is not runing inside the container"
When running plan:
[code]

cat kmod.yml
[code]
the following error occurs:
[code]

It seems that ansible preparation is not running inside a container, but on the localhost.

Tested manually on

[2021-03-08 18:36] FrNecas commented on #436
A few notes:

The whole command should probably offer `--dry` option to only list what would be done since we are dealing with removing data.

`tmt clean run(s)`
 - We should also support specifying the "root" directory which will be searched if `--id` isn't provided (similar to `tmt status`). So perhaps `tmt clean run .` to clean runs from CWD?
 - Cleaning old runs sounds great, the question is h

[2021-03-09 08:43] psss commented on #621
I'm not an expert on ansible playbooks, but could this possibly be caused by explicitly specifying `localhost` in the playbook?

If that is not the case, could you please run the command with `-vvvddd` to get more debug output?

[2021-03-09 08:47] psss commented on #621
Tried with:

    - hosts: all

Seems to be working as expected.

[2021-03-09 09:00] #618 closed

[2021-03-09 09:49] dkarpele commented on #487
I will have a look

[2021-03-09 09:58] lukaszachy commented on #487
And ServerProxy to Nitrate is a private attribute of almost every object, e.g. `nitrate.User()._server`
So quick way to update could be to call `nitrate.User()._server.TestCase.store_text(609679, 'is ACTION', 'Effect', 'Setup', '<ul>  <li>Coffee</li>  <li>Tea</li>  <li>Milk</li></ul>')`

[2021-03-09 10:07] lukaszachy commented on #456
Closed in #610 .
Apologies for messing autoclosing.

[2021-03-09 10:07] #456 closed

[2021-03-09 11:39] ZhukovGreen commented on #621
@psss thx Petr, still error on my side, but it seems it is due to docker rather than tmt podman plugin. Closing the issue.
At least this motivates me to build a simpler plugin that works in podman and docker  envs:) will share it soon

[2021-03-09 11:39] ZhukovGreen commented on #621
/close

[2021-03-09 11:40] #621 closed

[2021-03-09 13:59] jscotka commented on #497
Could be fixed by: https://github.com/psss/tmt/pull/623

[2021-03-09 14:23] lukaszachy commented on #615
Well, you can feed condition with some nonsense even intentionally so I'd say catching Exception from eval and presenting it to the user nicely is a must.

It will not help with this case, but at least user will get a hint that some option is  taken as --condition value

[2021-03-09 15:55] thrix opened #624 "tmt should install debuginfo packages in recommends / require via `dnf debuginfo-install`"
This came up in:

https://src.fedoraproject.org/rpms/gdb/pull-request/9

Maybe we should make sure `tmt` is smart enough to know it should install debuginfo packages specially?

[2021-03-09 15:57] thrix commented on #624
@psss @lukaszachy what do you think about this?

[2021-03-09 16:38] pirat89 opened #625 "Print useful hints for newbies"
`tmt` has various cool features that are not so clear for new users. E.g. possibility to see what's happening during the tmt execution when keep watching the less verbose output of tests:
1. `tmt run -v`
2. `tmt run --last --follow`

It would be useful if `tmt` prints hints for users about such a stuff. E.g.
[code]

This could be enabled by a configuration option (e.g. `enable_hint = True`). So us

[2021-03-09 17:20] sopos commented on #391
@psss had an idea to use `rlImport .` for the case of self-import. It actually does not work in beakerlib at this point but it is really simple to add it.

However, what currently work is `rlImport ./a-few-descriptive-words` - you need to explicitly state the name of the library (the current directory name).

[2021-03-09 17:51] thrix opened #627 "Test timeout should be better visible to the end user"
See

https://pagure.io/fedora-ci/general/issue/223

I believe it would not hurt to expose the timeout information directly to stdout of the test. That way the systems running tmt tests do not need to specially handle and interpret the note in results.yaml and just make it available to the user

[2021-03-09 18:16] psss commented on #391
The beakerlib support for `rlImport .` filed as beakerlib/beakerlib/issues/94.

[2021-03-10 09:07] psss commented on #387
Checking the last run results is really a very common use case. We should make it as intuitive as possible.

[2021-03-10 09:30] sopos commented on #477
This may also help to libraries development as the developer may define a local store for the libraries so the local ones are picked first.

[2021-03-10 09:41] lukaszachy commented on #502
IMHO this could be covered by #280 - E.g. framework:beakerlib should add two artifacts: journal and testresults so tmt will know what to copy back.

[2021-03-10 09:53] sopos commented on #502
exactly

[2021-03-10 18:47] #387 closed

[2021-03-11 09:42] psss commented on #396
Thanks for bringing the idea of using `worktree` for this. Seems this could be quite useful although we would not save as much disk space as we would if using symlinks. On the other hand, there really could be unexpected results if several plans are modifying the same work tree. Especially if we plan to support a parallel execution of plans.

Was playing a bit with the feature and I see one possib

[2021-03-11 10:45] psss commented on #502
This seems to be quite an important issue. Proposing for 1.5.

[2021-03-11 10:46] psss commented on #507
This seems to be quite an important issue. Proposing for 1.5.

[2021-03-11 13:36] WOnder93 opened #631 "`tmt tests lint` should warn about (potential) common misspellings, e.g. `requires` instead of `require`"
This has just cost me a couple minutes time to figure out - it would be fine if `tmt tests lint` could warn about things like this.

[2021-03-11 15:38] AloisMahdal commented on #281
Slight alteration of the above approach:

 *  test calls a command that means "i want to restart"

this command informs TMT executor to kill the test (~ like /usr/sbin/reboot would), orchestrate the actual reboot (with extra steps if needed for CI -- just like `rhts-reboot` would) and after the reboot, bring back the same test (with `REBOOTCOUNT`-like envvar, just like `rhts-reboot` would).

rstrn

[2021-03-11 17:35] psss commented on #396
Closing in favor of #423 which has a nice outline of the solution and is already assigned by @thrix.

[2021-03-11 17:38] psss commented on #396
Oh, I forgot we still want to cover the following here:

 * `discover` step should use a symlink if `url` and `ref` are not provided

This is blocked by #423. Sorry for the spam...

[2021-03-11 17:41] psss commented on #423
Summary of what should be covered by this issue:

 * `/tmp/tmt/run-001/tree` will contain complete git repo from which tests are run
 * `/tmp/tmt/run-001/plan/tree` will be a detached git worktree of above (for each plan)

The following steps will have cwd set to `plans/tree`:

 * `prepare`
 * `finish`

Also `login` will default to jump to the `tree` directory for whichever step it is used.

[2021-03-11 17:43] psss commented on #497
The issue described here should be covered by solution for #423. Marking as a duplicate.

[2021-03-11 17:43] #497 closed

[2021-03-11 17:44] psss commented on #587
The issue described here should be covered by solution for #423. Marking as a duplicate.

[2021-03-11 17:44] #587 closed

[2021-03-11 17:57] ZhukovGreen opened #634 "testcloud image not found"
My plan config:
[code]
running
[code]

[2021-03-11 17:59] psss commented on #585
Yes, this seems to be a demanded feature. Let's try to find a solution for this soon. Proposing for 1.5.

[2021-03-11 18:08] psss commented on #585
Possible temporary workaround I'm using for referencing `tmt` integration tests from `fmf` is to set up a branch which contains tests relevant to the latest released bits:

* https://github.com/psss/fmf/blob/master/plans/integration.fmf

So the only thing I need to do when releasing a new `tmt` is to move forward the `fedora` branch.

[2021-03-11 18:37] psss commented on #634
Hm, just tried with the image you provided:

[code]

Could perhaps selinux prevent accessing the image file? @frantisekz, @thrix, any idea what else could raise a `FileNotFoundError`? Relevant code is here:

https://github.com/psss/tmt/blob/master/tmt/steps/provision/testcloud.py#L401

[2021-03-12 09:10] jkonecny12 commented on #585
Hi @psss, your solution is  great. However, it has a problem that the tests will fail time between upstream and downstream release is done. In that period the upstream test branch will point to the tests which are not yet in gating.

[2021-03-12 10:25] sopos opened #635 "tmt tests export --nitrate --create wrongly updates fmf metadata"
In case there are multiple TCs in the _main.fmf_ and one calls `tmt tests export --nitrate --create` the cases are correctly created in the _nitrate_ but the _extra-nitrate_ attribute is simply appended [1] to the _mail.fmf_ instead of inserting to the correct place [2] in the yaml structure.

1. https://github.com/RedHat-SP-Security/tests/commit/0fceced233eb9d5af34c2697920fdbe87016b9aa#diff-2f6ab

[2021-03-12 11:46] lukaszachy commented on #635
Known issue :/ https://github.com/psss/tmt/issues/238#issuecomment-771546663
However expect fix soon with #523

[2021-03-12 11:47] lukaszachy commented on #635
Just a note - #523 will also fix breakage when fmf file doesn't end with newline.

[2021-03-12 12:09] sopos opened #636 "tmt tests show does not display adjust data"
Even in the most verbose `-vvv` mode it does not display the defined _adjust_ attribute. It would be good to at least print a raw content if not an interpreted content.
I would expect it to be displayed in the basic verbosity mode (without -v) so I can see where the TC is irrelevant.

[2021-03-12 12:51] #615 closed

[2021-03-12 13:28] psss commented on #636
The interesting part of this issue is that once the context adjust is applied the `adjust` attribute disappears from the fmf metadata so it is no more available. We'll need to somehow workaround this.

[2021-03-12 13:35] psss commented on #585
Yes, yes, just a workaround, not very perfect... ;-)

[2021-03-12 13:44] sopos commented on #636
If it is evaluated, what is the actual environment used if I run just `tmt tests show`? I.e. I do not specify and environment, I;m just showing / listing the available tests.
I would understand it to be evaluated for `tmt run` but not for `tmt test`.

[2021-03-12 13:47] psss commented on #636
Context can be provided to any `tmt` command, for example:

    tmt --context distro=fedora-33 test show

Which will give you approriate values for given context.

[2021-03-12 15:05] ZhukovGreen commented on #634
@psss found the reason why it fails on my case. testcloud runs `selinuxenabled` shell command, and fails with no such file or directory (so FileNotFoundError):)

[2021-03-12 15:07] ZhukovGreen commented on #634
the issue is not related to tmt, but to the testcloud
/close

[2021-03-12 15:07] #634 closed

[2021-03-12 15:15] #627 closed

[2021-03-12 19:02] lukaszachy commented on #624
Hm, seems like a nice feature.

[2021-03-15 12:47] lukaszachy opened #644 "Context dimension `fips` should be set when SUT is in FIPS mode"
Downstream we set `fips = enabled` automatically when SUT runs in FIPS enabled mode.

When (if) TMT gains common and supported way how to schedule FIPS via test/plan specification tmt should behave similarly and set the 'fips' dimension.

[2021-03-15 14:56] lukaszachy opened #645 "tmt run eats space, explore ways how to limit disk usage"
All `tmt run` data including test cloud images are kept on the disk after run is finished.
This can take a lot of space.

Ideas (from the workshop)
- Remove run data unless specified otherwise
- Keep only failed runs
- Delete unnecessary data (e.g. tests from discover step) and keep only logs

[2021-03-15 15:01] FrNecas commented on #645
#436 should partially help so that it is not necessary to clean `/var/tmp/tmt` manually

[2021-03-15 20:39] dkarpele commented on #614
Hi @lukaszachy ,
which command should be used to reproduce the issue?

[2021-03-15 22:21] frantisekz commented on #436
FYI: testcloud has recently gained an ability to cleanup its storage, with configurable space limit, deleting the oldest images that are not used by any instance, running or shut off once the threshold is reached.

[2021-03-16 07:21] martinpitt opened #647 "Enable a COPR for a test run without specifying a package"
For developing tests with packit and GitHub integration like in https://github.com/martinpitt/cockpit/pull/13 , I need to run a test against Fedora plus a COPR.

I tried with

    tmt run --all prepare --how install --copr packit/martinpitt-cockpit-13

for running tests in [cockpit](https://github.com/cockpit-project/cockpit), but that does not actually enable the COPR -- there is no copr repo in

[2021-03-16 07:23] psss commented on #571
This should be covered by #643. Feel free to reopen if anything important is still missing.

[2021-03-16 07:23] #571 closed

[2021-03-16 07:31] psss commented on #647
Thanks for describing the issue in detail.

Yes, agreed. My expectation would be that the `--package` should not be required to enable a copr repo and I don't see a use case for enabling the repo only for that particular package. Seems like an easy fix we could try to squeeze into `1.4`.

[2021-03-16 07:35] martinpitt commented on #647
@psss: I think that `--package` does not actually relate to `--copr` at all -- I can specify only `--package` to install an additional one (which is not part of the test plan). So it rather just seems like a bug, not a design decision, that --package somehow "enables" processing of --copr ?

[2021-03-16 07:57] psss commented on #647
Yes, precisely, just a bug in the implementation.

[2021-03-16 08:22] psss commented on #184
Bulding in copr has been enabled some time ago in 8060c7aff1c8a41603c9112d5cfccef85590d645 and  8060c7aff1c8a41603c9112d5cfccef85590d645.

[2021-03-16 08:22] #184 closed

[2021-03-16 08:27] psss commented on #454
Seems we should clarify the [install](https://tmt.readthedocs.io/en/latest/spec/plans.html#install) plugin documenation. I think we should keep this consisten with how the [require](https://tmt.readthedocs.io/en/latest/spec/tests.html#require) attribute is defined: Either a single name or a list of names. What do you say?

[2021-03-16 10:26] #647 closed

[2021-03-16 18:55] #509 closed

[2021-03-17 08:59] jscotka opened #653 "Container.full files does not work well - RPM dep installation issue"
## EDIT:
with makefile Dockerfile.mini works well probably `.` at the end fixed the issue

I've wanted to use containers and seems that there are few issues.
firs one is probably easy to fix, second one (tested also with F32 base image did not helper, so probably some added dep what is not able to install inside container)

## Dockerfile.mini
[code]
## Dockerfile.full
[code]

[2021-03-17 09:02] psss commented on #653
Have you tried `make images`?

[2021-03-17 09:08] jscotka commented on #653
@psss as you mentioned, there were issue with location so that `.` at the end of cmd line helper for `Dockerfile.mini`

But `Dockerfile.full` is RPM level issue, so it failed also with this `make images`

[2021-03-17 09:08] lukaszachy commented on #645
Also - since default workdir is in `/var/tmp` tmt could set rules for `systemd-tmpfiles` so this dir will be cleaned regularly

[2021-03-17 09:15] psss commented on #653
Hm, interesting. The `iputils` packages cannot be installed. Tried installing only  this one package and it failed also with `fedora:32`.

[2021-03-17 09:23] jscotka commented on #653
On the one hand it is expected that not all packages could be installed inside container, on the other hand, something added this dependency somehow. Or it is possible that with some older fedora <F32 it worked and it was broken by someone when building RPM packages for fedora

[2021-03-17 11:17] jscotka commented on #653
Also tested F30 and also not able to install
[code]

[2021-03-17 11:39] jscotka commented on #653
so this dependecy is part of `tmt-all` package

[2021-03-17 12:02] jscotka commented on #653
similar issue inside BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1915377

[2021-03-18 08:43] lukaszachy commented on #614
Hi @dkarpele, Just run `tmt run discover` for main.fmf containing
[code]

The repo for backward-compatible format (library()) is created at https://github.com/psss/tmt/blob/master/tmt/beakerlib.py#L66

[2021-03-18 09:53] psss commented on #624
So this means that the `install` prepare plugin would filter all `*.debuginfo` packages and install them using `dnf debuginfo-install`? If that's it I believe the implementation should be easy.

[2021-03-18 10:29] lukaszachy commented on #624
Do we support yum? (rhel-7 and older) If so `debuginfo-install` is a way to go and it is provided by either `yum-utils` or `dnf-utils`

[2021-03-18 11:59] jscotka opened #656 "result of runnig tests in logs does not respect order of streams - randomly printed"
Hi,
by mistake I've enbled to print debug information from `selenium` what prints very big amount of text to stderr and
when I've looked into output `log.txt` or into `/var/tmp/tmt/run-061/plans/default/execute/data/Sanity/selenium-internal/selenium-rhel84.py/Cookies/testSameSiteStrict/output.txt` I've found that result of failed test scheduled via `pytest` mixed output of `beakerlib` output with

[2021-03-18 13:34] pvalena commented on #653
@jscotka The images for regular usage are already built here:
  https://quay.io/repository/testing-farm/tmt-all
  https://quay.io/repository/testing-farm/tmt

Also, please note that: F32 support ends on 2021-05-18. Earlier versions are no longer supported.

[2021-03-18 14:05] pvalena commented on #281
Agreed.
This may be mitigated by actually relaying/delegating the reboot to a `provision` step (the object) via some API. It may be just an implementation detail, but I'd like to avoid simply running `reboot` from `execute` step.

There's no reason not to realize this, when implemented via `provision` (container restart).

[2021-03-18 19:34] jscotka commented on #653
@pvalena yep, but this issue is more about that you are not able to regenerate image now. I wanted to create new image for test using requre for files regeneration and net this issue. So i dont need it directly. With okder

[2021-03-18 20:10] jscotka commented on #585
@psss as mantin referenced my issue https://github.com/psss/tmt/issues/588 it could be also more generic and very useful. Not just about getting some version of test before discovery.

[2021-03-19 10:54] thrix opened #659 "tmt run workdir init is not thread safe"
While implementing a related feature, I found out that tmt run is not thread safe, it can happen two tmt runs will fight for the same run id.

Filing as an issue so I can fix later.

[code]

[2021-03-19 11:42] thrix commented on #423
@psss implementation is finally ongoing, I have some notes:

* the proposed solution with `git worktree`  does not work if there is no git repository. So for that case we will just use plain copy.

* git worktree does not preserve untracked or changed (both staged/unstaged) files, what is a bummer ... so a bit more code will be needed to add those files / changes to all worktrees

 `/tmp/tmt/run-0

[2021-03-19 11:43] thrix commented on #396
@psss I guess that can be part of #423 also ... seems I will be a bit area also there

[2021-03-19 14:05] jscotka commented on #566
yep, seems working well now. so closing for now.

[2021-03-19 14:05] #566 closed

[2021-03-19 15:48] martinpitt commented on #585
My hack until then is to have our release scripts [bump the ref automatically](https://github.com/cockpit-project/cockpituous/pull/408).

[2021-03-19 18:25] pvalena commented on #653
I'd aim for the latest stable distro release only (as that's what builds in our quay.io anyways).

[code]

Otherwise, we need to end up with double the number of Dockerfiles, as I'd rather avoid having some decision logic inside one.

[2021-03-20 09:40] psss commented on #374
Would be nice to get this implemented by `2.0` or sooner. We definitely should make sure the behaviour is consistent across all commands, the import/export is confusing:

 * `tmt test import` works for the current directory
 * `tmt test export` defaults to the global scope and exports all tests unless `.` provided

Especially the latter one might be quite unexpected. Because of it I'm now slightly

[2021-03-20 09:48] #531 closed

[2021-03-20 09:53] psss commented on #541
Will be fixed by #642 but we need to wait until the fresh `testcloud` is released.

[2021-03-22 10:39] jscotka commented on #653
@pvalena not sure If I've described it well.
I does not care about older distro. The newest one is good enough.

My inspection of older distros were about to find when happening this issue, that it is unable to rebuild images (and tried to find via older releases if there were added some new dependency caused by some package) and finally we found that `tmt-all` brings this dependency on `iputils`

[2021-03-22 11:10] pvalena commented on #605
Fix prepared in #655.

[2021-03-22 15:35] jscotka opened #662 "tmt run execute should display some progress bar of test execution by default"
When execution big test suite with long test time. I found the UI issue, basic output is good for short test execution, but not for long ones with verbose test output.

I have trouble finding where I'm and how many tests were already executed (and it is not easy to find it via parsing `log.txt`)
I can imagine some progress bar like:
[code]
maybe via some `sys.stderr.write(f"\r\t\t\t({current}/{tot

[2021-03-22 18:33] psss commented on #662
So the main difference from the `verbose` output (which already lists individual tests) is to provide the precentage of completion? Would something like this cover your use case?

[code]

Exit after the first failure seems like a useful feature. Perhaps it would make sense to track it under a separate issue?

[2021-03-23 07:46] jscotka commented on #662
@psss yes, exit after first value probably I could make as separate issue, it makesense.
difference from `verbose` mode is, that verbose shows more information, e.g. list of tests at the beginning. what Is not so useful and in case of tens(hundreds) of tests does not make sense to display them for me, but totally acceptable inside verbose mode

So this could be about default behaviour. That also i

[2021-03-23 07:49] jscotka opened #663 "RFE: TMT run should have option to to exit after first fail"
When debugging bigger testsuite it is useful to fail fast and exit running after first failed test. Especially when tweaking also some library used by more tests.

e.g. same  behaviour what provides `pytest` `-x` option

[2021-03-23 07:50] jscotka commented on #662
created separate issue for exit after first fail (https://github.com/psss/tmt/issues/663)

[2021-03-23 10:10] lukaszachy commented on #238
So, It should be fixed if one uses tmt with unreleased version of fmf. I'd say that requiring appropriate (>= 0.15) version of fmf is a must to call this fixed properly.

[2021-03-23 17:29] milosmalik opened #665 "As a tester/developer, I want to be notified if the test conversion was not complete."
Very often Makefiles contain commands which are executed before `runtest.sh` is executed. These commands are not converted when `tmt test import` is called. These commands should be either copied into the Setup phase in `runtest.sh` or there should be a warning that something was skipped during conversion.

[2021-03-24 07:35] psss commented on #665
Raised on the stakeholder meeting as one of the issues blocking complete removal of `Makefile` metadata. Let's try to address this in `1.5`.

[2021-03-25 11:43] pvalena commented on #653
That's my point, the newest one works for me: https://gist.github.com/pvalena/aa7d7d7011c7edc7e8aeb6fc08676ba3

Is there any issue I can reproduce with F33? Or it was fixed already?

I see, is there any log with build failure?

[2021-03-25 11:45] pvalena commented on #656
I can create a test for this next week, in the spirit of TDD.

[2021-03-25 13:05] jkonecny12 commented on #588
I like this solution but I don't think it should be part of the discover step. I would be more inclined to have something like `pre-prepare` or similar which would be separate from the Discover.

[2021-03-25 13:06] jkonecny12 commented on #585
I like that solution. As you said it's more general.

[2021-03-26 06:23] pvalena commented on #588
I think this goes against `tmt` approach, which is, not modifying anything in current repository (that is I'd be fine with it if it's in `/var/tmp/tmt`). The local host modification is IMO no-go (unless `local` provisioner is selected). I don't think TMT ever aimed at replacing Makefile (f.e. for building a tarball) or guest setup (f.e. `setup.sh`); or ansible for that matter. TMT is managing "tes

[2021-03-26 06:44] pvalena commented on #585
I always thought this is where `https://src.fedoraproject.org/tests/***/` comes into play. Yes, it's similar to maintaining an upstream branch, but I think that's the point- having the ACLs in the OS repo (for tests run on the OS CI), not upstream ACLs.

I can see your point, when you're in charge of upstream, that you dont want your tests duplicated. But this basically generates tests dynamically

[2021-03-26 09:40] jscotka opened #670 "RFE: environment should be also confgigurable from CMD line"
as https://tmt.readthedocs.io/en/stable/spec/plans.html#environment is possible to add more env variables to test execution and it is on same level as other steps. I know that it is not step, but I expect that also cmd line would have also possible to do something like:
[code]

[2021-03-26 11:45] jscotka commented on #670
closing as there exists `--environment` for `tmt run`

[2021-03-26 11:56] jscotka commented on #670
As there exists command line opts, probably it would be nice to improve it inside doc, I can imagine that in FMF specification, for items like https://tmt.readthedocs.io/en/stable/spec/plans.html#environment  could be mentioned how to override/append this via command line.

[2021-03-26 17:09] psss commented on #238
Ok, agreed. Will be fixed by #674. We need to wait a bit until the new `fmf` reaches stable repos, thus moving to `1.5`.

[2021-03-28 09:03] martinpitt commented on #585
@pvalena: For me this is exactly *not* the point -- I want to maintain and run the tests during upstream CI, so having this separate tests/ namespace is useless, too expensive [1], and error prone. The nice thing about STI is that you can effortlessly run tests from the upstream release tarball, which I consider the right thing to do. I"m not much fussed about how exactly to get this back (unpacki

[2021-03-28 09:05] martinpitt commented on #585
No, not really - I want to take the tests *as is* from the upstream source which is defined in the spec. This is "safer" than tmt checking out some arbitrary git repo, as it does now. It's also awkward that test discovery has to call out to the internet in the first place, while it already has everything that it needs locally and validated.

[2021-03-29 07:42] psss commented on #481
@lukaszachy, @thrix, if I remember correctly, we agreed on the hacking session to not block 1.4 on this? Is that right/ok?

[2021-03-29 09:25] jkonecny12 commented on #585
In general you won't get much adaption if there will be more work to be done manually like syncing upstream tests to another downstream repo. Also why would people use TMT if it would gave them more work than STI which they have now.

[2021-03-29 17:11] #594 closed

[2021-03-30 10:44] psss commented on #662
@FrNecas, so the check for an attached terminal [seems](https://stackoverflow.com/questions/1077113/how-do-i-detect-whether-sys-stdout-is-attached-to-terminal-or-not) to be easy:

[code]

[2021-03-30 10:48] FrNecas commented on #662
Nice, thanks. I will work on this one, just a quick write-up of what was agreed on at hacking session today:
 - keep verbose as it is (perhaps add numbering of the tests)
 - if not verbose/debug and terminal is connected, show a "status bar" using `\r`, something like `\r(<test index>/<number of tests>) <test name>`.

[2021-03-30 11:11] psss commented on #573
Resolved by #664.

[2021-03-30 11:11] #573 closed

[2021-03-30 11:24] psss commented on #605
Resolved by #655.

[2021-03-30 11:24] #605 closed

[2021-03-30 12:01] #563 closed

[2021-03-30 16:46] #141 closed

[2021-03-30 16:52] #541 closed

[2021-03-30 17:52] lukaszachy opened #679 "tmt export --nitrata --create malformes adjust rule"
Before export:
[code]
After export when key is missing:
[code]
This makes fmf/tmt to raise `fmf.utils.FormatError: No condition defined in adjust rule.`, including in `tmt test lint`

I used
tmt-1.3.1-1.20210330165247205001.master.64.g02badb3.fc33.noarch
fmf-0.15.2-1.20210326172917712489.master.3.ga401333.fc33.noarch

[2021-03-30 18:17] lukaszachy commented on #679
Easier steps to reproduce:
1. tmt init
2. create 'before.fmf` with
[code]
3. run reproducer.py
[code]

Interesting enough I was **not able to reproduce** it with pure 'fmf' e.g. in
[code]

[2021-03-30 19:49] psss commented on #679
This seems to be caused by the `adjust()` method. Pure `fmf` reproducer:

[code]

[2021-03-30 19:59] psss commented on #679
Should be fixed by psss/fmf/pull/124.

[2021-03-31 07:01] #481 closed

[2021-03-31 08:12] lukaszachy commented on #679
I'd say this is a blocker - Use needs to revert adjust rule changes but keep added extra-nitrate  and if user doesn't commit fmf files _before_ tmt export (which is not yet enforced by tmt) then they loose original adjust data for good.

[2021-03-31 09:03] jscotka commented on #653
@pvalena
yep, possible that they fix it already in iputils package in fedora. So in this case we can close it.

[2021-04-01 15:03] #423 closed

[2021-04-01 19:18] psss commented on #487
Fixed in #641.

[2021-04-01 19:18] #487 closed

[2021-04-06 07:50] martinpitt opened #681 "`tmt run -l finish` crashes: Failed to connect socket to '/var/run/libvirt/libvirt-sock-ro': No such file or directory"
I am running the pre-view tmt with the copr packages from https://github.com/psss/tmt/pull/642:

testcloud-0.5.0-1.fc33.noarch
tmt-1.3.1-2.fc33.noarch

With that, doing a complete run works fine, but a separate cleanup step after e.g. `--until report` crashes. Simplest reproducer:

    tmt run provision --how virtual --image fedora-33
    tmt run -l login  # this works fine
    tmt run -l finish

[2021-04-06 08:15] martinpitt opened #682 "fedora-33 VMs install outdated dependencies"
I am currently investigating a [weird test regression](http://artifacts.dev.testing-farm.io/33fd92a3-0d95-4bee-a51b-3faa49fa07a9/) of cockpit-podman packit tests on Fedora 33. I can reproduce this locally with `tmt run --all provision --how virtual --image fedora-33` in [cockpit-podman](https://github.com/cockpit-project/cockpit-podman).

The root cause is that the [test dependency](https://github

[2021-04-06 09:27] sopos opened #683 "some attributes allow different ways to write which may be confusing"
Typical example of this is `require` attribute. It may be written as plain on-line text, meaning one item list or as a list of more values. The same applies to the steps in plans.

This may lead to a confusion where one is not sure what can be achieved in which attribute.

The minimal way would be to consistently use lists `-` is all examples. It may look more complicated but at the same time it w

[2021-04-06 09:52] sopos opened #684 "different behavior if running steps at once than running separately"
My typical workflow is (and it works):
[code]

But if I split the second command to two commands it does not work - the beakerlib libraries are to set up.
[code]

[2021-04-06 11:13] jscotka opened #685 "allow to specify packages what are not satisfied by current repos"
Story is based on `require` attribute of L1 metadata.
When using more distros, especially fedora and RHEL with same tests. It happened, that in RHEL there are some packages missing of contains older version that tests expects.

there is more solution how to solve this:
 - Allow also pip installation (but specific to python, and what others, perl CPAN, nodeJS NPM so probably harder)
 - Allow to use

[2021-04-06 12:23] psss commented on #681
This does not seem to be the proper package from copr. I've tested the above-mentioned scenario with the latest content from master and it works fine.

Could you please try with [this copr repo](https://copr.fedorainfracloud.org/coprs/packit/psss-tmt-687/build/2115861/)? I believe, the error you reported has been already fixed and the copr repo above contains one more fix related to this. Thanks.

[2021-04-06 12:35] martinpitt commented on #681
Confirmed, thank you! Works fine with tmt-1.3.1-1.20210406121211996945.pr687.74.g84a43ee.fc33.noarch.

I honestly have no idea any more where I got 1.3.1-2.fc33 from, but if it wasn't from updates, I only downloaded some rpms from copr recently.

[2021-04-06 12:35] #681 closed

[2021-04-06 12:47] sopos opened #688 "tmt tests export --nitrate does not update links in Nitrate"
`tmt tests export --nitrate` does not export bugzilla links `links: {'verifies': 'url'}` to _Nitrate_.

[2021-04-06 12:50] psss commented on #681
Good to hear, thanks for the update.

[2021-04-06 12:50] sopos opened #689 "RFE: tmt tests export --nitrate should be able to update bugzilla"
Please add a new option `--bugzilla` and use it to update bugzilla with the `verifies` links to the _Nitrate Test Case Number_.

[2021-04-06 12:53] sopos opened #690 "tmt tests export --nitrate --general traces back"
`tmt tests export --nitrate --general` traces back if the _TC_ is already linked to the _general plan_.
[code]
I think this is a regression as I do not remember seeing such behavior.

[2021-04-06 13:06] jscotka commented on #690
https://github.com/psss/tmt/pull/691 should fix this issue

[2021-04-06 13:14] sopos commented on #690
I can confirm the https://github.com/psss/tmt/pull/691 fixes this issue.

[2021-04-06 16:08] dkarpele opened #692 "Export text fields of a case to nitrate should be checked by lint for compliance with the specification"
This issue was created after discussion in https://github.com/psss/tmt/pull/641#discussion_r603061137
[Spec](https://tmt.readthedocs.io/en/latest/spec/tests.html#manual)

1. `tmt test lint` should check If the format of `test.md` respects the specification. Probably we can add a list of allowed headers for export operation and if `test.md` has headers not from the list -> print a warn.
2. Call `tm

[2021-04-06 19:24] #690 closed

[2021-04-07 09:23] fernflower opened #694 "Support env preparation&actual testing before and after the reboot"
[Discussed in the tmt hacking session 30/03/21]

For testing the upgrade we need to run the actual test twice - first on the pristine not-yet-upgraded machine with rhel7, then on the very same machine after it's been upgraded to rhel8. In between the 2 test runs different playbooks are executed with reboot step.
A crude scenario:
Setup old distro (ansible roles/playbooks, reboot)
Test the applicat

[2021-04-07 09:51] mildas opened #695 "tmt test lint --fix - indentation not unified"
When a linting is fixed using `tmt test lint --fix`, strings and dicts have different indentation.

Example of `main.fmf` after lint fix (`relevancy` got converted to `adjust`):
[code]

The `adjust` part has 4-space indentation, `recommend` has 2-space indentation, and `require` is mix of both.

[2021-04-07 09:52] lukaszachy commented on #682
Reproduced outside of tmt e.g. `podman run --rm -ti fedora:33 dnf install podman`.

[2021-04-07 12:02] psss commented on #695
The following would be an ideal indentation from my point of view:

[code]

Basically keep 4 spaces consistently everywhere and use `␣␣-␣` for prefixing lists (space, space, dash, space).

[2021-04-07 12:12] mildas commented on #695
This looks like the same issue - https://stackoverflow.com/questions/25108581/python-yaml-dump-bad-indentation
Unfortunately, the proposed solution with Dumper doesn't work for me.

Easy way how to at least unify the indentation could be change of the `indent` to 2-space - https://github.com/psss/tmt/blob/master/tmt/utils.py#L744 - with this change, the file file looks like this:
[code]

[2021-04-07 15:21] psss commented on #695
I'd say that 2 spaces do not provide enough visual indentation for the human eye to quickly see/parse the overall structure at first sight.

[2021-04-07 16:00] martinpitt commented on #682
Thanks @lukaszachy ! Let's track this in bugzilla on the dnf side then.

[2021-04-08 07:16] lukaszachy commented on #682
@martinpitt @psss @thrix What would you say if tmt does 'dnf update -y' automatically (and add an option to disable that for e.g. CI)?
I'm not sure how likely is to hit dnf's bug/feature when run from an updated system, so best place (SUT is as new as possible) would be to update system _after_ require/recommend are installed.

[2021-04-08 08:02] martinpitt commented on #682
That's also the most expensive option -- the test installs/upgrades packages twice then. If it is enough to update the initial cloud image to work around the bug, that'd be a bit cheaper.

[2021-04-08 08:26] lukaszachy commented on #682
For workaround yes. However we should fix this (as much as we can), right? IMHO running tests on old SUT is wrong and I'm not sure that we have updated images available.

[2021-04-08 08:32] martinpitt commented on #682
Correct, I think `dnf update -y` right after booting the instance makes perfect sense. FTR, Debian's/Ubuntu's autopkgtest infra does that as well.

[2021-04-08 17:10] lukaszachy commented on #665
@milosmalik Do you have some examples, please?

[2021-04-08 19:51] #631 closed

[2021-04-09 11:36] #662 closed

[2021-04-09 12:18] lukaszachy opened #700 "Interupted run - VM created but guests.yaml not yet updated"
When I cancel run while 'booting' I have VM created and running however it is not noted anywhere except the log.txt and thus impossible to clean automatically.

Reproduced as (in tmt git repo)
[code]

I see in `/var/tmp/tmt/run-001/log.txt` that
[code]
however `/var/tmp/tmt/run-001/plans/features/advanced/provision/guests.yaml` contains just an `{}`.

[2021-04-12 08:18] rh-mcermak commented on #281
This is sort of a blocker for testing components such as systemtap or perf, which need kernel debuginfo, devel, headers etc respective to the *running* kernel. Practice shows that the *configured* repos don't have kernel debuginfo, devel, headers etc respective to the *running* kernel. A work around to this is to update the test worker, reboot it, and then the needed packages "show up" in the conf

[2021-04-12 09:24] psss commented on #694
The original proposal above does not seem to be flexible enough. It would mean having two separate plans and thus reporting two results. Plus some other complications. Here's some further brainstorming of possible approaches:

Introduce a new `upgrade` step config which would be very similar to the `prepare` step but would be run between the old and new test execution:

[code]

Introduce a new `up

[2021-04-12 12:47] lukaszachy commented on #197
Just found out that restraint doesn't allow to select ssh port  - this will be an issue for 'testcloud' as in qemu://session  host is always localhost and just ports differ. Filled an issue and lets see - https://github.com/beaker-project/restraint/issues/208

[2021-04-12 14:47] FrNecas commented on #695
I've looked into it and seems like there is no way to achieve this formatting using the PyYAML library. I will try to migrate tmt to ruamel.yaml, will see how it goes

[2021-04-12 15:18] lukaszachy commented on #197
So the trick (kudos to Martin) is to use `-e "ssh -p 1234"` (e.g. `restraint --job job.xml -t 127.0.0.1 -v -e 'ssh -l root -p 10038'`)

[2021-04-12 15:38] ZhukovGreen commented on #694
@fernflower @psss
can we just have two separate plans?
1. Just run the test suit on the initial OS (i.e. RHEL7)
2. Plan upgrades and reboots the machine during the preparation step and then run the same (or not the same) test suit on the upgraded machine

I believe prepare step is important to keep as exactly prepare (for the test). In this case, it makes the understanding of the

Considering that

[2021-04-12 20:44] pvalena opened #705 "There's not documentation for `tmt status`"
Or it's very hard to find.

https://tmt.readthedocs.io/en/stable/search.html?q=status&check_keywords=yes&area=default#

[2021-04-12 22:31] pvalena commented on #694
Posted my Idea here: https://github.com/psss/tmt/pull/701#issuecomment-817864920

[2021-04-13 07:12] martinpitt commented on #682
With the latest discussions on the [downstream bug](https://bugzilla.redhat.com/show_bug.cgi?id=1946975), the `dnf update -y` approach seems correct indeed.

[2021-04-13 07:28] psss commented on #694
The main motivation for the single plan examples above is that there's just a single `discover` and `provision` step and also I understood this as a single scenario which should result into a single test result. Two separate plans sounds more like two different scenarios.

The upgrade testing use case has just two extra actions in addition to the standard six steps: Second `prepare` and second `ex

[2021-04-13 07:32] lukaszachy commented on #682
Unfortunately yes. Do I understand dnf's comments correctly that we need to do it _after_ we install require/recommend as 'install' can pick whatever version of dependency to satisfy the transaction?

[2021-04-13 07:45] fernflower commented on #694
I am afraid that is not an option - the result of the upgrade test run is the cumulative result of "run test before the upgrade, upgrade, run test after the upgrade". Splitting the run in 2 plans will only complicate things imho.

Prepare steps for the same vm before and after the upgrade will be different.

The test **will** modify the machine state, and running the same test before and after the

[2021-04-13 07:48] martinpitt commented on #682
In that case, dnf picked an old version of crun because an old version of libpcap was already installed. So if the testbed gets updated first, this can't happen any more.

[2021-04-13 08:39] lukaszachy commented on #682
Do you understand why it happened? I couldn't find what makes libcaps update so special that after it suddenly new crun is selected.

[2021-04-13 08:44] sopos commented on #694
another possibility with explicit ordering:
[code]

[2021-04-13 08:52] martinpitt commented on #682
@lukaszachy : My understanding was like this:
 - old crun 0.15 depends on an older pcap, which is already installed
 - current crun 0.18 depends on a newer pcap, which would have to be upgraded first
 - dnf prefers current versions over new ones even for transitive dependencies (which I find is a bug..)
 - thus, instead of installing current crun 0.18 and updating pcap, it installed an old crun to

[2021-04-13 09:00] thrix commented on #694
And to make the feedback long, I have also an idea: I would like to introduce stages into execute. I believe for leapp, even the upgrade "stage" is a part of the test. Those stages should have generic names and different implementation (shell, ansible, etc.):

[code]

[2021-04-13 09:34] fernflower commented on #694
FWIW I love the idea. This will need some careful way to report failures of the specific execute stage\non-trivial logs collection, but imho this solution is the closest to the oamg team's needs.

[2021-04-13 09:42] psss commented on #694
I think @thrix has made an essential point above: that the `upgrade` stage is also part of the leapp test. I like this approach. There would be several execute configs (plugins), each with a unique name, the `report` step would gather results from all of them. This sounds like a way to go.

[2021-04-13 09:46] ZhukovGreen commented on #694
@fernflower thanks for explaining this, I was not aware of such test scenarios. I like the proposal from @thrix . Just probably need to explain the usecase of execute:how clearly,

[2021-04-13 10:34] wizardofoz123 commented on #197
@lukaszachy I might have some time and desire to try adding UPT/restraint runner as an optional dependency to tmt, to create restraint plugin for the execute step.

Before I start on that, I'd just like to verify whether someone isn't already implementing something similar, so we don't duplicate work.
I'll also appreciate any advice regarding this / interface with tmt.

[2021-04-13 12:32] psss commented on #253
A simple way to download a koji build (supports both build id and nvr):

    koji download-build 1733372
    koji download-build tmt-1.4.0-1.fc33

I'd suggest we support the full url as well, so that installing brew build is possible as well.

[2021-04-13 12:34] psss commented on #253
For inspiration also linking @pvalena's [download-builds.sh](https://github.com/pvalena/theprototype/blob/main/pkgs/download-builds.sh) script.

[2021-04-13 14:38] psss commented on #552
Yeah, and here the question is where we put the line between the dry mode and real action. For example running the discover step for the integration plan in the `fmf` repository using `tmt run -dddnvvv discover plan -n integration` results in the following:

[code]

Which nicely shows what would happen (we should still improve wording of the `run()` method to use `Would run command` to make this c

[2021-04-13 14:48] psss commented on #253
This should be relatively easy to implement. Let's try to address this in `1.5`.
@adka1408, would you like to have a look a this?

[2021-04-14 07:02] martinpitt commented on #588
@pvalena : Agreed that this should really not modify anything in the current repository. I also don't think that this was the proposal. All of these scripts should run in /var/tmp/tmp/run-*/discover/ only. But I do see the concern about running too much free-form code in the metadata, that is both brittle and unsafe. So maybe this should be dialed back to more specific use cases, and support them

[2021-04-14 07:10] martinpitt commented on #585
Reading #588 and the replies here, I do understand your concern about running too much code in the prepare step on the host machine. For this specific issue, I'd really be content with `discover`ing the tests not from a git repo, but a local tarball or dir:

[code]

... or something like that. That could invoke `{fed,cent,rh}pkg sources` to download the tarball, unpack it, and discover tests from

[2021-04-14 07:33] lukaszachy commented on #552
We have to fix the inconsistency. Can we agree on user story behind --dry and fix the behaviour accordingly? Especially if/how much 'actions' we allow to happen (Download remote repo in discover? Get real image name for fedora in provision, ...)

I'd love to see what would happen but I'm not sure were to mark the line.

[2021-04-14 08:35] lukaszachy commented on #514
Just heard it is quite a big and problematic, removing label

[2021-04-14 08:55] lukaszachy opened #706 "Add linter for 'tmt stories'"
Inspiration in e.g. https://github.com/psss/tmt/pull/639 and plans/tests lint.

[2021-04-14 08:58] lukaszachy opened #707 "tmt plans lint for unknown attributes"
Inspiration in pull/639.
For example - currently lint exists with 0 even though step discoverAAA is clearly typo / not valid.
[code]

[2021-04-14 10:21] lukaszachy opened #708 "New command - `tmt lint`"
Use cases
1. I want to check my whole repo / dir (currently has to run multiple tmt .. lint commands)
2. I'm not sure why `file.fmf` isn't reported as test/plan/story (currently not possible)

Proposal to create a command `tmt lint` which  will detect all `*.fmf` files in directory (maybe including children directories) and run appropriate lint (plan, test, story) for objects from it.
If file isn'

[2021-04-14 13:55] pvalena commented on #588
@martinpitt when the **arbitrary** script runs on the _host_ it has access into `/home` and everywhere else... if you give it `sudo` (for installation; or it gains it from tmt by some means), it can also fully modify the host system. I agree, I don't see any other way than the support of very specific cases in declarative manner.

E.g.  not _running make_ but rather the end command itself `tar ...

[2021-04-14 14:00] pvalena commented on #588
Running it in container or such (same method as provision) would be an option, and maybe a better one, as it would support the free-form. I'm not sure how this would be implemented in CI though. @thrix WDYT?

[2021-04-15 06:48] martinky82 opened #709 "ftff4"

[2021-04-15 06:49] martinky82 commented on #709
Sorry. This issue was crated by a toddler while I left mycompouter for a minute unattended... ;)

[2021-04-15 06:49] #709 closed

[2021-04-15 07:51] psss commented on #709
Sending congrats for the very first issue! ;-)

[2021-04-15 08:26] martinky82 commented on #709
I will convey the message :)

[2021-04-15 09:25] stepnem opened #710 "Regression: `tmt plan lint` no longer accepts multiple configurations"
This was broken by commit 918833a33fbe

Steps to reproduce from inside the tmt git root:
[code]

Result:
[code]

[2021-04-15 21:55] pvalena commented on #709
Great! Needs a bit work on the description though :).

[2021-04-16 15:52] psss commented on #709
Yeah, there is still some space for improvement for the summary as well:

The "concise" part is well covered already, the descriptive aspect could be improved a bit ;-)

[2021-04-16 17:15] milosmalik commented on #665
https://src.fedoraproject.org/tests/selinux/blob/main/f/checkpolicy/sedispol
https://src.fedoraproject.org/tests/selinux/blob/main/f/checkpolicy/sedismod

There is a `chmod` command in both `Makefiles` which makes the `sedispol.exp` or `sedismod.exp` files executable.
When I used the `tmt test import` command, the TCs were converted but failed because the `*.exp` scripts were not executable.

[2021-04-19 07:37] Athwale commented on #281
This seems to be breaking CI whenever a test reboots a machine. Blocking the competition and requiring manual kill of the machine.

[2021-04-19 15:50] psss commented on #682
Having the latest packages installed definitely makes sense. Although when testing using `provision --how local` one would probably want to skip this by default. Regarding the config I see two options:

 * Add an `--update/no-update` option to the `prepare` step `install` plugin
 * Support a dedicated `prepare` section which would be inserted by default

The first one is very easy to implement, th

[2021-04-19 15:53] pvalena commented on #682
With the latter one, do you mean something like(?):
[code]

[2021-04-19 15:57] #614 closed

[2021-04-19 16:05] psss commented on #682
The separate config could/would look something like this:

[code]

The default low `order` would mean it would be executed as one of the first prepare plugins.

[2021-04-19 16:15] psss commented on #694
Nice, so it seems we have an agreement on the general approach to this. @fernflower, @ZhukovGreen, are you interested to dive a little bit more deeper and work on the implementation of this new feature?

[2021-04-19 17:34] #705 closed

[2021-04-20 07:04] #710 closed

[2021-04-20 08:03] fernflower commented on #694
@psss Sure thing, I'd love to work on the implementation.
There is also another feature from tmt that our upgrade testing verification will need, the "plan of plans" (To verify the build we actually run series of upgrade tests, say, a set of specific 21 tests with every test being run on a separate guest). I would also like to discuss and help with the implementation of that feature.

[2021-04-20 09:08] pvalena commented on #588
One idea to consider for this: https://github.com/psss/tmt/pull/701#issuecomment-817864920

[2021-04-20 09:11] thrix commented on #601
I will look at this

[2021-04-20 09:14] thrix opened #716 "Add pre-commit with autopep8"
Let's start using pre-commit in the project. Document it ...

[2021-04-20 10:24] pvalena commented on #682
For the `dnf update` (or alike) implementation itself, I'd be fine with `--skip-broken`. I'm not sure about `--nobest`, which actually completely exclude versions with broken dependencies instead, which may have some undesired behaviour - like installing an lower package version(s), which has some runtime issues/bugs (therefore it is not used in Fedora or in Fedora Koji) and sticking with the test

[2021-04-20 10:31] pvalena commented on #267
Some idea to consider, while implementing this: https://github.com/psss/tmt/pull/701#issuecomment-817864920

[2021-04-20 10:38] jkonecny12 commented on #588
Could you please explain how it should help here?

If I understand it correctly you would be able to do a provisioning before discover step by grouping plans? Am I correct?

[2021-04-20 11:15] psss commented on #197
That sounds great, @wizardofoz123! I've checked on today's hacking session and nobody else has started to work on this. Let me/us know if you are missing any information about `tmt` implementation. There's also a tmt code introduction recording, I will share the link with you.

[2021-04-20 11:50] lukaszachy commented on #197
Very good news @wizardofoz123. Do you have an idea how to workaround the need of task's <fetch> or <rpm> attributes in the job.xml? I was thinking about using shell wrapper (we have one internally so it should be easy to make it public).

[2021-04-20 12:17] stepnem opened #718 "`tmt test lint` does not accept all valid attributes"
Problem introduced by commit 5d8c146586ac.

Steps to reproduce (from inside the tmt git repository):

[code]
Output:
[code]

[2021-04-20 12:18] pvalena commented on #588
Well, it doesn't solve the `tar creation` part, but that can be solved in a better way(#585).

If running `provision+prepare` step would be the only thing you need, you could run it manually like: `tmt run provision prepare ...` and then `tmt run discover prepare -f execute`. Theoretically there's nothing stopping you (I don't think the step order can be changed, but I may be mistaken). If you thi

[2021-04-20 12:23] pvalena commented on #588
One more thing to note is that the `workdir` is synced (currently still, AFAIK) back from guest, so you actually get everything to create back on host, which is what you need.

_ _ _ _

Ugly hack (bellow the line) would be to manually create / modify the generated `tests.yaml` (or using nested tmt!), which would be then synced back to host and executed.

The second (a bit less ugly) hack would be

[2021-04-20 13:31] jkonecny12 commented on #588
Thanks for pointing out the https://github.com/psss/tmt/issues/694#issuecomment-818563024 but the ideal solution from @thrix doesn't solve our issue with tar ball preparation. You have to have these before `discover` step is taken. However, it's great for the problem they are trying to solve there.

[2021-04-20 13:33] jkonecny12 commented on #588
The second hack could be used but I believe that this is issue significant enough to have it supported by TMT.

[2021-04-20 13:34] adka1408 commented on #707
I'll take a look at that.

[2021-04-20 14:06] lukaszachy commented on #585
I need *pkg source too. However I wouldn't bind it to how:fmf and keep it a separate thing. Reason - test might not be in fmf but e.g shell, or later pytest (or any future how:plugin).

[2021-04-20 14:32] kkaarreell commented on #420
I was thinking, if the following two changes would be incorporated:
 - rlImport does work with an PATH-like environment variable specifying (prioritized) directories which should be used for library lookup
 - during the discovery (?) step, fmf would track which libraries where imported where (conflicting library would be downloaded to a different location) so for each test (or library) a complete

[2021-04-20 15:45] sopos commented on #420
This could work for libraries being in he path is exaclt expected sub-paths (component/{,Library/}lib_name). An ability to search using upwards traversal is not applied to `BEAKERLIB_LIBRARY_PATH`. That could be changed, though.

This could be done e.g. by symlinked structure for each test. Basically each test would have it's own workdir with all the relevant dependencies. This way it would not be

[2021-04-21 06:53] psss commented on #718
Thanks for filing the issue. The `coverage` key is not included in the L1 metadata [specification](https://tmt.readthedocs.io/en/latest/spec/tests.html). Why do you think it should be supported? Perhaps you are using it for use cases now covered by the new [link](https://tmt.readthedocs.io/en/latest/spec/core.html#link) key?

Regarding the `adjust` key: There has been a change in the `fmf` impleme

[2021-04-21 07:08] psss commented on #624
If `debuginfo-install` is the way which would work for both old and new releases, the implemetation should not be difficult, I guess. Shall we consider this for `1.5`?

[2021-04-21 07:27] stepnem commented on #718
Thank you for the response.

I don't use the `coverage` attribute myself; I originally noticed the problem with `adjust` (in tests produced by `tmt import` (importing Nitrate relevance)) and only used tmt's own tests to illustrate the problem in a simply reproducible way.

I can't comment on the implementation, but find it surprising that tmt's own tests don't pass lint. Is the `coverage` usage th

[2021-04-21 07:36] psss commented on #718
Good point! :) We should ensure that all `tmt` tests are nice & clean. The `coverage` attribute was an experimental example (before `link` key was introduced) and thus should be removed.

[2021-04-21 08:04] lukaszachy commented on #718
Cool. tmt lInt is finally becoming useful. Just specification isn't up-to-date

Isn't this candidate for `lint --fix`? Similar to relevancy -> adjust conversion.

Let's make it core (L0) attribute.

[2021-04-21 11:07] jscotka opened #720 "Bad transformed fmf id for pagure"
it seems that there is some transformation of git sources for cloning and it does not work well.

it converted: `ssh://git.src...:32101/tests//cockpit` -> `https://git.src....:32101/tests//cockpit`

and this is not valid url for pagure instance

 when used git to distgit directly, it works as charm.

[2021-04-21 11:37] lukaszachy commented on #718
@psss I'm not so sure about 'adjust'. If I add it to Test._keys it spoils show() a bit
[code]
I'd prefer to fix lint part now and decide how to proceed with #636 in the future.

[2021-04-21 11:47] psss commented on #718
Yeah, that makes perfect sense to me.

No, the `coverage` attribute was really just a future dream example. Let's remove it.

[2021-04-21 11:50] psss commented on #636
This part is no more true once the fresh `fmf-0.16` packages hit the stable fedora repositories. The `adjust` attribute is now kept for possible future use.

[2021-04-21 12:01] psss commented on #720
So we do the best effort how to map git links which use authentication to those which are public here:

https://github.com/psss/tmt/blob/22082b8251b7daba533398d0bb35ed9a6644e825/tmt/utils.py#L959

It works fine with dist git links and external pagure fine. But the internal pagure seems to be tricky...

[2021-04-21 12:59] jscotka commented on #720
proper one is: https://src....:443/tests/cockpit.git

[2021-04-21 13:06] jscotka commented on #720
with @psss  we've discussed, that at least there could be some error in this case when matched git url:
like:
[code]

[2021-04-21 13:25] jscotka commented on #373
I also miss `--condition` option also in Metadata(plans) as well :-) not from perspective that I've created that idea for FMF but that filter is very limited, and I have troubles to write some items like: `"some" in tag and not "another" in tag` or `re.search("some.*test", description)`

Jinja is propbably better than nothing, but not sure if I'll be able to do some advanced usecases, e.g. go deep

[2021-04-21 14:12] jscotka commented on #373
theoretically I can imagine some restrictions like described here:
https://realpython.com/python-eval-function/#minimizing-the-security-issues-of-eval
 and pass just allowed locals(), globals()  via these suggestions.

or e.g. I can imagine also something like call this eval inside something like `unshare -n -p -m` not sure if there is some equivalent inside python without privileged users, like b

[2021-04-21 19:24] ZhukovGreen commented on #694
I am sorry guys, but I need to finish first the integration of the libvirt and docker plugins and ensure our convert2rhel tests will be compatible with TFT.

[2021-04-22 05:17] martinpitt commented on #682
This just became a whole lot more urgent. Tests now [fail in the early testbed setup phase](http://artifacts.dev.testing-farm.io/39b15cb2-2bd6-42d0-ae29-391c79d067e6/) while installing the `require:` packages from the test plan. As this pulls in such an old podman...
[code]

... the rpm installation fails:
[code]

This can be reproduced easily in a container (not without irony):

    podman run -i

[2021-04-22 05:57] martinpitt commented on #682
Nevermind,  I re-read the whole discussion here, and pointing out `prepare:` was an excellent hint! I have a [fix](https://github.com/cockpit-project/cockpit-podman/pull/711/commits/81f7a92943b6ed) now which circumvents the dnf issue in a more robust way.

[2021-04-22 06:05] martinpitt commented on #682
Bah, except that this extra `prepare:` step [breaks on the testing-farm](http://artifacts.dev.testing-farm.io/6304cf96-ba4c-43e0-9b49-24712d6845bc/pipeline.log)

[2021-04-22 08:54] pvalena commented on #588
In that case we probably want `systemd-nspawn` (mock uses it f.e.), but that would mean installing (mounting?) all dendencies to the "container".

[2021-04-22 10:14] jscotka opened #725 "nspawn as provision method"
as we've discussed on IRC, `systemd-nspawn` could be very nice  solution for testing,
it is something between virtualization and containerization with docker/podman.
Implementation could be easy and could be beneficial, because it could provide still new sources because it can use system or remore repos.

Steps are
[code]
then via `machinectl shell machine_name command` run the commands on target

[2021-04-22 10:19] lukaszachy opened #726 "Support multihost tests"
There is no way how to run tests in as multihost nor mark them as such.
This ticket is for gathering requirements, discussing solutions and finally reaching the consensus about the tmt way for multihost.

[2021-04-22 10:21] lukaszachy commented on #726
One of known solutions: https://beaker-project.org/docs/user-guide/multihost.html

[2021-04-22 10:36] thrix commented on #726
I would love if we could support multihost tests in also another fashion. This builds on top of the idea in https://github.com/psss/tmt/issues/694#issuecomment-818573476

[code]

[2021-04-22 10:45] jscotka commented on #726
My proposed solution is just to extend `provision` in plan like:
[code]

and then it will provision two machines, with behaviour as current in sense no provisioner added use VM, with latest fedora.
and from command line syntax like: `tmt run -a provision -h minute -i rhel-8 provision -h connect -g 192.168.1.2`
in case e.g. simple `tmt run` it will provision two VMs with latest fedora

Magic around

[2021-04-22 10:58] thrix commented on #725
+1 this would be awesome to have

[2021-04-22 13:09] adka1408 opened #727 "tmt init not explained enough"
In the documentation is missing a proper explanation for `tmt init` - why it's needed in context with `tmt tests create`.

[2021-04-22 15:59] fernflower opened #729 "tmt should respect user specified ansible_python_interpreter"
Without tmt by ansible the playbook (sorry for downstream repo link https://gitlab.cee.redhat.com/ivasilev/rhel-upgradability-test/-/blob/tmte2e/tests/roles/upgrade/tasks/upgrade.yml#L40) successfully finishes, while tmt fails on the first task that has a user-specified ansible_python_interpreter (my bet is because it doesn't respect the setting and uses the auto one).

[code]

The tmt plan itself

[2021-04-22 16:28] psss commented on #729
@thrix, do you remember why we explicitly use the autodetection?

https://github.com/psss/tmt/blob/1407392d705fdbdfdf582bb9bea4fc4932604d08/tmt/steps/provision/__init__.py#L358

Is it necessary?

[2021-04-22 19:15] thrix commented on #729
@psss my memories are fuzzy here, but the problem with `ansible_python_interpreter` is long term, and I hope it is just resolved with latest Ansible versions: https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html

I believe we thought using `=auto`, actually now the new default, will be just the safest thing to do back in that time.

I hope we can just remove it n

[2021-04-23 07:34] kkaarreell opened #731 "tmt tests lint should identify and possibly fix references to upstreamed beaker libraries"
When importing a test using library `distribution/nvr` the `main.fmr` file is updated with
[code]
This library has been upstreamed already at https://github.com/beakerlib/nvr. It would be nice if `tmt tests lint` would:
 - warn that the library is already upstreamed and suggest using it instead (`library(nvr/nvr)`)
 - `--fix` could do the change above in `main.fmf` and say also that rlImport shoul

[2021-04-23 07:50] lukaszachy commented on #731
IMHO all we need (for github/beakerlib location) is a way how to note the original name(s) and conversion rule.
I'd vote for tmt lint to autoupdate as having it only in rpm will be slow and manual updates just be just an optional step.

[2021-04-23 07:53] lukaszachy commented on #731
Added label for import as well - While the fix itself should be done by _lint_ (as list of libraries will increase over time) _import_ should make sure to run the lint after the import (at least).

[2021-04-23 08:44] lukaszachy opened #732 "Could not set up host forwarding rule 'tcp::10024-:22' (when using provision twice without finish)"
I have two plans
[code]

But when I do `$ tmt run provision -ddd -vvv  -h virtual -i file://rhel-8.5.qcow2` the second machine fails.
Is there a race between ports?

(Yes, I forgot I have two plans:) and all I wanted is to get VM from tmt.)
[code]

[2021-04-23 10:25] sopos opened #734 "Missing recommend causes an error for rhel7 guest"
if a package listed in `recommend` is missing, tmt ends up with an error in _prepare_ step if the guest system is rhel7
rhel8 is ok

[2021-04-23 10:36] jkonecny12 commented on #588
Couldn't you use `podman run -v my_dir:/my_dir:O` ? In other words to use overlay mount in the `podman`?

[2021-04-23 11:05] lukaszachy commented on #734
rhel7: rpm -q --whatprovides "FOOOO" || yum --skip-broken install -y "FOOOO" && rpm -q --whatprovides "FOOOO"
rhel8: rpm -q --whatprovides "FOOOO" || dnf --skip-broken install -y "FOOOO"

IMHO  this was introduced with 218307b8b7ebec5fcfa2666e31a7816d4e869d6c

Do we test prepare against yum guests? (or prepare at all?)

[2021-04-23 11:09] sopos commented on #734
I was running https://github.com/RedHat-SP-Security/tests/blob/sopos-rsyslog-RELP-system-role/rsyslog/Multihost/relp/direct-config.fmf on rhel-7.9

[2021-04-23 11:17] lukaszachy commented on #734
[Specification](https://tmt.readthedocs.io/en/stable/spec/tests.html#recommend) says for `recommend` attribute:

So even silly example as this should pass (and indeed it passes for dnf case)
[code]

[2021-04-23 11:19] sopos commented on #734
I guess the line https://github.com/psss/tmt/blob/218307b8b7ebec5fcfa2666e31a7816d4e869d6c/tmt/steps/prepare/install.py#L219 should not start with `&&` but with `||`

[2021-04-23 11:34] lukaszachy commented on #734
IMHO tmt shouldn't check anything for `recommend` or have final `|| true` for check to always succeed (so it is just an info about what was (not)installed)

[2021-04-23 11:38] sopos commented on #734
Right, my previous proposal should apply to _require_.
I'm not sure what the referenced line handle, after all. :-(

[2021-04-23 11:43] sopos commented on #734
But the previous issue wan maybe about yum returning 0 even if some packages failed. Thus `;` might be better for _require_ and `; true` for _recommend_.

[2021-04-23 12:40] befeleme opened #736 "List all tests in a given plan (UX idea)"
Hey,
I'm a new user of tmt and try to get a grasp of the tool using documentation and example projects.

When browsing the documentation I can find out how to list all tests and I know how to list all plans.
I would like to list all tests belonging to plan *xyz*.

For that I'd imagine running command like `tmt plans xyz list-tests` or `tmt plans xyz show` with increased verbosity (which would seem

[2021-04-23 13:24] befeleme opened #737 "Filter tests & run with non-default provision option could be better documented"
When you want to run all tests in [container](https://tmt.readthedocs.io/en/latest/examples.html#provision-options), you run
[code]

When you want to run only [selected plan](https://tmt.readthedocs.io/en/latest/examples.html#select-plans) named *smoke*, you run:
[code]
which runs the tests in virtual machine.

I found no example in the documentation how to combine the two to achieve running filte

[2021-04-23 13:37] befeleme opened #738 "Documentation: ambiguous paragraph in Specification / Tests / test"
Both the wording and examples in [Specification / Tests / test](https://tmt.readthedocs.io/en/latest/spec/tests.html#test) create an impression that it is possible to run more tests with `test` key in one test file. But an attempt to do so results in *duplicate keys* error.
The possible way to execute more tests (or eg. parametrized test script) in a single file would be to nest the levels like th

[2021-04-23 15:43] befeleme opened #739 "New user's feedback"
Hey,
as I new user who wants to use tmt for testing the Fedora Python packages (primarily using Fedora CI), I came across various issues I'd like to summarize here. Also, my questions were already answered by the people knowing tmt better (thank you for the support!) and after a few days I feel I got a basic grasp of what and how to do. And I believe the new user experience could be improved.

1.

[2021-04-26 10:02] lukaszachy commented on #739
Thank you very much for your feedback @befeleme.

Just in the case someone finds this issue before tmt documentation is updated: `+` is feature of fmf and as such is documented at https://fmf.readthedocs.io/en/stable/features.html#merging

[2021-04-26 11:48] jscotka commented on #739
@lukaszachy as you suggested, but not sure if described well e.g. in case:
 - in tests there is not defined `+` or just doe some of them -> probably not defined in doc, that if in this case `item` and `item+` behaves same or `item+` will be ignored if not defined `item` in parents
 - how it behaves inside TMT, in sense if there is special handling, e.g. `adjust: prepare:` if I do not define `prepa

[2021-04-26 12:04] psss commented on #739
@befeleme, thanks a lot for summarizing the documentation gaps from a new user point of view. This is highly appreciated.

Yes, completely agreed. I believe that's mainly because we've just started with writing the guide (single chapter only as for now). The plan is to have the nice walkthrough for new users covered by the guide and use the specification section for technical details which will be

[2021-04-26 12:18] #238 closed

[2021-04-26 13:36] jackorp opened #740 "Adding framework (plugin?) support"
I'd like to work on an RSpec plugin someday but I don't know how to go about it and there seems to be no documentation present on the topic of writing a plugin. Do I need to open a PR to this repo or can it be a pip library?

Regarding documentation I am missing answers mainly to these questions:
How to implement a plugin of this sort anyway?
What needs to be done?
How to register it with `tmt`?
C

[2021-04-26 13:42] psss commented on #734
I don't think we need the extra `true` for recommend. The general idea behind `missing: skip` is basically to enable `--skip-broken`. I think it still might make sense to report issues when there is for example a network outage or broken repository. Should be fixed by #741 which also extends the test a bit.

[2021-04-26 13:58] psss commented on #740
Thanks for the issue, @jackorp. Yeah, the documentation has still a few white spaces... Let's use this issue to track creating a new section for writing plugins.

But to quickly answer your questions: If your new plugin would be useful to more users it would make sense to contribute a new pull request here. The `rspec` plugin could then be distributed as a new subpackage if necessary.

Is that sup

[2021-04-26 14:44] jackorp commented on #740
I am not sure. `discover` seems correct, however, @pvalena has told me there exists [framework](https://tmt.readthedocs.io/en/latest/spec/tests.html?highlight=framework#framework). Maybe both should be implemented? IIRC `shell` is an option for both the `framework` and the `discover` tags.

Hmm, yes that would be nice if documented.

What step folder do you mean? Do you mean `tmt`'s project folder

[2021-04-26 15:18] FrNecas commented on #740
Depends on how the plugin is intended to work. `shell` inside `framework` and `shell` inside `discover` are not very related (other than the fact that they both use shell ;) ). The discover steps finds tests to be executed, in this case using a shell script. The `framework` attribute is used during the `execute` step to select the "method" of execution (it basically defines how the test is intende

[2021-04-26 15:52] thrix commented on #740
This seems like a nice topic to discuss on tmrw's hacking meeting. I believe we should discuss the general guidance here, how much integration with tmt makes sense for different test frameworks. Use case or rspec in this case can be similar to pytest, and other test frameworks for other languages ....

[2021-04-26 16:25] psss commented on #732
Simple plan to reproduce:

[code]

And command:

[code]

Works fine when two commands use to provision the guests:

[code]

@frantisekz, any idea what might be wrong here?

[2021-04-27 08:35] thrix commented on #726
@jscotka yeah, this is closer to what restraint does now, I believe we can support it also, maybe even does not collide with my proposal. If you do not provide `on:` it will run it on both ...

[2021-04-27 09:18] jackorp commented on #740
Yes that sounds like I want to make use of that. Basically, what you said, I want to run RSpec inside tmt and have the results reported using tmt's methods of reporting.

I also think that it should support choosing tests to be run. With RSpec, you can define the test file's path and the lines of tests to be run, e.g. `rspec path/to/test_spec.rb:44` -- that would run test that is on line 44 from f

[2021-04-27 10:21] #436 closed

[2021-04-27 10:39] lukaszachy commented on #585
In addition to `how:fmf` I'd like to have possibility to use also other `how` plugins (currently just shell)
[code]

[2021-04-27 10:47] martinpitt commented on #585
@lukaszachy Sure! That's pretty much what I [asked above](https://github.com/psss/tmt/issues/585#issuecomment-819285756) as well.

[2021-04-27 13:21] pvalena commented on #739
FTR. there's a talk from DevConf.CZ (not sure if that was meant with the slides): https://www.youtube.com/watch?v=HVo4iS1XOuo&list=PLU1vS0speL2YQ9WXMnY-glVErAIsTsSAl&index=30&ab_channel=DevConf

Maybe it can help with the metadata+examples.

[2021-04-27 13:27] #734 closed

[2021-04-27 16:05] lukaszachy commented on #737
Hm, I hit this several times too however `-a` is an option of `run` not the subcommands as `plans`. I'm not sure if it is a good idea to allow "global" options to be specified within subcommand options.
What we can easily fix is to use `--all` instead of `-a`. Same option but better readability.

[2021-04-28 06:50] befeleme commented on #739
@psss, this sounds great, I have no remarks to the proposed contents.
@pvalena, thank you for the link. I'll take a look.

[2021-04-28 07:06] jscotka commented on #740
In https://github.com/psss/fmf/pull/136

I've tried to do some another way how to solve similar issue for pytest. it is based on changes of FMF what allows custom plugins for discovering data in the files. (then it could be supported inside TMT) so theoretically you can use some already existing plugins inside FMF or create custom one directly in your project.

I can imagine something like:
[code]

[2021-04-28 17:43] #718 closed

[2021-04-29 06:57] psss commented on #682
In general I'd say that we would save us a lot of possible issues (like [the super weird one](https://github.com/psss/tmt/pull/744#issuecomment-828643710) a ran into yesterday) by running tests on an updated system. Especially in the CI. So I would suggest this:

 * The testing farm always updates the guest before installing the rpms under test
 * In `tmt` we provide a simple way to get an updated

[2021-04-29 08:05] #729 closed

[2021-04-29 13:25] psss commented on #514
@frantisekz, is this something which should be implemented in `tmt` or would it be better to handle this in `testcloud` instead?

Plus a related question: Today we've discussed with @lukaszachy that it would be nice to be able to `provision` virtual machines from vagrant boxes as well. The implementation should be relatively easy, just unpacking the qcow2 image, so basically this:

    tar xfz vag

[2021-04-29 13:48] lukaszachy commented on #514
I'd say that first step, getting the url to image/box should be handled by `tmt`.

Ideally with some plugin / search system so user can easily plug their own location/priority. E.g. there is a lot of official vagrant boxes from https://app.vagrantup.com/boxes/search but you might (not) want to use that.

Second step - extracting qcow2 from box should be done by `testcloud`

[2021-04-29 14:44] sopos opened #749 "cannot force-discover from another directory withing existing run"
1. have two git repos for two different components
2. go to one of the repos and run `tmt run discover -f`
3. go to the other repo and run `tmt run --last discover -f`

The second _discover_ does not actually discover any new tests in the second repo.

My real user case:
1. reserve a machine
2. connect to it and prepare general things `tmt run provision --how connect --guest guest.example.com prep

[2021-04-29 15:06] sopos opened #752 "RFE use path instead of regexp for tests selection/discovery"
The help message says it is simply a REGEXP.

The actual behavior is:
`--name /` - matches everything
`--name .` - matches everything under the current path

But actually `.` matches everything starting with the current path otherwise `.` would basically have to match anything.

It would be more understandable not to use regexp by default but a real path reference where all the nodes underneath wo

[2021-04-30 07:32] #601 closed

[2021-04-30 07:45] lukaszachy opened #753 "Short run-id (less than 3 chars) -> libguestfs: error: cannot create raw file"
Reproducer `tmt -ddd -vvv run --id Y provision`, using default plan.
No problem for longer id (at least 3 chars).

Caused by me in 88138d1b23dff41473dfa5761971464c2f401d3c at  (`self.parent.plan.my_run.workdir[-3:]`) so '/' gets into the name

[code]

[2021-04-30 08:26] stepnem opened #755 "`tmt run` tries to run manual test cases (and fails)"
Demonstration:

[code]

Output (redacted):
[code]

Shouldn't tmt somehow recognize the `manual` attribute and handle such tests differently
(or at least skip them)?
If not, I don't understand the purpose of the attribute (as [documented](https://tmt.readthedocs.io/en/devel/spec/tests.html#manual)).

[2021-04-30 08:59] #753 closed

[2021-04-30 13:15] thrix opened #758 "Add more useful pre-commit checks to the project"
See https://gitlab.com/testing-farm/artemis/-/blob/master/server/.pre-commit-config.yaml for inspiration

[2021-04-30 13:36] FrNecas commented on #758
Definitely + 1 on isort, it is easy to forget/incorrectly order the imports.

[2021-04-30 13:46] thrix commented on #758
thanks, right isort!

[2021-04-30 13:53] psss commented on #755
Yes, manual tests should be skipped. Should be very easy to fix.

[2021-05-03 10:16] psss commented on #514
Makes sense to me, @frantisekz, what do you think?

[2021-05-03 19:17] juk opened #759 "Flexible rhts test Makefile->Type to tag conversion"
The idea is to let user to convert "Type" field from the rhts test Makefile into tags section of main.fmf
This would require some filtering like:
* consider ","  "/"  "\s" as dividers
* types like: kerneltier1, KernelTier1, kernelTier1 should be converted into KernelTier1
* accept "."  "_"  and "-" in the type name, for ex Multihost.1.3 or gre_offload

This feature would eliminate a lot of extra w

[2021-05-04 08:15] psss opened #760 "Add a plugin example to the documentation"
In order to help contributors with writing new plugins it would be nice to document a simple/minimal example of a step plugin. Here's an [example for inspiration](https://rebase-helper.readthedocs.io/en/latest/user_guide/writing_plugins.html#example).

[2021-05-04 08:28] psss opened #761 "Support dynamic plugins support for the test framework"
Currently the implementation for the two supported frameworks `shell` and `beakerlib` is hard-coded in the `tmt.steps.execute` module, mainly by the `check_shell()` and `check_beakerlib()` methods. It would be nice to clean up the implementation and move the framework code into a separate modules which would be dynamically loaded as plugins. This would allow better extensibility in the future.

[2021-05-04 09:20] frantisekz commented on #514
I am planning to add support for centos:8 and centos:7 as a parameter to testcloud. However,the urls probably would be hardcoded as I didn't find a way to fetch them programmatically.

Yes, it seems like a good plan. If tmt learns to pass a url to a vagrant box, testcloud will handle the extraction and vm preparations (if there are no terrible bumps on the road waiting). I'll take a look in a bit.

[2021-05-04 09:53] psss commented on #514
Nice to hear this! Btw, would it be possible to support `centos` and `fedora` shortcuts as well for the latest released? Currently we handle the latest fedora image in [this way](https://github.com/psss/tmt/blob/master/tmt/steps/provision/testcloud.py#L294).

That's great! Thank you.

[2021-05-04 10:36] sopos opened #762 "tmt run prepare -ddd does not work correctly"
`tmt run prepare -ddd` does not actually show the `dnf`/`yum`output while `tmt run -ddd prepare` does.
I expect from `tmt run prepare -ddd` to show debug messages just for that specific step. Specifically, I would like to see the installation progress otherwise I'm not sure what's happening - if it is doing something or if it got stuck.

Real example:
[code]

[2021-05-05 09:37] RHEmployee commented on #760
Hello. If still free I would like to work on it however after some study I would like to ask:
what is plugin? :)
I see that there is discovery step which contains for example shell.
I have experience only with minute.py plugin(?) which is part of provision step.
So what this example plugin should contain? Only provision part? Or should I create example for each step which doesn't look that easy fo

[2021-05-05 09:58] FrNecas commented on #760
Plugin in this context is an "alternative implementation" of a step. So minute is indeed a plugin of the provision step. IMHO there is no point in creating an example for each of the steps, what I personally would like to see:
 - a quick introduction to the whole concept of steps/plugins, maybe some description of the architecture, inheritance, etc. (that is already partly covered by the docs but

[2021-05-05 09:59] psss commented on #760
Each step provides (or can provide) several ways of implementation. For example for the `provision` step there is `container` method implemented by the `podman` plugin. The plugin is basically the class inheriting from the `Plugin` class, or more precisely from respective step plugin class, for example from the `ProvisionPlugin` class.

I don't think we need to document plugins for all steps. I gu

[2021-05-05 12:34] psss commented on #308
Recently @fernflower shared with us a related use case for splitting plans per test:

 * Each test executed separately on a dedicated (clean) guest
 * Test results aggregated from all executed plans

I propose to start with covering this use case as the first step for automated plan generation. The config could look like this:

[code]

Any better name for the option? The `slice` is coming from `wo

[2021-05-05 13:25] sopos commented on #308
It is still questionable where (in which step) the test set manipulation should be done. I will propagate my earlier idea of adding a new step which would be dedicated to various manipulations.
So in the _discover_ step, there woudl be tests gathered as usual and them there would be a modular step which would cut it based on various rules, e.g. simply slice, or group by common HW required, ...

[2021-05-06 06:37] jscotka commented on #761
Would be nice, to have it as separate check plugins for frameworks.
As we've discussed on meeting. Not sure if also some other framework has special handling as beakerlib needs.

I think that most of frameworks indicates via return code state of run + possible to output all necessary info to stdout.
e.g.
 - `pytest -v -s test`
 - `avocado --show test run /bin/true`

So from my perspective beakerli

[2021-05-06 07:28] lukaszachy opened #764 "Option to ignore existing plans and for the default one"
UC: I'm in a repo with a lot of plans (eg. tmt itself) and I'm developing (new) test.  I want to run this test using command line options in the same way as if there was no plan in the repo.

It would by much easier to e.g. `tmt run --default ` instead of messing up with the plan structure.

Current possibilities are
1. Delete all plan definitions (easiest to do but potential problem in future git

[2021-05-06 09:32] sopos opened #765 "introduce new L1 test property 'hardware'"
There should be a way to specify test's (L1) requirements for the HW, similarly to [1].

I propose test's attribute `hardware` with basically the same properties as described in [1].

In particular:
[code]

1. https://tmt.readthedocs.io/en/stable/spec/plans.html#hardware

[2021-05-06 09:45] sopos commented on #765
There's also a need for HW virtualization. This could be handled by a separate _platform_ attribute or o _cpu_ property.
Currently I can think of two way to express this.
[code]
[code]

[2021-05-06 09:56] psss commented on #764
Yes, this definitely makes sense and should be easy to implement. Regarding current options, executing a single test should work:

    tmt run test -n smoke

Any plan which does not have the requested test is skipped:

[code]

But yes, the output can be unnecessarily long. So the following is probably a better option:

    tmt run plan -n core test -n smoke

Should the new option go directly under

[2021-05-06 10:04] psss commented on #765
So the `hardware` requirements would be gathered from individual tests and then subplans created for each hardware-compatible group as proposed in #308? It would make sense to me to keep the L1 and L2 specification for hardware requirements identical. @thrix, @happz, any thoughts or recommendations about this?

[2021-05-06 10:12] psss commented on #765
Both outlined options for hardware virtualization requirement seem good to me. @sopos, which other `capabilities` could be possibly provided in the section in the future? Are there any tangible examples?

[2021-05-06 10:27] sopos commented on #765
I do not have anything else to provide as an example. It just came to my mind when I was thinking of the best place for such information. As specifically virtualization is basically a property of CPU but it may be considered as a property of a machine as well.

[2021-05-06 10:42] sopos commented on #765
Actually, what about presence of a TPM chip, it may be considered as a capability as well. And we have tests which need the TPM.

[2021-05-06 11:19] thrix commented on #765
+1 on making it identical, of course I believe we should first land the plan support, following with the test support later on, as that will require a lot more changes? Are this `subplans` already something working?

[2021-05-06 11:48] happz commented on #765
+1 for keeping L1 and L2 specifications virtually the same.

As the relationship between L1 and L2 goes, I'd expect - naively... - some sort of inheritance, e.g. when executing a plan, `tmt` should probably collect L1 requirements, spawning either one plan to satisfy all or several plans for each L1 set incompatible with other requirements. I would like to avoid copy-pasting L1 requirements to L2,

[2021-05-06 12:06] psss commented on #765
No, for now the idea is only outlined in #308. But we would like to implement soon the first step in this direction: Splitting a single plan into multiple plans each cotaining a single test, which is basically something like `wow --slice 1`.

[2021-05-06 13:17] sopos commented on #765
Good question. I kind of hoped that I made it self-explanatory. We may need to make it better. :-)

The intention is to specify a need of the _virtualization_ feature. E.g. I want to spin up some VMs as a part of a test.
If I request a machine with `cpu: {virtualization:true}` I'm basically asking for a machine where the CPU allows me to do so. With the `capability: [virtualization]` it may be mor

[2021-05-06 16:04] pvalena commented on #308
Actually, I think we have the manually enumerated variants solved via inheritance quite well, and I would rather avoid introducing another syntax.

To take the earlier example:
[code]
IOW I retract my earlier proposal for lists / split_plan.
_ _ _ _
 It doesn't cover `slicing` (generating multiple plans from tests), but I think that's a separate issue, which requires autogenerating / special handl

[2021-05-07 07:58] happz commented on #765
I suppose this follow-up discussion deserves its own issue, but since we already started...

Just a few thoughts while looking at Beaker as an example, the "need bare-metal" request can be specified with Beaker XML in this way:

[code]

Seems like the provisioning plugins and the whole HW area should be aware of the "hypervisor" property of the environments they can provide, which makes sense, and

[2021-05-07 14:09] psss commented on #761
@ZhukovGreen, would you be possibly interested in looking into this?

[2021-05-10 09:48] happz opened #768 "Hardware requirements and units"
What units does TMT community want to support/use?

[code]

While more common, "GB" is technically not correct (AFAICT) when used for multiplies of 1024 (which I do pretty much always...). So, the question is, what units TMT is going to support, recommend, endorse, etc.?

While working on the implementation, units appear everywhere. I'm going to depend on https://pint.readthedocs.io/en/stable/ lib

[2021-05-12 09:32] frantisekz commented on #514
Vagrant support code is here: https://pagure.io/testcloud/pull-request/94 , however, there is a problem with missing cloud-init package in CentOS vagrant boxes (see the PR for more). I'll try to think if there is some elegant solution to install that package from testcloud and then expose the ssh connection.

Do you have any ideas how to solve this?

[2021-05-12 14:41] frantisekz commented on #514
I have code ready for latest Fedora, pending on https://pagure.io/fedora_nightlies/issue/10 . Just one question: it's possible to have fedora:latest point to either latest compose or latest successful compose that passed OpenQA testing, which one do you prefer?

User friendly overview is available here: https://openqa.fedoraproject.org/nightlies.html

[2021-05-13 11:32] stepnem opened #771 "tmt should detect default context from the environment"
Reproducer:
[code]

This runs the test, even on Fedora 33, where I would expect (after having read [the documentation](https://tmt.readthedocs.io/en/latest/spec/core.html?highlight=adjust#adjust) repeatedly) the test to be skipped, same as when `enabled: false` is specified as a top level attribute in the same `main.fmf`.

Otherwise I don't understand the purpose of `adjust` used in L1 metadata [1

[2021-05-13 13:40] psss commented on #771
The `adjust` rules are evaluated based on the provided `context`. The context can be provided in this way:

    tmt --context distro=fedora-33 run

The context is correctly defined in the CI pipelines so the proper set of tests should be executed there already now. In the future we want to also auto-detect the context from the environment so that one does not have to provide it on the command line

[2021-05-13 13:56] psss commented on #768
I would agree with @happz here: I believe it's always good to prevent confusion and make the naming clear and unambiguous. The unfortunate situation with the MB/GB collision does not give much choice really, but I'd say the standard (decimal) prefixes have been reserved first so... kdo dřív přijde, ten dřív mele ;-)

[2021-05-13 14:35] psss commented on #768
Perhaps one more note to clarify the expectations: I would recommend to support both decimal and binary prefixes, so that user can choose `1 MB` for `1 000 000 B` and `1 MiB` for `1048576 B`.

[2021-05-13 15:03] thrix commented on #768
Yeah, I would say that we want to be correct here technically. If somebody says 4GB, it will be x1000s .... and if the cloud expects 4GiB the library @happz is working on will make sure it is converted ... I hope the Pint package we are now using there will help in this conversion

[2021-05-13 20:29] happz commented on #768
Definitely, there's no reason to support one set of units and ignore the other. Internally, I plan to rely on [Pint](https://pint.readthedocs.io/en/stable/) entirely, to do the parsing and conversions, because... Well, why should I invent the wheel? :)

[code]

Can't be easier, and I'm pretty sure I wouldn't write anything that simple to use :) So, yeah, my plan definitely includes support for bot

[2021-05-14 10:04] stepnem commented on #771
Thank you for the explanation. I think the documentation (the section on `adjust` at least) ought to be more clear about this. #772 is an attempt to address that.

Depending on what you mean by "local", `s/local/any/` (the same issue applies to VM, connect or other provisioning methods).

Also, I haven't been able to find any issue or story for this. Shall we just use this issue, perhaps adjusting

[2021-05-14 12:46] psss commented on #771
Thanks for improving the docs.

I meant when developing tests from your laptop (using any supported provision method) so that it's as user friendly as possible.

Yeah, it seems the auto-detection is not tracked yet. Feel free to open a new issue or re-use this one, whatever you prefer more.

[2021-05-14 15:54] stepnem commented on #771
I've edited the summary, thank you.

[2021-05-17 08:47] psss commented on #768
Looks nice! Thanks a lot for working on this. Maybe just one thing: I've noticed the `python3-pint` package is not available in the `epel-8` repository. We should make sure we have all dependencies for `centos-8` and `rhel-8` as well.

[2021-05-17 09:17] psss commented on #771
So for the start I think we could try to detect `distro` and `arch`. The interesting part of this is that the `discover` step is executed before `provision` so for example tests and plans are filtered/adjusted before we know (for sure) what the exact distro will be.

[2021-05-17 09:23] #665 closed

[2021-05-17 09:58] thrix commented on #768
@psss will reach out to devel if we could add it to epel

[2021-05-17 10:07] thrix commented on #768
[code]

[2021-05-17 10:08] thrix commented on #768
trying to build in copr now ...

[2021-05-17 13:27] lukaszachy opened #775 "Reboot machine from cmdline"
Use case: tmt provisioned machine and it has to be rebooted (e.g. stopped responding). Makes sense only for external machines (VMs, openstack, Beaker...)

[2021-05-17 15:36] stepnem commented on #771
Indeed. Is reordering the steps a no-go? It would seem simpler (and perhaps even more correct?) than e.g. preserving the current order and bailing out later when realizing the provisioned system doesn't fit.

[2021-05-17 20:56] happz commented on #768
Aha, that's quite an important detail, I did not realize this could be a problem. In my world, everyone - me... - just happily installs to virtualenvs...

Thanks, that was quick.

[2021-05-18 08:54] sopos commented on #768
Many tools, e.g. `dd` or `fdisk`, use just _G_ or _M_ to express _GiB_ or _MiB_ respectively.
This is also close to people's thinking, like _machine with 4 gigs of RAM_, meaning `memory: 4G`.

[2021-05-18 09:02] psss commented on #624
The solution should cover all currently supported Fedoras, CentOS and RHEL7+.

[2021-05-18 09:28] pvalena commented on #771
This could also help with arbitrary code execution in `discover` (running discover on provisioned machine, optionaly).

@psss is there any case we don't know at the time of discover what machine / method (how) / VM image / HW will be provisioned? Can `discover` somehow modify `provision` step?

_ _ _ _

_Also, as another possibility, to speed things up, we could run the provisioning in parallel, w

[2021-05-18 10:47] adka1408 commented on #706
I will take a look at this.

[2021-05-18 13:23] lukaszachy commented on #771
Not as of now however multihost tests and hardware attribute might want to do that in the future.

On hacking session we briefly touched this and so far it looks tmt could have two ways of operation:
1. discover then provision (current way) where context detection is difficult / not worth implementing
2. provision then discover (new option) where context detection could be an opt-out option.

[2021-05-18 16:41] happz commented on #768
True, true. Despite one could be "liberal in what one accepts from others", I, for one, am not really fond of supporting `G` or `M` in this meaning. Yes, it is possible to infer the actual units, but I would rather stick to using those units from the beginning. Being explicit is a bigger benefit from my point of view.

[2021-05-18 16:46] FrNecas commented on #764
+1 on this idea, this is something I've sometimes struggle with too (e.g. I was writing a test for `tmt clean` and I had to check which plan to run in order to run the test easily). Even though `tmt run --default` is shorter, "default" run doesn't make much sense and hence it would IMHO make more sense to include it under the `plan` subcommand.

[2021-05-19 08:01] psss commented on #759
We've shortly discussed this on the hacking session yesterday. The problem is that not everybody needs/want to import the `Type`. The best solution (for the future) could be to allow users to enable features like this in their config (together with regexp matching rules and similar stuff).

For now the proposed solution is to introduce a new option, let's say `--type` which would explicitly enable

[2021-05-19 08:03] psss commented on #758
This has been covered by #773.

[2021-05-19 08:03] #758 closed

[2021-05-19 08:09] psss commented on #768
I would agree here with @happz, it's one of my favorite rules from `python -mthis`:

[2021-05-19 08:17] psss commented on #771
Running `provision` before `discover` also means that sometimes we would waste time with provisioning although there are no tests to be run. See the following example:

[code]

[2021-05-19 09:15] RHEmployee commented on #760
About documentation:
where it should land?
It looks like docs/examples.rst is right place.

About inheritance:
I just steal from minute plugin so I need to take a look at shell and fmf discovery steps.

[2021-05-19 15:13] leospol opened #778 "tmt run does not handle white space in the path"
Having source in a directory with white spaces causes rsync and "tmt run" to fail.

Reproducer:
$ mkdir foo\ bar
$ cd foo\ bar/
$ tmt init
Tree '/tmp/foo bar' initialized.
To populate it with example content, use --template with mini, base or full.
$ tmt run
/var/tmp/tmt/run-001

stderr (3/3 lines)
[code]

[2021-05-19 15:48] psss commented on #197
@wizardofoz123, what is your plan here? Do you expect to start working on this in the coming weeks? Are you blocked on something? Do you need any help? Is the 1.6 milestone (end of May) realistic? Or shall we move this to a later release?

[2021-05-20 08:45] #762 closed

[2021-05-20 12:30] FrNecas opened #781 "Rename the `Node` class to `Core`"
The name `Node` is rather confusing, `Core` would probably be better as it deals with L0 metadata and `Test`, `Plan`, `Story` inherit from it. Since this is backward-incompatible, we should leave this change for a major release, so setting 2.0 as a milestone

[2021-05-20 12:59] RHEmployee commented on #760
Hello.

Partial documentation is now in docs/plugins.rst.

@FrNecas About:
maybe some description of the architecture, inheritance, etc.

I personally don't like implementation details in documentation which can be clear from code.
Overall architecture would be great however I don't think I'm right person to do that for now.

Example plugin has been extend with comments from upper classes so now i

[2021-05-20 14:47] psss opened #783 "Simplify multiple debug/verbose options"
As suggested in https://github.com/pallets/click/issues/1891 let's use `count=True` instead of `multiple=True, is_flag=True` for the `--verbose` and `--debug` options. A corresponding adjustment of `Common.opt()` will be needed as well. Should be fairly easy.

[2021-05-21 16:14] lukaszachy opened #785 "Options are picked from wrong plugin if plugins share prefix"
To reproduce the problem you can use `provision -h name` from https://github.com/lukaszachy/tmt/tree/plugin_reproducer.

File a.py defines 'name' with option --foo
File b.py defines 'name.other' with option --bar

`TMT_PLUGINS=tmt/steps/provision tmt run provision --help` lists plugin
[code]
`TMT_PLUGINS=tmt/steps/provision tmt run provision -h name --help` shows
[code]

And as you can see it uses

[2021-05-24 09:37] wizardofoz123 commented on #197
Discussed through chat with psss. In the end, I'm not going to be the one driving this issue forward and I don't yet know who will.

[2021-05-24 12:58] RHEmployee commented on #783
@psss
Hi. Is this free to take? :)

[2021-05-24 13:28] RHEmployee commented on #775
@psss  Hi. I talked with @lukaszachy  and this seems to be free. Would you please assign it to me?
Or is here different approach how to assign tasks? :)

[2021-05-24 13:37] psss commented on #775
Ok, assigned to you. Could we start with describing the expected functionality in a bit more detail? How exactly should this work? Is this somehow related to #281 as well or a completely separate feature?

[2021-05-24 13:40] psss commented on #783
No assignee, no comment about looking into the issue --> it's yours :)

[2021-05-24 14:22] packit-as-a-service[bot] opened #787 "[packit] Deprecated options used in configuration"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-05-24 14:26] #785 closed

[2021-05-25 10:57] #778 closed

[2021-05-25 11:01] martinpitt opened #790 "TypeError crash when `ref:` is an int"
In an (internal, sorry) PR against RHEL, the Testing Farm result [crashed like this](http://artifacts.osci.redhat.com/testing-farm/61687298-1646-441a-83b5-9f16ace835da/):
[code]

It seems that tmt currently expects the plan's `ref:` to be a string, but when specifying a version tag name "244", YAML parses that as an integer. Can you please wrap this in `str(ref)` so that an integer works as well?

[2021-05-25 12:18] psss commented on #281
Just a short note to today's discussion: Instead of introducing two new methods of the `Guest` class I would suggest to add a single method `Guest.reboot()` which would have an optional parametr `Guest.reboot(hard=True)` for hard restart.

[2021-05-25 13:22] RHEmployee commented on #783
Hello.

There is first version of proposed changes. Looks like only --verbose and --debug are affected.
https://github.com/psss/tmt/pull/791

[2021-05-25 15:14] FrNecas commented on #781
This will be fixed in https://github.com/psss/tmt/pull/776 , keeping this open for 2.0 where we can discuss dropping the backwards-compatible alias.

[2021-05-25 17:33] #706 closed

[2021-05-25 18:12] #624 closed

[2021-05-27 07:01] #764 closed

[2021-05-31 10:31] psss commented on #759
@juk, ok, thanks for the feedback. Should be quite easy to implement. @lukaszachy, @FrNecas, @hegerj, @dkarpele, anybody willing to look into this? Any other comments or suggestions here?

[2021-05-31 11:59] RHEmployee commented on #775
Hello.

I think it's can be used in provision step in cases:
minutetip machines (open stack)
local virtual machines (libvirt?)

Beaker machines should be covered either but I'm not sure how this works (I need to look at some beaker api).

Basic functionality should looks like add 2 cli options to provision step. For example:
--reset - soft reboot - just tell OS about shutdown even (usually via ACP

[2021-05-31 14:44] #783 closed

[2021-05-31 15:04] psss commented on #775
As mentioned in #281 I would suggest a single method:

Yes, information about provisioned guests should be already available. It is stored in `guests.yaml` under the provision workdir so that subsequent runs can use it as well.

But I'd say the new reboot methods will be used for both rebooting guest from inside the test and the command line as well.

[2021-05-31 15:19] FrNecas commented on #775
Yes, that's the way I see it too. I feel like that the `reboot` method should be implemented in the `Guest` class (and its subclasses) and also probably in `ProvisionPlugin`'s subclasses which will just call the method of guest. The reboot during test will call the guest method to reboot (not sure which type of reboot, whether soft or hard)

[2021-05-31 16:49] pvalena commented on #656
I'm sorry I failed to allocate time for this. Is this still an issue (the mechanism was reworkder AFAIR).

[2021-06-01 08:06] #203 closed

[2021-06-01 08:51] lukaszachy commented on #197
Hi @wizardofoz123, In your restraint support in UPT  - Did you workaround restraint's need to install / fetch task on its own?
In other words - all test data are already present on the system, restraint should just execute right file from right directory.

[2021-06-01 09:03] wizardofoz123 commented on #197
@lukaszachy Hi, I haven't tried to solve that and with me leaving RH, I won't. Currently, we just ensure that every task has that <fetch> element.

[2021-06-01 09:16] psss commented on #790
Thanks for reporting this, should be fixed by #793.

[2021-06-01 11:43] #790 closed

[2021-06-01 16:50] #760 closed

[2021-06-04 07:50] ppisar opened #798 "dependency test executor is not documented"
Red Hat internal documentation mentions dependency test executor:

[code]

But I cannot see it in the upstream documentation at <https://tmt.readthedocs.io/en/stable/spec/plans.html#spec-plans-execute>.

I'd like to use the reverse dependency tests in Fedora <https://src.fedoraproject.org/rpms/perl-XS-Parse-Keyword/pull-request/2>, but it seams failing in the infrastructure <http://artifacts.dev.t

[2021-06-04 12:52] thrix commented on #798
Related issues: https://pagure.io/fedora-ci/general/issue/251

[2021-06-04 14:13] t184256 opened #799 "RFE: a way to pull in build-dependencies of a package"
I'd like to have a way to request all build dependencies of a package before the test gets executed.
Could be something like:

[code]

[2021-06-07 09:08] dkarpele commented on #759
Hi, I will take a look on this issue.

[2021-06-08 08:34] sopos opened #800 "run tests selection does not work as expected"
In https://github.com/RedHat-SP-Security/tests/tree/sopos-rsyslog-tls-shutdown/rsyslog/Regression/bz1880434-gnutls-shutdown:
[code]

This may be related to https://github.com/psss/tmt/issues/752

[2021-06-08 09:46] sopos opened #801 "what are all the possible ways to require a beakerlib library?"
Currently, beakerlib is able to parse metadata.yaml for libraries written in the form of `library(X/Y)` and `{url: "X", name:"Y"}`.

Please give me all the possible ways so I can implement it in beakerlib as well.

[2021-06-08 10:09] psss commented on #801
All supported library combinations should be documented in the [require](https://github.com/psss/tmt/issues/768) attribute. Let us know if there are any details still missing.

[2021-06-08 10:48] sopos commented on #502
Also `TestResults`. The `journal.txt` may be useful but not required.

[2021-06-09 12:36] RHEmployee commented on #775
Reboot during test should call and always call soft reboot. If there is something broken, then you need to investigate why machine is not able to reboot itself.

Another question is: do we really need best option? What means that: reboot failed?
Do we have some use cases? I don't have any in top of my head but I can be blind :).

[2021-06-09 12:43] RHEmployee commented on #570
Hi. This looks like issue which can be solved in internal minute plugin with right network settings.
Maybe we should close this issue here?

[2021-06-09 12:47] psss commented on #787
The old option has been already substituted in c9089f5108105b970347c04b9d86abfa58788202 about a year ago. Is there anything else which needs to be updated in the config, @lachmanfrantisek?

[2021-06-09 13:02] psss commented on #775
I'm not sure what would be the best way to handle reboots for containers, as there's no `reboot` supported:

[code]

Perhaps for them the `how="best"` option could be useful. Or for containers we could implement both `soft` and `hard` as container stop and start. Thoughts?

[2021-06-09 13:29] RHEmployee commented on #775
I think that this bug is about reboot from cmdline not within container.
If you have container and you can use podman, then you can reboot machine from outside similary as minute plugin instruments openstack.

However, reboot from inside can be tricky how it looks.

[2021-06-09 13:31] mrc0mmand commented on #775
This is expected, `reboot` is nowadays a symlink to `systemctl` which then uses dbus to send the `reboot` action. So, if the container runs as a *standard* container (i.e. without PID 1), reboot from within the container won't work. In such cases you have to invoke `podman restart <container-id>` from the outside.

[2021-06-10 09:27] lachmanfrantisek commented on #787
@psss I don't know why the issue was created. Maybe some activity on some old not-rebased PR? @mfocko WDYT?

And you are right, you can freely close the issue. The config looks good to me.

[2021-06-10 11:10] psss commented on #787
Ok, thanks for looking.

[2021-06-10 11:10] #787 closed

[2021-06-10 12:20] psss commented on #775
Well, I believe the reboot functinality for containers could still be useful. Imagine you have a process which got stuck in the container and eats a lot of cpu. IMO there should be an easy (and generic) way to reboot as any other guest implementation we have (except for `local` which is very "special"). I'd suggest to first finalize #794 as the first step and then dive into reboot from command lin

[2021-06-10 13:42] lukaszachy opened #802 "provision:virtual."

[2021-06-10 13:55] brakogh opened #803 "Enter the test directory after login to the guest"
Hi,

I'm using following command to run test and login to test machine:
_tmt run --all -vvv provision --how minute --image rhel8 test --name . login_

Test run ok. After login, I'm in following directory:
/var/tmp/tmt/run-018/plans/all/tree/

Naturally, I'm trying to run test from "tree" directory, in my case /var/tmp/tmt/run-018/plans/all/tree/integration/php-mariadb, by running runtest.sh. This